@page
@model SBHI.Pages.AboutModel
@{
}
<div class="content-sidebar-wrap">
	<main class="content">
		<section class="subpage-header" style="background-image:url(https://sbhi.app/wp-content/uploads/2016/02/bg-table-coffee-home-couch-furniture-1600x162.jpg);"><div class="wrap"><article><header class="entry-header"><span class="heading" itemprop="headline">About</span></header><div class="breadcrumbs"><div class="wrap"><span class="breadcrumb-link-wrap"><a class="breadcrumb-link" href="https://sbhi.app/"><span class="breadcrumb-link-text-wrap">Home</span></a><meta></span> <span class="bread-sep">></span> About</div></div></article></div></section><section class="full-width">
			<article class="post-25 page type-page status-publish entry" aria-label="About">
				<div class="entry-content">
					<div class="fl-builder-content fl-builder-content-25 fl-builder-content-primary fl-builder-global-templates-locked" data-post-id="25">
						<div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-5e388046cd00c fl-row-default-height fl-row-align-center page-subheader" data-node="5e388046cd00c">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e388046d096b" data-node="5e388046d096b">
										<div class="fl-col fl-node-5e388046d0ad4 fl-col-small subheader-content-box" data-node="5e388046d0ad4">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e3880161a571" data-node="5e3880161a571">
													<div class="fl-module-content fl-node-content">
														<h1 class="fl-heading">
															<span class="fl-heading-text">About <br>USHEALTH Group</span>
														</h1>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e3880c2bbf70" data-node="5e3880c2bbf70">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>USHEALTH Group, Inc. is a fully integrated insurance holding company based in Fort Worth, Texas, and is a UnitedHealthcare company. Its licensed insurance company subsidiaries Freedom Life Insurance Company of America, National Foundation Life Insurance Company, and Enterprise Life Insurance Company are dedicated to providing innovative Life, Specified Disease/Sickness, Accident and Disability Insurance solutions for self-employed individuals, families, small business owners and their employees. Through its insurance companies, USHEALTH Group has served more than 15 million customers with individually tailored plans for more than 50 collective years.</p>
															<div id="mouseposition-extension-element-full-container" style="position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; pointer-events: none; z-index: 2147483647; font-weight: 400;">
																<div id="mouseposition-extension-element-rect-display" style="display: none; position: absolute; background: rgba(255, 255, 255, 0.7); outline: black solid 1px; font-size: 12px; z-index: 2147483647; justify-content: center; align-items: center; user-select: none; cursor: default; color: #000000; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; width: 0px; height: 0px;">
<pre style="flex: 1 1 0%; text-align: center; background-color: rgba(255, 255, 255, 0.7); color: #000000; min-width: 42px; min-height: 12px; transition: all 1s ease 0s;"></pre>
																</div>
<pre id="mouseposition-extension-element-coordinate-display" style="position: absolute; display: none; background: #ffffff; font-size: 12px; line-height: 14px; border-radius: 3px; border-width: 1px; border-color: #222222 black #333333; border-style: solid; padding: 3px; z-index: 2147483647; color: #222222; user-select: none; cursor: default; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;"></pre>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="fl-col fl-node-5e388046d0ad8 fl-col-small" data-node="5e388046d0ad8">
											<div class="fl-col-content fl-node-content"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5e3885ddb9916 fl-row-default-height fl-row-align-center" data-node="5e3885ddb9916">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e3885ddbcf06" data-node="5e3885ddbcf06">
										<div class="fl-col fl-node-5e3885ddbd027" data-node="5e3885ddbd027">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e467f77b0e32" data-node="5e467f77b0e32">
													<div class="fl-module-content fl-node-content">
														<h2 class="fl-heading">
															<span class="fl-heading-text">OUR PRODUCTS</span>
														</h2>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e38861e73b3f" data-node="5e38861e73b3f">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>When it comes to health coverage, the USHEALTH Group family of companies understands that every customer has different needs. We believe in choice and we believe our customers truly value the array of options we provide as they choose the protection that is most appropriate for them. To that end, we have developed a broad portfolio of coverages that promote customer choice. Our innovative product designs make the USHEALTH Group family of companies uniquely qualified to address each customer’s need for flexibility and reliability in their insurance selections.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-full-width fl-row-bg-none fl-node-5e3888462cdd0 fl-row-default-height fl-row-align-center full-left-image" data-node="5e3888462cdd0">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-full-width fl-node-content">

									<div class="fl-col-group fl-node-5e38884632454 fl-col-group-equal-height fl-col-group-align-center" data-node="5e38884632454">
										<div class="fl-col fl-node-5e38884632583 fl-col-small full-left-img" data-node="5e38884632583">
											<div class="fl-col-content fl-node-content"></div>
										</div>
										<div class="fl-col fl-node-5e38884632587" data-node="5e38884632587">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-rich-text fl-node-5e3888c29c18d" data-node="5e3888c29c18d">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>For those customers who are either on a limited budget or are concerned about having to satisfy a high annual deductible before they receive any benefits from their insurance plan, we offer a portfolio of innovative products which provide first dollar benefits for covered services and substantial network discounts across a broad spectrum of providers. These plans are typically more affordable than more comprehensive plans, while still providing the first dollar protection and assurances that a limited protection plan offers.</p>
															<p>For customers who want the security of a more tailored coverage approach and can afford a specified level of cost sharing, USHEALTH Group’s family of companies unique selection of Specified Disease/Sickness and Accident Plans provide welcome solutions that are flexible and reliable, which are the hallmarks of USHEALTH Group’s ongoing commitment to customer satisfaction.</p>
															<p>No matter which type of health coverage they choose, we help our customers enhance their protection with our full line of ancillary products, including Critical Illness, Specified Disease/Sickness, Accident, Short Term Accident Disability Income, Income Protector, Term Life Insurance, Dental, and Vision Plans.</p>
															<p>In a marketplace characterized by high customer turnover and low customer loyalty, the USHEALTH Group insurance companies differentiate themselves by creating long-term relationships with our customers, making USHEALTH Group a trusted ally that consistently delivers on its promise of dependability.</p>
															<div id="mouseposition-extension-element-full-container" style="position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; pointer-events: none; z-index: 2147483647; font-weight: 400;">
																<div id="mouseposition-extension-element-rect-display" style="display: none; position: absolute; background: rgba(255, 255, 255, 0.7); outline: black solid 1px; font-size: 12px; z-index: 2147483647; justify-content: center; align-items: center; user-select: none; cursor: default; color: #000000; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; width: 0px; height: 0px;">
<pre style="flex: 1 1 0%; text-align: center; background-color: rgba(255, 255, 255, 0.7); color: #000000; min-width: 42px; min-height: 12px; transition: all 1s ease 0s;"></pre>
																</div>
<pre id="mouseposition-extension-element-coordinate-display" style="position: absolute; display: none; background: #ffffff; font-size: 12px; line-height: 14px; border-radius: 3px; border-width: 1px; border-color: #222222 black #333333; border-style: solid; padding: 3px; z-index: 2147483647; color: #222222; user-select: none; cursor: default; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;"></pre>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-5e388da137189 fl-row-default-height fl-row-align-center" data-node="5e388da137189">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e388da137178" data-node="5e388da137178">
										<div class="fl-col fl-node-5e388da13717b fl-col-small" data-node="5e388da13717b">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e388da13717e" data-node="5e388da13717e">
													<div class="fl-module-content fl-node-content">
														<h2 class="fl-heading">
															<span class="fl-heading-text">Stellar Service <br>Reputation</span>
														</h2>
													</div>
												</div>
											</div>
										</div>
										<div class="fl-col fl-node-5e388da13717d fl-col-has-cols" data-node="5e388da13717d">
											<div class="fl-col-content fl-node-content">
												<div class="fl-col-group fl-node-5e388da13717f fl-col-group-nested" data-node="5e388da13717f">
													<div class="fl-col fl-node-5e388da137181 fl-col-small" data-node="5e388da137181">
														<div class="fl-col-content fl-node-content">
															<div class="fl-module fl-module-numbers fl-node-5e388da137183 home-counter" data-node="5e388da137183">
																<div class="fl-module-content fl-node-content">
																	<div class="fl-number fl-number-default">
																		<div class="fl-number-text">

																			<div class="fl-number-string"><span class="fl-number-int" data-start-number="0" data-number="15" data-total="15"><noscript>15</noscript></span>million+</div>
																			<span class="fl-number-after-text">members covered so far</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="fl-col fl-node-5e388da137182 fl-col-small" data-node="5e388da137182">
														<div class="fl-col-content fl-node-content">
															<div class="fl-module fl-module-numbers fl-node-5e388da137184 home-counter" data-node="5e388da137184">
																<div class="fl-module-content fl-node-content">
																	<div class="fl-number fl-number-default">
																		<div class="fl-number-text">

																			<div class="fl-number-string"><span class="fl-number-int" data-start-number="0" data-number="50" data-total="50"><noscript>50</noscript></span>+ years</div>
																			<span class="fl-number-after-text">of industry experience</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="fl-col-group fl-node-5e388da137180 fl-col-group-nested" data-node="5e388da137180">
													<div class="fl-col fl-node-5e388da137185 fl-col-small" data-node="5e388da137185">
														<div class="fl-col-content fl-node-content">
															<div class="fl-module fl-module-numbers fl-node-5e388da137187 home-counter" data-node="5e388da137187">
																<div class="fl-module-content fl-node-content">
																	<div class="fl-number fl-number-default">
																		<div class="fl-number-text">

																			<div class="fl-number-string"><span class="fl-number-int" data-start-number="0" data-number="3" data-total="3"><noscript>3</noscript></span> years</div>
																			<span class="fl-number-after-text">insurance company of the year</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="fl-col fl-node-5e388da137186 fl-col-small" data-node="5e388da137186">
														<div class="fl-col-content fl-node-content">
															<div class="fl-module fl-module-numbers fl-node-5e388da137188 home-counter" data-node="5e388da137188">
																<div class="fl-module-content fl-node-content">
																	<div class="fl-number fl-number-default">
																		<div class="fl-number-text">

																			<div class="fl-number-string"><span class="fl-number-int" data-start-number="0" data-number="3600" data-total="3600"><noscript>3,600</noscript></span> + agents</div>
																			<span class="fl-number-after-text">around the country across 31 states</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5e388dc69723b fl-row-default-height fl-row-align-center" data-node="5e388dc69723b">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e388dc69fced" data-node="5e388dc69fced">
										<div class="fl-col fl-node-5e388dc69fe6f fl-col-small" data-node="5e388dc69fe6f">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e388e0fed76e" data-node="5e388e0fed76e">
													<div class="fl-module-content fl-node-content">
														<h2 class="fl-heading">
															<span class="fl-heading-text">Our Advisors</span>
														</h2>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e388e147d99d" data-node="5e388e147d99d">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>Our Specified Disease/Sickness, Accident, Life and supplemental products are made available through our wholly-owned subsidiary, USHEALTH Advisors, LLC. In the complex world of health insurance, our customers are assured of an exceptional buying experience anchored by the guidance of a licensed and trusted USHEALTH Advisors Agent, who must meet specific product training and certification standards before being authorized to represent our products.</p>
															<p>Our commitment to personal attention has made USHEALTH Advisors a recognized world leader for business growth, innovation and customer care. Every day, more and more individuals, families and business owners are turning to USHEALTH Advisors and USHEALTH Group to fulfill their insurance coverage needs.</p>
															<div id="mouseposition-extension-element-full-container" style="position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; pointer-events: none; z-index: 2147483647; font-weight: 400;">
																<div id="mouseposition-extension-element-rect-display" style="display: none; position: absolute; background: rgba(255, 255, 255, 0.7); outline: black solid 1px; font-size: 12px; z-index: 2147483647; justify-content: center; align-items: center; user-select: none; cursor: default; color: #000000; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; width: 0px; height: 0px;">
<pre style="flex: 1 1 0%; text-align: center; background-color: rgba(255, 255, 255, 0.7); color: #000000; min-width: 42px; min-height: 12px; transition: all 1s ease 0s;"></pre>
																</div>
<pre id="mouseposition-extension-element-coordinate-display" style="position: absolute; display: none; background: #ffffff; font-size: 12px; line-height: 14px; border-radius: 3px; border-width: 1px; border-color: #222222 black #333333; border-style: solid; padding: 3px; z-index: 2147483647; color: #222222; user-select: none; cursor: default; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;"></pre>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="fl-col fl-node-5e388dc69fe73 fl-col-small" data-node="5e388dc69fe73">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e388dcd946fe" data-node="5e388dcd946fe">
													<div class="fl-module-content fl-node-content">
														<h2 class="fl-heading">
															<span class="fl-heading-text">Our Service</span>
														</h2>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e388ddf005b3" data-node="5e388ddf005b3">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>The USHEALTH Group subsidiaries understand two fundamental truths: 1) every customer is unique and, 2) a “one size fits all” approach is not always the answer. That’s why we provide a broad choice of flexible solutions that meet each customer’s individual needs. Once our customer chooses their plan, USHEALTH Group solidifies their decision with our award-winning customer service and exceptional claim processing.</p>
															<p>Being named a 2013 Top 50 North American Call Center ranks USHEALTH Group among the elite companies in America for customer service. And with average claim processing and payment cycles that are the envy of the insurance industry, USHEALTH Group has built a stellar reputation for customer care.</p>
															<div id="mouseposition-extension-element-full-container" style="position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; pointer-events: none; z-index: 2147483647; font-weight: 400;">
																<div id="mouseposition-extension-element-rect-display" style="display: none; position: absolute; background: rgba(255, 255, 255, 0.7); outline: black solid 1px; font-size: 12px; z-index: 2147483647; justify-content: center; align-items: center; user-select: none; cursor: default; color: #000000; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; width: 0px; height: 0px;">
<pre style="flex: 1 1 0%; text-align: center; background-color: rgba(255, 255, 255, 0.7); color: #000000; min-width: 42px; min-height: 12px; transition: all 1s ease 0s;"></pre>
																</div>
<pre id="mouseposition-extension-element-coordinate-display" style="position: absolute; display: none; background: #ffffff; font-size: 12px; line-height: 14px; border-radius: 3px; border-width: 1px; border-color: #222222 black #333333; border-style: solid; padding: 3px; z-index: 2147483647; color: #222222; user-select: none; cursor: default; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;"></pre>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</section>
	</main>
</div>