@page
@model SBHI.Pages.AwardsModel
@{
}
<div class="content-sidebar-wrap">
	<main class="content">
		<section class="subpage-header" style="background-image:url(https://sbhi.app/wp-content/uploads/2016/02/bg_subpage2-1600x162.jpg);"><div class="wrap"><article><header class="entry-header"><span class="heading" itemprop="headline">Awards</span></header><div class="breadcrumbs"><div class="wrap"><span class="breadcrumb-link-wrap"><a class="breadcrumb-link" href="https://sbhi.app/"><span class="breadcrumb-link-text-wrap">Home</span></a><meta></span> <span class="bread-sep">></span> Awards</div></div></article></div></section><section class="full-width">
			<article class="post-17967 page type-page status-publish entry" aria-label="Awards">
				<div class="entry-content">
					<div class="fl-builder-content fl-builder-content-17967 fl-builder-content-primary fl-builder-global-templates-locked" data-post-id="17967">
						<div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-5e41c16c9b41f fl-row-default-height fl-row-align-center page-subheader" data-node="5e41c16c9b41f">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e41c16c9b415" data-node="5e41c16c9b415">
										<div class="fl-col fl-node-5e41c16c9b418 fl-col-small subheader-content-box" data-node="5e41c16c9b418">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e41c16c9b41d" data-node="5e41c16c9b41d">
													<div class="fl-module-content fl-node-content">
														<h1 class="fl-heading">
															<span class="fl-heading-text">Awards</span>
														</h1>
													</div>
												</div>
												<div class="fl-module fl-module-heading fl-node-5e5eb06209c66" data-node="5e5eb06209c66">
													<div class="fl-module-content fl-node-content">
														<h4 class="fl-heading">
															<span class="fl-heading-text">“I’m proud of what we’ve achieved together. I’m even more proud of how we achieved it.” <br>– Troy McQuagge, CEO, USHEALTH Group</span>
														</h4>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e41c16c9b41e" data-node="5e41c16c9b41e">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>Since 2012, the world has taken notice of USHEALTH Group’s transformation into becoming a world-class company. The funny thing is this - accolades and awards was never our goal. It was always about creating the best possible version of our company and its people. Today’s USHEALTH Group is world-class because it focuses on providing innovative products and outstanding service that our agents and customers can believe in.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="fl-col fl-node-5e41c16c9b41c fl-col-small" data-node="5e41c16c9b41c">
											<div class="fl-col-content fl-node-content"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5e41c16c9b420 fl-row-default-height fl-row-align-center" data-node="5e41c16c9b420">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e41c16c9b421" data-node="5e41c16c9b421">
										<div class="fl-col fl-node-5e41c16c9b422 fl-col-small" data-node="5e41c16c9b422">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-rich-text fl-node-5e41c16c9b426" data-node="5e41c16c9b426">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<h3>
																<strong>
																	STEVIE AWARDS <img loading="lazy" decoding="async" class="alignright wp-image-19002 " src="https://sbhi.app/wp-content/uploads/2020/03/Stevie-Badge.png" alt="" width="132" height="162" srcset="https://sbhi.app/wp-content/uploads/2020/03/Stevie-Badge.png 215w, https://sbhi.app/wp-content/uploads/2020/03/Stevie-Badge-61x75.png 61w, https://sbhi.app/wp-content/uploads/2020/03/Stevie-Badge-123x150.png 123w" sizes="(max-width: 132px) 100vw, 132px" /><br />
																</strong>
															</h3>
															<h3><strong>2020 </strong></h3>
															<p><strong>Gold </strong></p>
															<ul>
																<li>USHEALTH Group, Inc. – Company of the Year, Insurance, Large</li>
																<li>Troy McQuagge – Lifetime Achievement Award</li>
															</ul>
															<p><strong>Silver </strong></p>
															<ul>
																<li>USHEALTH Group, Inc – Company of the Year, Large</li>
																<li>Troy McQuagge – Lifetime Achievement Award</li>
															</ul>
															<p><strong>Crystal</strong></p>
															<ul>
																<li>USHEALTH Group, Inc. – People's Choice Award</li>
															</ul>
															<h3><strong>2019 </strong></h3>
															<p><strong>Gold </strong></p>
															<ul>
																<li>USHEALTH Advisors, LLC – Company of the Year, Insurance (Large)</li>
																<li>USHEALTH Advisors, LLC – Sales Diversity and Inclusivity Initiative of the Year</li>
															</ul>
															<p><strong>Bronze</strong></p>
															<ul>
																<li>USHEALTH Advisors, LLC – Most Innovative Company of the Year</li>
																<li>USHEALTH Advisors, LLC – Troy McQuagge CEO – Lifetime Achievement Award (Consumer Product Industries)</li>
															</ul>
															<h3><strong>2018 </strong></h3>
															<p><strong>Gold </strong></p>
															<ul>
																<li>USHEALTH Advisors, LLC -Company of the Year, Insurance</li>
																<li>USHEALTH Group, Inc. – Best Use of Technology in Customer Service</li>
																<li>Troy McQuagge – Executive of the Year, Insurance</li>
															</ul>
															<p><strong>Silver</strong></p>
															<ul>
																<li>USHEALTH Group, Inc. – Innovation in Customer Service</li>
																<li>Troy McQuagge – Lifetime Achievement Award, Consumer Services Industries</li>
															</ul>
															<h3><strong>2017 </strong></h3>
															<p><strong>Gold </strong></p>
															<ul>
																<li>USHEALTH Group, Inc. – Customer Service Team of the Year (Turnaround Situation)</li>
																<li>USHEALTH Advisors, LLC -National Sales Team of the Year</li>
															</ul>
															<p><strong>Silver</strong></p>
															<ul>
																<li>Troy McQuagge – Executive of the Year, Insurance</li>
																<li>USHEALTH Group, Inc. – Corporate Social Responsibility Program of the Year</li>
															</ul>
															<p><strong>Bronze</strong></p>
															<ul>
																<li>USHEALTH Group, Inc. – Sales Growth Achievement of the Year, Insurance Company of the Year – Large</li>
															</ul>
															<h3><strong>2016 </strong></h3>
															<p><strong>Gold</strong></p>
															<ul>
																<li>USHEALTH Group, Inc. – Company of the Year, Insurance</li>
															</ul>
															<p><strong>Silver</strong></p>
															<ul>
																<li>USHEALTH Group, Inc. – Most Innovative Company of the Year</li>
																<li>USHEALTH Advisors, LLC – Field Sales Team of the Year, Sales Growth Achievement of the Year</li>
															</ul>
															<h3><strong>2015 </strong></h3>
															<p><strong>Silver</strong></p>
															<ul>
																<li>USHEALTH Advisors, LLC – Company of the Year, Insurance</li>
															</ul>
															<p><strong>Bronze</strong></p>
															<ul>
																<li>USHEALTH Advisors, LLC – Field Sales Team of the Year, Sales Growth Achievement of the Year, Most Innovative Company of the Year, Fastest Growing Company of the Year</li>
															</ul>
															<p><strong>Crystal</strong></p>
															<ul>
																<li>USHEALTH Advisors, LLC – People’s Choice Award for Favorite Companies</li>
															</ul>
															<h3><strong>2014 </strong></h3>
															<p><strong>Bronze</strong></p>
															<ul>
																<li>USHEALTH Advisors, LLC – Fastest Growing Company</li>
															</ul>
															<h3><strong>2013 </strong></h3>
															<p><strong>Bronze</strong></p>
															<p>USHEALTH Advisors, LLC – Fastest Growing Company in US &amp; Canada, Most Innovative Company</p>
															<h3><strong>2012 </strong></h3>
															<p><strong>Silver</strong></p>
															<ul>
																<li>USHEALTH Advisors, LLC – Sales Turnaround of the Year</li>
															</ul>
															<p><strong>Bronze</strong></p>
															<ul>
																<li>USHEALTH Advisors, LLC – Fastest Growing Company</li>
															</ul>
															<div id="mouseposition-extension-element-full-container" style="position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; pointer-events: none; z-index: 2147483647; font-weight: 400;">
																<div id="mouseposition-extension-element-rect-display" style="display: none; position: absolute; background: rgba(255, 255, 255, 0.7); outline: black solid 1px; font-size: 12px; z-index: 2147483647; justify-content: center; align-items: center; user-select: none; cursor: default; color: #000000; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; width: 0px; height: 0px;">
<pre style="flex: 1 1 0%; text-align: center; background-color: rgba(255, 255, 255, 0.7); color: #000000; min-width: 42px; min-height: 12px; transition: all 1s ease 0s;"></pre>
																</div>
<pre id="mouseposition-extension-element-coordinate-display" style="position: absolute; display: none; background: #ffffff; font-size: 12px; line-height: 14px; border-radius: 3px; border-width: 1px; border-color: #222222 black #333333; border-style: solid; padding: 3px; z-index: 2147483647; color: #222222; user-select: none; cursor: default; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;"></pre>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="fl-col fl-node-5e4dad3379850 fl-col-small" data-node="5e4dad3379850">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-rich-text fl-node-5e4dad337993d" data-node="5e4dad337993d">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-one-half fusion-column-last 1_2">
																<div class="fusion-column-wrapper" data-bg-url="">
																	<div class="fusion-text">
																		<p><span class="fusion-imageframe imageframe-none imageframe-4 hover-type-none"><img loading="lazy" decoding="async" class="size-full wp-image-18486 alignright" src="https://sbhi.app/wp-content/uploads/2020/02/GBA-GoldCoins200x.png" alt="" width="200" height="160" srcset="https://sbhi.app/wp-content/uploads/2020/02/GBA-GoldCoins200x.png 200w, https://sbhi.app/wp-content/uploads/2020/02/GBA-GoldCoins200x-75x60.png 75w, https://sbhi.app/wp-content/uploads/2020/02/GBA-GoldCoins200x-188x150.png 188w" sizes="(max-width: 200px) 100vw, 200px" /></span></p>
																		<h3><span style="font-size: 30px;"><strong>GOLDEN BRIDGE AWARDS</strong></span></h3>
																		<h3><strong>2017 </strong></h3>
																		<p><strong>Gold</strong></p>
																		<ul>
																			<li>USHEALTH Group, Inc. – Company of the Year, Corporate Social Responsibility Program of the Year</li>
																		</ul>
																		<h3><strong>2016 </strong></h3>
																		<p><strong>Gold</strong></p>
																		<ul>
																			<li>USHEALTH Group, Inc. – Company of the Year, Insurance</li>
																		</ul>
																	</div>
																	<div class="fusion-text">
																		<h3><span style="font-size: 30px;"><strong>CEO WORLD AWARDS</strong></span></h3>
																		<h3><strong>2020</strong></h3>
																		<p><strong>Gold</strong></p>
																		<ul>
																			<li>USHEALTH Group, Inc. - Company of the Year</li>
																		</ul>
																		<p><strong>Silver</strong></p>
																		<ul>
																			<li>Troy McQuagge - CEO of the Year</li>
																		</ul>
																		<h3><strong>2019 </strong></h3>
																		<p><strong>Gold</strong></p>
																		<ul>
																			<li>Troy McQuagge – Innovator of the Year</li>
																			<li>Troy McQuagge – Lifetime Achievement</li>
																		</ul>
																		<p><strong>Silver</strong></p>
																		<ul>
																			<li>Troy McQuagge – Transformation Leader of the Year</li>
																			<li>Troy McQuagge – CEO of the Year</li>
																		</ul>
																		<h3><strong>2017 </strong></h3>
																		<p><strong>Gold</strong></p>
																		<ul>
																			<li>Troy McQuagge – CEO of the Year</li>
																			<li>USHEALTH Group, Inc. – Best Product Innovation of the Year</li>
																		</ul>
																		<p><strong>Silver</strong></p>
																		<ul>
																			<li>USHEALTH Group, Inc. – Best Overall Company of the Year</li>
																		</ul>
																		<h3><strong>2016 </strong></h3>
																		<p><strong>Gold</strong></p>
																		<ul>
																			<li>Troy McQuagge – CEO of the Year, Most Innovative CEO of the Year</li>
																		</ul>
																	</div>
																	<div class="fusion-text">
																		<p><span class="fusion-imageframe imageframe-none imageframe-5 hover-type-none"><img loading="lazy" decoding="async" class="size-full wp-image-18487 alignright" src="https://sbhi.app/wp-content/uploads/2020/02/One-Planet-e1516053922965.png" alt="" width="200" height="156" srcset="https://sbhi.app/wp-content/uploads/2020/02/One-Planet-e1516053922965.png 200w, https://sbhi.app/wp-content/uploads/2020/02/One-Planet-e1516053922965-75x59.png 75w, https://sbhi.app/wp-content/uploads/2020/02/One-Planet-e1516053922965-192x150.png 192w" sizes="(max-width: 200px) 100vw, 200px" /></span></p>
																		<h3><span style="font-size: 30px;"><strong>ONE PLANET AWARDS</strong></span></h3>
																		<h3><strong>2016 </strong></h3>
																		<p><strong>Gold</strong></p>
																		<ul>
																			<li>Troy McQuagge – CEO of the Year</li>
																			<li>USHEALTH Group, Inc. – Company of the Year</li>
																		</ul>
																	</div>
																	<div class="fusion-clearfix"></div>
																</div>
															</div>
															<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
																<div class="fusion-column-wrapper" data-bg-url=""></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</section>
	</main>
</div>
<script nitro-exclude>
	document.cookie = 'nitroCachedPage=' + (!window.NITROPACK_STATE ? '0' : '1') + '; path=/; SameSite=Lax';
</script></div><footer class="fl-builder-content fl-builder-content-8536 fl-builder-global-templates-locked" data-post-id="8536" data-type="footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
	<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-5b48614dca49d fl-row-default-height fl-row-align-center main-footer-wrapper" data-node="5b48614dca49d">
		<div class="fl-row-content-wrap">
			<div class="fl-row-content fl-row-fixed-width fl-node-content">

				<div class="fl-col-group fl-node-5e38506cb31bf" data-node="5e38506cb31bf">
					<div class="fl-col fl-node-5e38506cb32f3 fl-col-small footer-newsletter-wrapper" data-node="5e38506cb32f3">
						<div class="fl-col-content fl-node-content">
							<div class="fl-module fl-module-pp-gravity-form fl-node-5e385078da357 newsletter-footer" data-node="5e385078da357">
								<div class="fl-module-content fl-node-content">
									<div class="pp-gf-content">
										<div class="pp-gf-inner">
											<h3 class="form-title"></h3>
											<p class="form-description">
												Subscribe to get future
												updates.
											</p>
											<script type="text/javascript"></script>
											<div class='gf_browser_chrome gform_wrapper gform_legacy_markup_wrapper gform-theme--no-framework' data-form-theme='legacy' data-form-index='0' id='gform_wrapper_4'>
												<div id='gf_4' class='gform_anchor' tabindex='-1'></div>
												<div class='gform_heading'>
													<p class='gform_description'></p>
												</div><form method='post' enctype='multipart/form-data' target='gform_ajax_frame_4' id='gform_4' action='/awards/#gf_4' data-formid='4' novalidate>
													<div class='gform-body gform_body'>
														<ul id='gform_fields_4' class='gform_fields top_label form_sublabel_below description_below validation_below'>
															<li id="field_4_3" class="gfield gfield--type-email gf_right_half gfield_contains_required field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible" data-js-reload="field_4_3">
																<label class='gfield_label gform-field-label' for='input_4_3'>Email<span class="gfield_required"><span class="gfield_required gfield_required_asterisk">*</span></span></label><div class='ginput_container ginput_container_email'>
																	<input name='input_3' id='input_4_3' type='email' value='' class='large' tabindex='10' placeholder='Email' aria-required="true" aria-invalid="false" />
																</div>
															</li>
														</ul>
													</div>
													<div class='gform_footer top_label'>
														<input type='submit' id='gform_submit_button_4' class='gform_button button' value='Subscribe' tabindex='11' onclick='if(window["gf_submitting_4"]){return false;}  if( !jQuery("#gform_4")[0].checkValidity || jQuery("#gform_4")[0].checkValidity()){window["gf_submitting_4"]=true;}  ' onkeypress='if( event.keyCode == 13 ){ if(window["gf_submitting_4"]){return false;} if( !jQuery("#gform_4")[0].checkValidity || jQuery("#gform_4")[0].checkValidity()){window["gf_submitting_4"]=true;}  jQuery("#gform_4").trigger("submit",[true]); }' /> <input type='hidden' name='gform_ajax' value='form_id=4&amp;title=&amp;description=1&amp;tabindex=100&amp;theme=legacy' />
														<input type='hidden' class='gform_hidden' name='is_submit_4' value='1' />
														<input type='hidden' class='gform_hidden' name='gform_submit' value='4' />

														<input type='hidden' class='gform_hidden' name='gform_unique_id' value='' />
														<input type='hidden' class='gform_hidden' name='state_4' value='WyJbXSIsImFhZjJlNjRjNDY0Yjg1Mzg5MDgzZjEzYjZjOTBlNTY5Il0=' />
														<input type='hidden' class='gform_hidden' name='gform_target_page_number_4' id='gform_target_page_number_4' value='0' />
														<input type='hidden' class='gform_hidden' name='gform_source_page_number_4' id='gform_source_page_number_4' value='1' />
														<input type='hidden' name='gform_field_values' value='' />

													</div>
													<p style="display: none !important;" class="akismet-fields-container" data-prefix="ak_"><label>&#916;<textarea name="ak_hp_textarea" cols="45" rows="8" maxlength="100"></textarea></label><input type="hidden" id="ak_js_1" name="ak_js" value="153" /><script>document.getElementById("ak_js_1").setAttribute("value", (new Date()).getTime());</script></p>
												</form>
											</div>
											<iframe style='display:none;width:0px;height:0px;' src='about:blank' name='gform_ajax_frame_4' id='gform_ajax_frame_4' title='This iframe contains the logic required to handle Ajax powered Gravity Forms.'></iframe>
											<script type="text/javascript">
												/* <![CDATA[ */
												gform.initializeOnLoaded(function () { gformInitSpinner(4, 'https://sbhi.app/wp-content/plugins/gravityforms/images/spinner.svg', true); jQuery('#gform_ajax_frame_4').on('load', function () { var contents = jQuery(this).contents().find('*').html(); var is_postback = contents.indexOf('GF_AJAX_POSTBACK') >= 0; if (!is_postback) { return; } var form_content = jQuery(this).contents().find('#gform_wrapper_4'); var is_confirmation = jQuery(this).contents().find('#gform_confirmation_wrapper_4').length > 0; var is_redirect = contents.indexOf('gformRedirect(){') >= 0; var is_form = form_content.length > 0 && !is_redirect && !is_confirmation; var mt = parseInt(jQuery('html').css('margin-top'), 10) + parseInt(jQuery('body').css('margin-top'), 10) + 100; if (is_form) { jQuery('#gform_wrapper_4').html(form_content.html()); if (form_content.hasClass('gform_validation_error')) { jQuery('#gform_wrapper_4').addClass('gform_validation_error'); } else { jQuery('#gform_wrapper_4').removeClass('gform_validation_error'); } setTimeout(function () { /* delay the scroll by 50 milliseconds to fix a bug in chrome */ jQuery(document).scrollTop(jQuery('#gform_wrapper_4').offset().top - mt); }, 50); if (window['gformInitDatepicker']) { gformInitDatepicker(); } if (window['gformInitPriceFields']) { gformInitPriceFields(); } var current_page = jQuery('#gform_source_page_number_4').val(); gformInitSpinner(4, 'https://sbhi.app/wp-content/plugins/gravityforms/images/spinner.svg', true); jQuery(document).trigger('gform_page_loaded', [4, current_page]); window['gf_submitting_4'] = false; } else if (!is_redirect) { var confirmation_content = jQuery(this).contents().find('.GF_AJAX_POSTBACK').html(); if (!confirmation_content) { confirmation_content = contents; } jQuery('#gform_wrapper_4').replaceWith(confirmation_content); jQuery(document).scrollTop(jQuery('#gf_4').offset().top - mt); jQuery(document).trigger('gform_confirmation_loaded', [4]); window['gf_submitting_4'] = false; wp.a11y.speak(jQuery('#gform_confirmation_message_4').text()); } else { jQuery('#gform_4').append(contents); if (window['gformRedirect']) { gformRedirect(); } } jQuery(document).trigger("gform_pre_post_render", [{ formId: "4", currentPage: "current_page", abort: function () { this.preventDefault(); } }]); if (event && event.defaultPrevented) { return; } const gformWrapperDiv = document.getElementById("gform_wrapper_4"); if (gformWrapperDiv) { const visibilitySpan = document.createElement("span"); visibilitySpan.id = "gform_visibility_test_4"; gformWrapperDiv.insertAdjacentElement("afterend", visibilitySpan); } const visibilityTestDiv = document.getElementById("gform_visibility_test_4"); let postRenderFired = false; function triggerPostRender() { if (postRenderFired) { return; } postRenderFired = true; jQuery(document).trigger('gform_post_render', [4, current_page]); gform.utils.trigger({ event: 'gform/postRender', native: false, data: { formId: 4, currentPage: current_page } }); if (visibilityTestDiv) { visibilityTestDiv.parentNode.removeChild(visibilityTestDiv); } } function debounce(func, wait, immediate) { var timeout; return function () { var context = this, args = arguments; var later = function () { timeout = null; if (!immediate) func.apply(context, args); }; var callNow = immediate && !timeout; clearTimeout(timeout); timeout = setTimeout(later, wait); if (callNow) func.apply(context, args); }; } const debouncedTriggerPostRender = debounce(function () { triggerPostRender(); }, 200); if (visibilityTestDiv && visibilityTestDiv.offsetParent === null) { const observer = new MutationObserver((mutations) => { mutations.forEach((mutation) => { if (mutation.type === 'attributes' && visibilityTestDiv.offsetParent !== null) { debouncedTriggerPostRender(); observer.disconnect(); } }); }); observer.observe(document.body, { attributes: true, childList: false, subtree: true, attributeFilter: ['style', 'class'], }); } else { triggerPostRender(); } }); });
												/* ]]> */
											</script>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="fl-col fl-node-5e38506cb32f7 fl-col-small footer-terms-wrapper" data-node="5e38506cb32f7">
						<div class="fl-col-content fl-node-content">
							<div class="fl-module fl-module-rich-text fl-node-5e3851e9929b5 footer-newsletter-terms" data-node="5e3851e9929b5">
								<div class="fl-module-content fl-node-content">
									<div class="fl-rich-text">
										<p>By signing up, you are agreeing to our <a href="https://www.uhc.com/content/dam/uhcdotcom/en/npp/OSPP-USHealthGroup-EN.pdf" target="_blank" rel="noopener">Privacy Policy</a> and <a href="https://www.uhc.com/content/dam/uhcdotcom/en/npp/TOU-USHealthGroup-EN.pdf" target="_blank" rel="noopener">Terms of Use</a>. You can unsubscribe at any time.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="fl-col fl-node-5e3851c720ab0 fl-col-small footer-social-wrapper" data-node="5e3851c720ab0">
						<div class="fl-col-content fl-node-content">
							<div class="fl-module fl-module-pp-social-icons fl-node-5e3852263daba footer-social" data-node="5e3852263daba">
								<div class="fl-module-content fl-node-content">
									<div class="pp-social-icons pp-social-icons-horizontal">
										<span class="pp-social-icon" itemscope itemtype="https://schema.org/Organization">
											<link itemprop="url" href="https://www.ushealthgroup.com">
											<a itemprop="sameAs" href="https://www.facebook.com/ushealthdirect" target="_blank" title="Facebook" aria-label="Facebook" role="button" rel="noopener noreferrer external">
												<i class="ua-icon ua-icon-facebook22"></i>
											</a>
										</span>
										<span class="pp-social-icon" itemscope itemtype="https://schema.org/Organization">
											<link itemprop="url" href="https://www.ushealthgroup.com">
											<a itemprop="sameAs" href="https://twitter.com/ushealth_group" target="_blank" title="" aria-label="" role="button" rel="noopener noreferrer external">
												<i class="ua-icon ua-icon-twitter2"></i>
											</a>
										</span>
										<span class="pp-social-icon" itemscope itemtype="https://schema.org/Organization">
											<link itemprop="url" href="https://www.ushealthgroup.com">
											<a itemprop="sameAs" href="https://www.linkedin.com/company/ushealthgroup/" target="_blank" title="" aria-label="" role="button" rel="noopener noreferrer external">
												<i class="ua-icon ua-icon-linkedin2"></i>
											</a>
										</span>
										<span class="pp-social-icon" itemscope itemtype="https://schema.org/Organization">
											<link itemprop="url" href="https://www.ushealthgroup.com">
											<a itemprop="sameAs" href="https://www.instagram.com/ushealth_group/" target="_blank" title="" aria-label="" role="button" rel="noopener noreferrer external">
												<i class="ua-icon ua-icon-instagram"></i>
											</a>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="fl-col-group fl-node-5e3876e4ef135" data-node="5e3876e4ef135">
					<div class="fl-col fl-node-5e3876e4ef273" data-node="5e3876e4ef273">
						<div class="fl-col-content fl-node-content">
							<div class="fl-module fl-module-separator fl-node-5e3876e4ef02e" data-node="5e3876e4ef02e">
								<div class="fl-module-content fl-node-content">
									<div class="fl-separator"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="fl-col-group fl-node-5b48614dca4e1" data-node="5b48614dca4e1">
					<div class="fl-col fl-node-5b48614dca5ac fl-col-small" data-node="5b48614dca5ac">
						<div class="fl-col-content fl-node-content">
							<div class="fl-module fl-module-heading fl-node-5e3830d7df224" data-node="5e3830d7df224">
								<div class="fl-module-content fl-node-content">
									<h3 class="fl-heading">
										<span class="fl-heading-text">Let us help you customize <br>your health coverage today.</span>
									</h3>
								</div>
							</div>
							<div class="fl-module fl-module-button fl-node-5e3831016246b" data-node="5e3831016246b">
								<div class="fl-module-content fl-node-content">
									<div class="fl-button-wrap fl-button-width-auto fl-button-left">
										<a href="/get-a-quote/" target="_self" class="fl-button">
											<span class="fl-button-text">Get Started</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="fl-col fl-node-5b48614dca526 fl-col-small fl-col-has-cols" data-node="5b48614dca526">
						<div class="fl-col-content fl-node-content">
							<div class="fl-col-group fl-node-5e383110c0e21 fl-col-group-nested" data-node="5e383110c0e21">
								<div class="fl-col fl-node-5e383110c0eae fl-col-small" data-node="5e383110c0eae">
									<div class="fl-col-content fl-node-content">
										<div class="fl-module fl-module-rich-text fl-node-5e38311bd3d92 footer-menu-link" data-node="5e38311bd3d92">
											<div class="fl-module-content fl-node-content">
												<div class="fl-rich-text">
													<p>
														<a href="/about/">About Us</a><br />
														<a href="/ppo-networks/">PPO Networks</a><br />
														<a href="/contact-us/">Contact Home Office</a><br />
														<a href="https://www.uhc.com/content/dam/uhcdotcom/en/npp/OSPP-USHealthGroup-EN.pdf" target="_blank" rel="noopener">Privacy Policy</a><br />
														<a href="https://www.uhc.com/content/dam/uhcdotcom/en/npp/HealthDataPrivacyPolicy-EN.pdf" target="_blank" rel="noopener">Health Data Privacy Policy</a>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="fl-col fl-node-5e383110c0eb1 fl-col-small" data-node="5e383110c0eb1">
									<div class="fl-col-content fl-node-content">
										<div class="fl-module fl-module-rich-text fl-node-5e383157c6363 footer-menu-link" data-node="5e383157c6363">
											<div class="fl-module-content fl-node-content">
												<div class="fl-rich-text">
													<p>
														<a href="/blog/">Blog</a><br />
														<a href="/member-services/">Member Services</a><br />
														<a href="/hope/">HOPE</a><br />
														<a href="https://www.uhc.com/content/dam/uhcdotcom/en/npp/TOU-USHealthGroup-EN.pdf" target="_blank" rel="noopener">Terms of Use</a>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="fl-row fl-row-fixed-width fl-row-bg-color fl-node-5e3834eb8f16a fl-row-default-height fl-row-align-center" data-node="5e3834eb8f16a">
		<div class="fl-row-content-wrap">
			<div class="fl-row-content fl-row-fixed-width fl-node-content">

				<div class="fl-col-group fl-node-5e3834eb94655" data-node="5e3834eb94655">
					<div class="fl-col fl-node-5e3834eb94770 fl-col-small" data-node="5e3834eb94770">
						<div class="fl-col-content fl-node-content">
							<div class="fl-module fl-module-rich-text fl-node-5e3834f43a842" data-node="5e3834f43a842">
								<div class="fl-module-content fl-node-content">
									<div class="fl-rich-text">
										<p><strong>Legal Notice :</strong> All products are underwritten and issued by Freedom Life Insurance Company of America, National Foundation Life Insurance Company and Enterprise Life Insurance Company, wholly owned subsidiaries of USHEALTH Group, Inc. All products not available in all states. Contact a Licensed Insurance Agent for additional information.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="fl-col fl-node-5e3834eb94774 fl-col-small" data-node="5e3834eb94774">
						<div class="fl-col-content fl-node-content">
							<div class="fl-module fl-module-pp-infobox fl-node-5e3835d5e7d32 footer-info-list" data-node="5e3835d5e7d32">
								<div class="fl-module-content fl-node-content">
									<div class="pp-infobox-wrap">
										<div class="pp-infobox layout-3">
											<div class="layout-3-wrapper">
												<div class="pp-icon-wrapper animated">
													<div class="pp-infobox-image">
														<img decoding="async" src="https://sbhi.app/wp-content/uploads/2020/02/pin.svg" alt="pin" />
													</div>
												</div>
												<div class="pp-heading-wrapper">

													<div class="pp-infobox-title-wrapper"><h4 class="pp-infobox-title"></h4></div>

													<div class="pp-infobox-description">
														<div class="pp-description-wrap">
															<p><a href="https://goo.gl/maps/mzoTsvRbABeNs7tR7" target="_blank" rel="noopener" title="location">300 Burnett Street, Suite 200 Fort Worth, TX 76102-2734</a></p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="fl-module fl-module-pp-infobox fl-node-5e384a2c27e93 footer-info-list" data-node="5e384a2c27e93">
								<div class="fl-module-content fl-node-content">
									<div class="pp-infobox-wrap">
										<div class="pp-infobox layout-3">
											<div class="layout-3-wrapper">
												<div class="pp-icon-wrapper animated">
													<div class="pp-infobox-image">
														<img decoding="async" src="https://sbhi.app/wp-content/uploads/2020/02/phone.svg" alt="phone" />
													</div>
												</div>
												<div class="pp-heading-wrapper">

													<div class="pp-infobox-title-wrapper"><h4 class="pp-infobox-title"></h4></div>

													<div class="pp-infobox-description">
														<div class="pp-description-wrap">
															<p><a href="tel:+18667228744" target="_blank" rel="noopener" title="phone">1-866-722-8744</a></p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="fl-module fl-module-pp-infobox fl-node-5e384a8773b53 footer-info-list" data-node="5e384a8773b53">
								<div class="fl-module-content fl-node-content">
									<div class="pp-infobox-wrap">
										<div class="pp-infobox layout-3">
											<div class="layout-3-wrapper">
												<div class="pp-icon-wrapper animated">
													<div class="pp-infobox-image">
														<img decoding="async" src="https://sbhi.app/wp-content/uploads/2020/02/close-envelope-2.svg" alt="close-envelope (2)" />
													</div>
												</div>
												<div class="pp-heading-wrapper">

													<div class="pp-infobox-title-wrapper"><h4 class="pp-infobox-title"></h4></div>

													<div class="pp-infobox-description">
														<div class="pp-description-wrap">
															<p><a href="/cdn-cgi/l/email-protection#553c3b333a1520263d303439213d32273a20257b363a38" target="_blank" rel="noopener" title="email"><span class="__cf_email__" data-cfemail="d2bbbcb4bd92a7a1bab7b3bea6bab5a0bda7a2fcb1bdbf">[email&#160;protected]</span></a></p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="fl-col fl-node-5e3834eb94775 fl-col-small" data-node="5e3834eb94775">
						<div class="fl-col-content fl-node-content">
							<div class="fl-module fl-module-pp-infobox fl-node-5e384ad97fb7b footer-info-list" data-node="5e384ad97fb7b">
								<div class="fl-module-content fl-node-content">
									<div class="pp-infobox-wrap">
										<div class="pp-infobox layout-3">
											<div class="layout-3-wrapper">
												<div class="pp-icon-wrapper animated">
													<div class="pp-infobox-image">
														<img decoding="async" src="https://sbhi.app/wp-content/uploads/2020/02/clock.svg" alt="clock" />
													</div>
												</div>
												<div class="pp-heading-wrapper">

													<div class="pp-infobox-title-wrapper"><h4 class="pp-infobox-title"></h4></div>

													<div class="pp-infobox-description">
														<div class="pp-description-wrap">
															<p>7:00 AM - 7:00 PM CT Monday - Friday <br />8:00 AM - 1:00 PM CT Saturday</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="fl-module fl-module-pp-infobox fl-node-5e384ae3e316a footer-info-list" data-node="5e384ae3e316a">
								<div class="fl-module-content fl-node-content">
									<div class="pp-infobox-wrap">
										<div class="pp-infobox layout-3">
											<div class="layout-3-wrapper">
												<div class="pp-icon-wrapper animated">
													<div class="pp-infobox-image">
														<img decoding="async" src="https://sbhi.app/wp-content/uploads/2020/02/megaphone-2.svg" alt="megaphone (2)" />
													</div>
												</div>
												<div class="pp-heading-wrapper">

													<div class="pp-infobox-title-wrapper"><h4 class="pp-infobox-title"></h4></div>

													<div class="pp-infobox-description">
														<div class="pp-description-wrap">
															<p>Media Inquiries : <a href="/cdn-cgi/l/email-protection#a0cdc5c4c9c1e0d5d3c8c5c1ccd4c8c7d2cfd5d08ec3cfcd" target="_blank" rel="noopener" title="media-email"><span class="__cf_email__" data-cfemail="69040c0d0008291c1a010c08051d010e1b061c19470a0604">[email&#160;protected]</span></a></p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5e5825ee2c951 fl-row-default-height fl-row-align-center" data-node="5e5825ee2c951">
		<div class="fl-row-content-wrap">
			<div class="fl-row-content fl-row-fixed-width fl-node-content">

				<div class="fl-col-group fl-node-5e5825ee3c373" data-node="5e5825ee3c373">
					<div class="fl-col fl-node-5e5825ee3c4d4" data-node="5e5825ee3c4d4">
						<div class="fl-col-content fl-node-content">
							<div class="fl-module fl-module-separator fl-node-5e5825ee2bba8" data-node="5e5825ee2bba8">
								<div class="fl-module-content fl-node-content">
									<div class="fl-separator"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-5e384b812da75 fl-row-default-height fl-row-align-center" data-node="5e384b812da75">
		<div class="fl-row-content-wrap">
			<div class="fl-row-content fl-row-fixed-width fl-node-content">

				<div class="fl-col-group fl-node-5e384b813a883" data-node="5e384b813a883">
					<div class="fl-col fl-node-5e384b813a9bd" data-node="5e384b813a9bd">
						<div class="fl-col-content fl-node-content">
							<div class="fl-module fl-module-rich-text fl-node-5e384b812cd38" data-node="5e384b812cd38">
								<div class="fl-module-content fl-node-content">
									<div class="fl-rich-text">
										<p>Copyright 2024 © USHEALTH GROUP All rights reserved | <a href="https://sbhi.app/sitemap/">Sitemap</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
