@page
@model SBHI.Pages.Contact_UsModel
@{
}
<div class="content-sidebar-wrap">
	<main class="content">
		<section class="subpage-header" style="background-image:url(https://sbhi.app/wp-content/uploads/2016/02/bg_subpage2-1600x162.jpg);"><div class="wrap"><article><header class="entry-header"><span class="heading" itemprop="headline">Contact Us</span></header><div class="breadcrumbs"><div class="wrap"><span class="breadcrumb-link-wrap"><a class="breadcrumb-link" href="https://sbhi.app/"><span class="breadcrumb-link-text-wrap">Home</span></a><meta></span> <span class="bread-sep">></span> Contact Us</div></div></article></div></section><section class="full-width">
			<article class="post-6973 page type-page status-publish entry" aria-label="Contact Us">
				<div class="entry-content">
					<div class="fl-builder-content fl-builder-content-6973 fl-builder-content-primary fl-builder-global-templates-locked" data-post-id="6973">
						<div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-5e42bf710a921 fl-row-default-height fl-row-align-center page-subheader" data-node="5e42bf710a921">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e42bf710a915" data-node="5e42bf710a915">
										<div class="fl-col fl-node-5e42bf710a919 fl-col-small subheader-content-box" data-node="5e42bf710a919">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e42bf710a91f" data-node="5e42bf710a91f">
													<div class="fl-module-content fl-node-content">
														<h1 class="fl-heading">
															<span class="fl-heading-text">Contact <br>USHEALTH Group</span>
														</h1>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e42bf710a920" data-node="5e42bf710a920">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>We’re ready to help. Our goal is to answer your questions and get you where you need to be. Please use the Links and Form below to contact us.</p>
															<div id="mouseposition-extension-element-full-container" style="position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; pointer-events: none; z-index: 2147483647; font-weight: 400;">
																<div id="mouseposition-extension-element-rect-display" style="display: none; position: absolute; background: rgba(255, 255, 255, 0.7); outline: black solid 1px; font-size: 12px; z-index: 2147483647; justify-content: center; align-items: center; user-select: none; cursor: default; color: #000000; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; width: 0px; height: 0px;">
<pre style="flex: 1 1 0%; text-align: center; background-color: rgba(255, 255, 255, 0.7); color: #000000; min-width: 42px; min-height: 12px; transition: all 1s ease 0s;"></pre>
																</div>
<pre id="mouseposition-extension-element-coordinate-display" style="position: absolute; display: none; background: #ffffff; font-size: 12px; line-height: 14px; border-radius: 3px; border-width: 1px; border-color: #222222 black #333333; border-style: solid; padding: 3px; z-index: 2147483647; color: #222222; user-select: none; cursor: default; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;"></pre>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="fl-col fl-node-5e42bf710a91e fl-col-small" data-node="5e42bf710a91e">
											<div class="fl-col-content fl-node-content"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5e4c125353c9c fl-row-default-height fl-row-align-center" data-node="5e4c125353c9c">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e4c12535c46a" data-node="5e4c12535c46a">
										<div class="fl-col fl-node-5e4c12535c5bb" data-node="5e4c12535c5bb">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-wbui97lhfs5x" data-node="wbui97lhfs5x">
													<div class="fl-module-content fl-node-content">
														<h2 class="fl-heading">
															<span class="fl-heading-text">Welcome! We're glad you're here.</span>
														</h2>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e4c1264b1529" data-node="5e4c1264b1529">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>If you are are a existing customer click here to access: <a href="https://myushg.ushealthgroup.com/" target="_blank" rel="noopener"><strong>MyUSHG</strong></a> or click here for <strong><a href="/member-services/" rel="noopener">Member Services</a></strong></p>
															<p>If you are looking for a career opportunity as a sales agent click here: <strong><a href="/become-an-agent/">Become an Agent</a></strong></p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5e4c1d0c56393 fl-row-default-height fl-row-align-center" data-node="5e4c1d0c56393">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e4c1d0c5f83c" data-node="5e4c1d0c5f83c">
										<div class="fl-col fl-node-5e4c1d0c5f9bc" data-node="5e4c1d0c5f9bc">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-pp-gravity-form fl-node-5e42a6ec183c1 contact-form" data-node="5e42a6ec183c1">
													<div class="fl-module-content fl-node-content">
														<div class="pp-gf-content">
															<div class="pp-gf-inner">
																<script type="text/javascript"></script>
																<div class='gf_browser_chrome gform_wrapper gform_legacy_markup_wrapper gform-theme--no-framework' data-form-theme='legacy' data-form-index='0' id='gform_wrapper_5'>
																	<div id='gf_5' class='gform_anchor' tabindex='-1'></div><form method='post' enctype='multipart/form-data' target='gform_ajax_frame_5' id='gform_5' action='/contact-us/#gf_5' data-formid='5' novalidate>
																		<div class='gform-body gform_body'>
																			<ul id='gform_fields_5' class='gform_fields top_label form_sublabel_below description_below validation_below'>
																				<li id="field_5_6" class="gfield gfield--type-text gfield_contains_required field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible" data-js-reload="field_5_6"><label class='gfield_label gform-field-label' for='input_5_6'>First Name<span class="gfield_required"><span class="gfield_required gfield_required_asterisk">*</span></span></label><div class='ginput_container ginput_container_text'><input name='input_6' id='input_5_6' type='text' value='' class='large' tabindex='100' placeholder='First Name' aria-required="true" aria-invalid="false" /> </div></li>
																				<li id="field_5_7" class="gfield gfield--type-text gfield_contains_required field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible" data-js-reload="field_5_7"><label class='gfield_label gform-field-label' for='input_5_7'>Last Name<span class="gfield_required"><span class="gfield_required gfield_required_asterisk">*</span></span></label><div class='ginput_container ginput_container_text'><input name='input_7' id='input_5_7' type='text' value='' class='large' tabindex='101' placeholder='Last Name' aria-required="true" aria-invalid="false" /> </div></li>
																				<li id="field_5_9" class="gfield gfield--type-phone field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible" data-js-reload="field_5_9"><label class='gfield_label gform-field-label' for='input_5_9'>Phone Number</label><div class='ginput_container ginput_container_phone'><input name='input_9' id='input_5_9' type='tel' value='' class='medium' tabindex='102' placeholder='Phone Number' aria-invalid="false" /></div></li>
																				<li id="field_5_2" class="gfield gfield--type-email gfield_contains_required field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible" data-js-reload="field_5_2">
																					<label class='gfield_label gform-field-label' for='input_5_2'>Email<span class="gfield_required"><span class="gfield_required gfield_required_asterisk">*</span></span></label><div class='ginput_container ginput_container_email'>
																						<input name='input_2' id='input_5_2' type='email' value='' class='large' tabindex='103' placeholder='Email' aria-required="true" aria-invalid="false" />
																					</div>
																				</li>
																				<li id="field_5_5" class="gfield gfield--type-textarea gfield_contains_required field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible" data-js-reload="field_5_5"><label class='gfield_label gform-field-label' for='input_5_5'>Message<span class="gfield_required"><span class="gfield_required gfield_required_asterisk">*</span></span></label><div class='ginput_container ginput_container_textarea'><textarea name='input_5' id='input_5_5' class='textarea large' tabindex='104' placeholder='Message' aria-required="true" aria-invalid="false" rows='10' cols='50'></textarea></div></li>
																				<li id="field_5_8" class="gfield gfield--type-hidden gform_hidden field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible" data-js-reload="field_5_8"><div class='ginput_container ginput_container_text'><input name='input_8' id='input_5_8' type='hidden' class='gform_hidden' aria-invalid="false" value='' /></div></li>
																			</ul>
																		</div>
																		<div class='gform_footer top_label'>
																			<input type='submit' id='gform_submit_button_5' class='gform_button button' value='Submit' tabindex='105' onclick='if(window["gf_submitting_5"]){return false;}  if( !jQuery("#gform_5")[0].checkValidity || jQuery("#gform_5")[0].checkValidity()){window["gf_submitting_5"]=true;}  ' onkeypress='if( event.keyCode == 13 ){ if(window["gf_submitting_5"]){return false;} if( !jQuery("#gform_5")[0].checkValidity || jQuery("#gform_5")[0].checkValidity()){window["gf_submitting_5"]=true;}  jQuery("#gform_5").trigger("submit",[true]); }' /> <input type='hidden' name='gform_ajax' value='form_id=5&amp;title=&amp;description=&amp;tabindex=100&amp;theme=legacy' />
																			<input type='hidden' class='gform_hidden' name='is_submit_5' value='1' />
																			<input type='hidden' class='gform_hidden' name='gform_submit' value='5' />

																			<input type='hidden' class='gform_hidden' name='gform_unique_id' value='' />
																			<input type='hidden' class='gform_hidden' name='state_5' value='WyJbXSIsImFhZjJlNjRjNDY0Yjg1Mzg5MDgzZjEzYjZjOTBlNTY5Il0=' />
																			<input type='hidden' class='gform_hidden' name='gform_target_page_number_5' id='gform_target_page_number_5' value='0' />
																			<input type='hidden' class='gform_hidden' name='gform_source_page_number_5' id='gform_source_page_number_5' value='1' />
																			<input type='hidden' name='gform_field_values' value='' />

																		</div>
																		<p style="display: none !important;" class="akismet-fields-container" data-prefix="ak_"><label>&#916;<textarea name="ak_hp_textarea" cols="45" rows="8" maxlength="100"></textarea></label><input type="hidden" id="ak_js_1" name="ak_js" value="19" /><script>document.getElementById("ak_js_1").setAttribute("value", (new Date()).getTime());</script></p>
																	</form>
																</div>
																<iframe style='display:none;width:0px;height:0px;' src='about:blank' name='gform_ajax_frame_5' id='gform_ajax_frame_5' title='This iframe contains the logic required to handle Ajax powered Gravity Forms.'></iframe>
																<script type="text/javascript">
																	/* <![CDATA[ */
																	gform.initializeOnLoaded(function () { gformInitSpinner(5, 'https://sbhi.app/wp-content/plugins/gravityforms/images/spinner.svg', true); jQuery('#gform_ajax_frame_5').on('load', function () { var contents = jQuery(this).contents().find('*').html(); var is_postback = contents.indexOf('GF_AJAX_POSTBACK') >= 0; if (!is_postback) { return; } var form_content = jQuery(this).contents().find('#gform_wrapper_5'); var is_confirmation = jQuery(this).contents().find('#gform_confirmation_wrapper_5').length > 0; var is_redirect = contents.indexOf('gformRedirect(){') >= 0; var is_form = form_content.length > 0 && !is_redirect && !is_confirmation; var mt = parseInt(jQuery('html').css('margin-top'), 10) + parseInt(jQuery('body').css('margin-top'), 10) + 100; if (is_form) { jQuery('#gform_wrapper_5').html(form_content.html()); if (form_content.hasClass('gform_validation_error')) { jQuery('#gform_wrapper_5').addClass('gform_validation_error'); } else { jQuery('#gform_wrapper_5').removeClass('gform_validation_error'); } setTimeout(function () { /* delay the scroll by 50 milliseconds to fix a bug in chrome */ jQuery(document).scrollTop(jQuery('#gform_wrapper_5').offset().top - mt); }, 50); if (window['gformInitDatepicker']) { gformInitDatepicker(); } if (window['gformInitPriceFields']) { gformInitPriceFields(); } var current_page = jQuery('#gform_source_page_number_5').val(); gformInitSpinner(5, 'https://sbhi.app/wp-content/plugins/gravityforms/images/spinner.svg', true); jQuery(document).trigger('gform_page_loaded', [5, current_page]); window['gf_submitting_5'] = false; } else if (!is_redirect) { var confirmation_content = jQuery(this).contents().find('.GF_AJAX_POSTBACK').html(); if (!confirmation_content) { confirmation_content = contents; } jQuery('#gform_wrapper_5').replaceWith(confirmation_content); jQuery(document).scrollTop(jQuery('#gf_5').offset().top - mt); jQuery(document).trigger('gform_confirmation_loaded', [5]); window['gf_submitting_5'] = false; wp.a11y.speak(jQuery('#gform_confirmation_message_5').text()); } else { jQuery('#gform_5').append(contents); if (window['gformRedirect']) { gformRedirect(); } } jQuery(document).trigger("gform_pre_post_render", [{ formId: "5", currentPage: "current_page", abort: function () { this.preventDefault(); } }]); if (event && event.defaultPrevented) { return; } const gformWrapperDiv = document.getElementById("gform_wrapper_5"); if (gformWrapperDiv) { const visibilitySpan = document.createElement("span"); visibilitySpan.id = "gform_visibility_test_5"; gformWrapperDiv.insertAdjacentElement("afterend", visibilitySpan); } const visibilityTestDiv = document.getElementById("gform_visibility_test_5"); let postRenderFired = false; function triggerPostRender() { if (postRenderFired) { return; } postRenderFired = true; jQuery(document).trigger('gform_post_render', [5, current_page]); gform.utils.trigger({ event: 'gform/postRender', native: false, data: { formId: 5, currentPage: current_page } }); if (visibilityTestDiv) { visibilityTestDiv.parentNode.removeChild(visibilityTestDiv); } } function debounce(func, wait, immediate) { var timeout; return function () { var context = this, args = arguments; var later = function () { timeout = null; if (!immediate) func.apply(context, args); }; var callNow = immediate && !timeout; clearTimeout(timeout); timeout = setTimeout(later, wait); if (callNow) func.apply(context, args); }; } const debouncedTriggerPostRender = debounce(function () { triggerPostRender(); }, 200); if (visibilityTestDiv && visibilityTestDiv.offsetParent === null) { const observer = new MutationObserver((mutations) => { mutations.forEach((mutation) => { if (mutation.type === 'attributes' && visibilityTestDiv.offsetParent !== null) { debouncedTriggerPostRender(); observer.disconnect(); } }); }); observer.observe(document.body, { attributes: true, childList: false, subtree: true, attributeFilter: ['style', 'class'], }); } else { triggerPostRender(); } }); });
																	/* ]]&gt; */
																</script>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-full-width fl-row-bg-none fl-node-57584ee35fc27 fl-row-default-height fl-row-align-center" data-node="57584ee35fc27">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-57584ee35fccb" data-node="57584ee35fccb">
										<div class="fl-col fl-node-57584ee35fd5a fl-col-small" data-node="57584ee35fd5a">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-icon fl-node-5e4c1a48c7e94" data-node="5e4c1a48c7e94">
													<div class="fl-module-content fl-node-content">
														<div class="fl-icon-wrap">
															<span class="fl-icon">
																<i class="fi-flag" aria-hidden="true"></i>
															</span>
															<div id="fl-icon-text-5e4c1a48c7e94" class="fl-icon-text fl-icon-text-wrap">
																<p><strong>Freedom Life Insurance</strong><br /><strong>Company of America</strong></p>
															</div>
														</div>
													</div>
												</div>
												<div class="fl-module fl-module-icon fl-node-5e672efde28d0" data-node="5e672efde28d0">
													<div class="fl-module-content fl-node-content">
														<div class="fl-icon-wrap">
															<span class="fl-icon">
																<i class="fi-home" aria-hidden="true"></i>
															</span>
															<div id="fl-icon-text-5e672efde28d0" class="fl-icon-text fl-icon-text-wrap">
																<p><a href="https://goo.gl/maps/mzoTsvRbABeNs7tR7" target="_blank" rel="noopener">300 Burnett Street, Suite 200</a><br /><a href="https://goo.gl/maps/mzoTsvRbABeNs7tR7" target="_blank" rel="noopener">Fort Worth, TX 76102-2734</a></p>
															</div>
														</div>
													</div>
												</div>
												<div class="fl-module fl-module-icon fl-node-5e4c1af9015cb" data-node="5e4c1af9015cb">
													<div class="fl-module-content fl-node-content">
														<div class="fl-icon-wrap">
															<span class="fl-icon">
																<i class="fi-mail" aria-hidden="true"></i>
															</span>
															<div id="fl-icon-text-5e4c1af9015cb" class="fl-icon-text fl-icon-text-wrap">
																<p><a href="/cdn-cgi/l/email-protection#2940474f46695c5a414c48455d414e5b465c59074a4644"><span class="__cf_email__" data-cfemail="8ee7e0e8e1cefbfde6ebefe2fae6e9fce1fbfea0ede1e3">[email&#160;protected]</span></a></p>
															</div>
														</div>
													</div>
												</div>
												<div class="fl-module fl-module-icon fl-node-5e4c1b7d13665" data-node="5e4c1b7d13665">
													<div class="fl-module-content fl-node-content">
														<div class="fl-icon-wrap">
															<span class="fl-icon">
																<i class="fi-telephone" aria-hidden="true"></i>
															</span>
															<div id="fl-icon-text-5e4c1b7d13665" class="fl-icon-text fl-icon-text-wrap">
																<p><a href="tel:+18003879027" target="_blank" rel="noopener">800.387.9027</a></p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="fl-col fl-node-5e4c1d30399ec fl-col-small" data-node="5e4c1d30399ec">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-icon fl-node-5e4c1d3039aac" data-node="5e4c1d3039aac">
													<div class="fl-module-content fl-node-content">
														<div class="fl-icon-wrap">
															<span class="fl-icon">
																<i class="fi-flag" aria-hidden="true"></i>
															</span>
															<div id="fl-icon-text-5e4c1d3039aac" class="fl-icon-text fl-icon-text-wrap">
																<p><strong>National Foundation</strong><br /><strong>Life Insurance Company</strong></p>
															</div>
														</div>
													</div>
												</div>
												<div class="fl-module fl-module-icon fl-node-5e4c1a97c677c" data-node="5e4c1a97c677c">
													<div class="fl-module-content fl-node-content">
														<div class="fl-icon-wrap">
															<span class="fl-icon">
																<i class="fi-home" aria-hidden="true"></i>
															</span>
															<div id="fl-icon-text-5e4c1a97c677c" class="fl-icon-text fl-icon-text-wrap">
																<p><a href="https://goo.gl/maps/mzoTsvRbABeNs7tR7" target="_blank" rel="noopener">300 Burnett Street, Suite 200</a><br /><a href="https://goo.gl/maps/mzoTsvRbABeNs7tR7" target="_blank" rel="noopener">Fort Worth, TX 76102-2734</a></p>
															</div>
														</div>
													</div>
												</div>
												<div class="fl-module fl-module-icon fl-node-5e4c1d3039aaf" data-node="5e4c1d3039aaf">
													<div class="fl-module-content fl-node-content">
														<div class="fl-icon-wrap">
															<span class="fl-icon">
																<i class="fi-mail" aria-hidden="true"></i>
															</span>
															<div id="fl-icon-text-5e4c1d3039aaf" class="fl-icon-text fl-icon-text-wrap">
																<p><a href="/cdn-cgi/l/email-protection#87eee9e1e8c7f2f4efe2e6ebf3efe0f5e8f2f7a9e4e8ea"><span class="__cf_email__" data-cfemail="cba2a5ada48bbeb8a3aeaaa7bfa3acb9a4bebbe5a8a4a6">[email&#160;protected]</span></a></p>
															</div>
														</div>
													</div>
												</div>
												<div class="fl-module fl-module-icon fl-node-5e4c1d3039ab0" data-node="5e4c1d3039ab0">
													<div class="fl-module-content fl-node-content">
														<div class="fl-icon-wrap">
															<span class="fl-icon">
																<i class="fi-telephone" aria-hidden="true"></i>
															</span>
															<div id="fl-icon-text-5e4c1d3039ab0" class="fl-icon-text fl-icon-text-wrap">
																<p><a href="tel:+18002219039" target="_blank" rel="noopener">800.221.9039</a></p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="fl-col fl-node-5e4c1ce999a0c fl-col-small" data-node="5e4c1ce999a0c">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-icon fl-node-5e4c1ce999ac2" data-node="5e4c1ce999ac2">
													<div class="fl-module-content fl-node-content">
														<div class="fl-icon-wrap">
															<span class="fl-icon">
																<i class="fi-flag" aria-hidden="true"></i>
															</span>
															<div id="fl-icon-text-5e4c1ce999ac2" class="fl-icon-text fl-icon-text-wrap">
																<p><strong>Enterprise</strong><br /><strong>Life Insurance Company</strong></p>
															</div>
														</div>
													</div>
												</div>
												<div class="fl-module fl-module-icon fl-node-5e672f0013cb9" data-node="5e672f0013cb9">
													<div class="fl-module-content fl-node-content">
														<div class="fl-icon-wrap">
															<span class="fl-icon">
																<i class="fi-home" aria-hidden="true"></i>
															</span>
															<div id="fl-icon-text-5e672f0013cb9" class="fl-icon-text fl-icon-text-wrap">
																<p><a href="https://goo.gl/maps/mzoTsvRbABeNs7tR7" target="_blank" rel="noopener">300 Burnett Street, Suite 200</a><br /><a href="https://goo.gl/maps/mzoTsvRbABeNs7tR7" target="_blank" rel="noopener">Fort Worth, TX 76102-2734</a></p>
															</div>
														</div>
													</div>
												</div>
												<div class="fl-module fl-module-icon fl-node-5e4c1ce999ac5" data-node="5e4c1ce999ac5">
													<div class="fl-module-content fl-node-content">
														<div class="fl-icon-wrap">
															<span class="fl-icon">
																<i class="fi-mail" aria-hidden="true"></i>
															</span>
															<div id="fl-icon-text-5e4c1ce999ac5" class="fl-icon-text fl-icon-text-wrap">
																<p><a href="/cdn-cgi/l/email-protection#60090e060f2015130805010c140807120f15104e030f0d"><span class="__cf_email__" data-cfemail="31585f575e7144425954505d455956435e44411f525e5c">[email&#160;protected]</span></a></p>
															</div>
														</div>
													</div>
												</div>
												<div class="fl-module fl-module-icon fl-node-5e4c1ce999ac6" data-node="5e4c1ce999ac6">
													<div class="fl-module-content fl-node-content">
														<div class="fl-icon-wrap">
															<span class="fl-icon">
																<i class="fi-telephone" aria-hidden="true"></i>
															</span>
															<div id="fl-icon-text-5e4c1ce999ac6" class="fl-icon-text fl-icon-text-wrap">
																<p><a href="tel:+18006064482" target="_blank" rel="noopener">800.606.4482</a></p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-full-width fl-row-bg-none fl-node-5e4c1efa5923b fl-row-default-height fl-row-align-center" data-node="5e4c1efa5923b">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e4c1efa5945b fl-col-group-equal-height fl-col-group-align-top" data-node="5e4c1efa5945b">
										<div class="fl-col fl-node-5e4c1efa5945d fl-col-small" data-node="5e4c1efa5945d">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-icon fl-node-5e4c1efa5945e" data-node="5e4c1efa5945e">
													<div class="fl-module-content fl-node-content">
														<div class="fl-icon-wrap">
															<span class="fl-icon">
																<i class="fi-flag" aria-hidden="true"></i>
															</span>
															<div id="fl-icon-text-5e4c1efa5945e" class="fl-icon-text fl-icon-text-wrap">
																<p><strong>Media Contact</strong></p>
															</div>
														</div>
													</div>
												</div>
												<div class="fl-module fl-module-icon fl-node-5e4c1efa59460" data-node="5e4c1efa59460">
													<div class="fl-module-content fl-node-content">
														<div class="fl-icon-wrap">
															<span class="fl-icon">
																<i class="fi-mail" aria-hidden="true"></i>
															</span>
															<div id="fl-icon-text-5e4c1efa59460" class="fl-icon-text fl-icon-text-wrap">
																<p><a href="/cdn-cgi/l/email-protection#19747c7d7078596c6a717c78756d717e6b766c69377a7674" target="_blank" rel="noopener"><span class="__cf_email__" data-cfemail="87eae2e3eee6c7f2f4efe2e6ebf3efe0f5e8f2f7a9e4e8ea">[email&#160;protected]</span></a></p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="fl-col fl-node-5e4c1efa59462 fl-col-small" data-node="5e4c1efa59462">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e4c1fee37fff" data-node="5e4c1fee37fff">
													<div class="fl-module-content fl-node-content">
														<h4 class="fl-heading">
															<span class="fl-heading-text">Business Hours</span>
														</h4>
													</div>
												</div>
												<div class="fl-module fl-module-icon fl-node-5e4c1efa59466" data-node="5e4c1efa59466">
													<div class="fl-module-content fl-node-content">
														<div class="fl-icon-wrap">
															<span class="fl-icon">
																<i class="fi-clock" aria-hidden="true"></i>
															</span>
															<div id="fl-icon-text-5e4c1efa59466" class="fl-icon-text fl-icon-text-wrap">
																<p>7:00 AM - 5:00 PM CT Monday - Friday</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="fl-col fl-node-5e4c20a509a4d fl-col-small" data-node="5e4c20a509a4d">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e4c20a509aed" data-node="5e4c20a509aed">
													<div class="fl-module-content fl-node-content">
														<h4 class="fl-heading">
															<span class="fl-heading-text">Customer Service Hours</span>
														</h4>
													</div>
												</div>
												<div class="fl-module fl-module-icon fl-node-5e4c20a509aef" data-node="5e4c20a509aef">
													<div class="fl-module-content fl-node-content">
														<div class="fl-icon-wrap">
															<span class="fl-icon">
																<i class="fi-clock" aria-hidden="true"></i>
															</span>
															<div id="fl-icon-text-5e4c20a509aef" class="fl-icon-text fl-icon-text-wrap">
																<p>7:00 AM - 7:00 PM CT Monday - Friday<br />8:00 AM - 1:00 PM CT Saturday</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</section>
	</main>
</div>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script nitro-exclude>
	document.cookie = 'nitroCachedPage=' + (!window.NITROPACK_STATE ? '0' : '1') + '; path=/; SameSite=Lax';
</script></div><footer class="fl-builder-content fl-builder-content-8536 fl-builder-global-templates-locked" data-post-id="8536" data-type="footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
	<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-5b48614dca49d fl-row-default-height fl-row-align-center main-footer-wrapper" data-node="5b48614dca49d">
		<div class="fl-row-content-wrap">
			<div class="fl-row-content fl-row-fixed-width fl-node-content">

				<div class="fl-col-group fl-node-5e38506cb31bf" data-node="5e38506cb31bf">
					<div class="fl-col fl-node-5e38506cb32f3 fl-col-small footer-newsletter-wrapper" data-node="5e38506cb32f3">
						<div class="fl-col-content fl-node-content">
							<div class="fl-module fl-module-pp-gravity-form fl-node-5e385078da357 newsletter-footer" data-node="5e385078da357">
								<div class="fl-module-content fl-node-content">
									<div class="pp-gf-content">
										<div class="pp-gf-inner">
											<h3 class="form-title"></h3>
											<p class="form-description">
												Subscribe to get future
												updates.
											</p>

											<div class='gf_browser_chrome gform_wrapper gform_legacy_markup_wrapper gform-theme--no-framework' data-form-theme='legacy' data-form-index='0' id='gform_wrapper_4'>
												<div id='gf_4' class='gform_anchor' tabindex='-1'></div>
												<div class='gform_heading'>
													<p class='gform_description'></p>
												</div><form method='post' enctype='multipart/form-data' target='gform_ajax_frame_4' id='gform_4' action='/contact-us/#gf_4' data-formid='4' novalidate>
													<div class='gform-body gform_body'>
														<ul id='gform_fields_4' class='gform_fields top_label form_sublabel_below description_below validation_below'>
															<li id="field_4_3" class="gfield gfield--type-email gf_right_half gfield_contains_required field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible" data-js-reload="field_4_3">
																<label class='gfield_label gform-field-label' for='input_4_3'>Email<span class="gfield_required"><span class="gfield_required gfield_required_asterisk">*</span></span></label><div class='ginput_container ginput_container_email'>
																	<input name='input_3' id='input_4_3' type='email' value='' class='large' tabindex='10' placeholder='Email' aria-required="true" aria-invalid="false" />
																</div>
															</li>
														</ul>
													</div>
													<div class='gform_footer top_label'>
														<input type='submit' id='gform_submit_button_4' class='gform_button button' value='Subscribe' tabindex='11' onclick='if(window["gf_submitting_4"]){return false;}  if( !jQuery("#gform_4")[0].checkValidity || jQuery("#gform_4")[0].checkValidity()){window["gf_submitting_4"]=true;}  ' onkeypress='if( event.keyCode == 13 ){ if(window["gf_submitting_4"]){return false;} if( !jQuery("#gform_4")[0].checkValidity || jQuery("#gform_4")[0].checkValidity()){window["gf_submitting_4"]=true;}  jQuery("#gform_4").trigger("submit",[true]); }' /> <input type='hidden' name='gform_ajax' value='form_id=4&amp;title=&amp;description=1&amp;tabindex=100&amp;theme=legacy' />
														<input type='hidden' class='gform_hidden' name='is_submit_4' value='1' />
														<input type='hidden' class='gform_hidden' name='gform_submit' value='4' />

														<input type='hidden' class='gform_hidden' name='gform_unique_id' value='' />
														<input type='hidden' class='gform_hidden' name='state_4' value='WyJbXSIsImFhZjJlNjRjNDY0Yjg1Mzg5MDgzZjEzYjZjOTBlNTY5Il0=' />
														<input type='hidden' class='gform_hidden' name='gform_target_page_number_4' id='gform_target_page_number_4' value='0' />
														<input type='hidden' class='gform_hidden' name='gform_source_page_number_4' id='gform_source_page_number_4' value='1' />
														<input type='hidden' name='gform_field_values' value='' />

													</div>
													<p style="display: none !important;" class="akismet-fields-container" data-prefix="ak_"><label>&#916;<textarea name="ak_hp_textarea" cols="45" rows="8" maxlength="100"></textarea></label><input type="hidden" id="ak_js_2" name="ak_js" value="160" /><script>document.getElementById("ak_js_2").setAttribute("value", (new Date()).getTime());</script></p>
												</form>
											</div>
											<iframe style='display:none;width:0px;height:0px;' src='about:blank' name='gform_ajax_frame_4' id='gform_ajax_frame_4' title='This iframe contains the logic required to handle Ajax powered Gravity Forms.'></iframe>
											<script type="text/javascript">
												/* <![CDATA[ */
												gform.initializeOnLoaded(function () { gformInitSpinner(4, 'https://sbhi.app/wp-content/plugins/gravityforms/images/spinner.svg', true); jQuery('#gform_ajax_frame_4').on('load', function () { var contents = jQuery(this).contents().find('*').html(); var is_postback = contents.indexOf('GF_AJAX_POSTBACK') >= 0; if (!is_postback) { return; } var form_content = jQuery(this).contents().find('#gform_wrapper_4'); var is_confirmation = jQuery(this).contents().find('#gform_confirmation_wrapper_4').length > 0; var is_redirect = contents.indexOf('gformRedirect(){') >= 0; var is_form = form_content.length > 0 && !is_redirect && !is_confirmation; var mt = parseInt(jQuery('html').css('margin-top'), 10) + parseInt(jQuery('body').css('margin-top'), 10) + 100; if (is_form) { jQuery('#gform_wrapper_4').html(form_content.html()); if (form_content.hasClass('gform_validation_error')) { jQuery('#gform_wrapper_4').addClass('gform_validation_error'); } else { jQuery('#gform_wrapper_4').removeClass('gform_validation_error'); } setTimeout(function () { /* delay the scroll by 50 milliseconds to fix a bug in chrome */ jQuery(document).scrollTop(jQuery('#gform_wrapper_4').offset().top - mt); }, 50); if (window['gformInitDatepicker']) { gformInitDatepicker(); } if (window['gformInitPriceFields']) { gformInitPriceFields(); } var current_page = jQuery('#gform_source_page_number_4').val(); gformInitSpinner(4, 'https://sbhi.app/wp-content/plugins/gravityforms/images/spinner.svg', true); jQuery(document).trigger('gform_page_loaded', [4, current_page]); window['gf_submitting_4'] = false; } else if (!is_redirect) { var confirmation_content = jQuery(this).contents().find('.GF_AJAX_POSTBACK').html(); if (!confirmation_content) { confirmation_content = contents; } jQuery('#gform_wrapper_4').replaceWith(confirmation_content); jQuery(document).scrollTop(jQuery('#gf_4').offset().top - mt); jQuery(document).trigger('gform_confirmation_loaded', [4]); window['gf_submitting_4'] = false; wp.a11y.speak(jQuery('#gform_confirmation_message_4').text()); } else { jQuery('#gform_4').append(contents); if (window['gformRedirect']) { gformRedirect(); } } jQuery(document).trigger("gform_pre_post_render", [{ formId: "4", currentPage: "current_page", abort: function () { this.preventDefault(); } }]); if (event && event.defaultPrevented) { return; } const gformWrapperDiv = document.getElementById("gform_wrapper_4"); if (gformWrapperDiv) { const visibilitySpan = document.createElement("span"); visibilitySpan.id = "gform_visibility_test_4"; gformWrapperDiv.insertAdjacentElement("afterend", visibilitySpan); } const visibilityTestDiv = document.getElementById("gform_visibility_test_4"); let postRenderFired = false; function triggerPostRender() { if (postRenderFired) { return; } postRenderFired = true; jQuery(document).trigger('gform_post_render', [4, current_page]); gform.utils.trigger({ event: 'gform/postRender', native: false, data: { formId: 4, currentPage: current_page } }); if (visibilityTestDiv) { visibilityTestDiv.parentNode.removeChild(visibilityTestDiv); } } function debounce(func, wait, immediate) { var timeout; return function () { var context = this, args = arguments; var later = function () { timeout = null; if (!immediate) func.apply(context, args); }; var callNow = immediate && !timeout; clearTimeout(timeout); timeout = setTimeout(later, wait); if (callNow) func.apply(context, args); }; } const debouncedTriggerPostRender = debounce(function () { triggerPostRender(); }, 200); if (visibilityTestDiv && visibilityTestDiv.offsetParent === null) { const observer = new MutationObserver((mutations) => { mutations.forEach((mutation) => { if (mutation.type === 'attributes' && visibilityTestDiv.offsetParent !== null) { debouncedTriggerPostRender(); observer.disconnect(); } }); }); observer.observe(document.body, { attributes: true, childList: false, subtree: true, attributeFilter: ['style', 'class'], }); } else { triggerPostRender(); } }); });
												/* ]]> */
											</script>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="fl-col fl-node-5e38506cb32f7 fl-col-small footer-terms-wrapper" data-node="5e38506cb32f7">
						<div class="fl-col-content fl-node-content">
							<div class="fl-module fl-module-rich-text fl-node-5e3851e9929b5 footer-newsletter-terms" data-node="5e3851e9929b5">
								<div class="fl-module-content fl-node-content">
									<div class="fl-rich-text">
										<p>By signing up, you are agreeing to our <a href="https://www.uhc.com/content/dam/uhcdotcom/en/npp/OSPP-USHealthGroup-EN.pdf" target="_blank" rel="noopener">Privacy Policy</a> and <a href="https://www.uhc.com/content/dam/uhcdotcom/en/npp/TOU-USHealthGroup-EN.pdf" target="_blank" rel="noopener">Terms of Use</a>. You can unsubscribe at any time.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="fl-col fl-node-5e3851c720ab0 fl-col-small footer-social-wrapper" data-node="5e3851c720ab0">
						<div class="fl-col-content fl-node-content">
							<div class="fl-module fl-module-pp-social-icons fl-node-5e3852263daba footer-social" data-node="5e3852263daba">
								<div class="fl-module-content fl-node-content">
									<div class="pp-social-icons pp-social-icons-horizontal">
										<span class="pp-social-icon" itemscope itemtype="https://schema.org/Organization">
											<link itemprop="url" href="https://www.ushealthgroup.com">
											<a itemprop="sameAs" href="https://www.facebook.com/ushealthdirect" target="_blank" title="Facebook" aria-label="Facebook" role="button" rel="noopener noreferrer external">
												<i class="ua-icon ua-icon-facebook22"></i>
											</a>
										</span>
										<span class="pp-social-icon" itemscope itemtype="https://schema.org/Organization">
											<link itemprop="url" href="https://www.ushealthgroup.com">
											<a itemprop="sameAs" href="https://twitter.com/ushealth_group" target="_blank" title="" aria-label="" role="button" rel="noopener noreferrer external">
												<i class="ua-icon ua-icon-twitter2"></i>
											</a>
										</span>
										<span class="pp-social-icon" itemscope itemtype="https://schema.org/Organization">
											<link itemprop="url" href="https://www.ushealthgroup.com">
											<a itemprop="sameAs" href="https://www.linkedin.com/company/ushealthgroup/" target="_blank" title="" aria-label="" role="button" rel="noopener noreferrer external">
												<i class="ua-icon ua-icon-linkedin2"></i>
											</a>
										</span>
										<span class="pp-social-icon" itemscope itemtype="https://schema.org/Organization">
											<link itemprop="url" href="https://www.ushealthgroup.com">
											<a itemprop="sameAs" href="https://www.instagram.com/ushealth_group/" target="_blank" title="" aria-label="" role="button" rel="noopener noreferrer external">
												<i class="ua-icon ua-icon-instagram"></i>
											</a>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="fl-col-group fl-node-5e3876e4ef135" data-node="5e3876e4ef135">
					<div class="fl-col fl-node-5e3876e4ef273" data-node="5e3876e4ef273">
						<div class="fl-col-content fl-node-content">
							<div class="fl-module fl-module-separator fl-node-5e3876e4ef02e" data-node="5e3876e4ef02e">
								<div class="fl-module-content fl-node-content">
									<div class="fl-separator"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="fl-col-group fl-node-5b48614dca4e1" data-node="5b48614dca4e1">
					<div class="fl-col fl-node-5b48614dca5ac fl-col-small" data-node="5b48614dca5ac">
						<div class="fl-col-content fl-node-content">
							<div class="fl-module fl-module-heading fl-node-5e3830d7df224" data-node="5e3830d7df224">
								<div class="fl-module-content fl-node-content">
									<h3 class="fl-heading">
										<span class="fl-heading-text">Let us help you customize <br>your health coverage today.</span>
									</h3>
								</div>
							</div>
							<div class="fl-module fl-module-button fl-node-5e3831016246b" data-node="5e3831016246b">
								<div class="fl-module-content fl-node-content">
									<div class="fl-button-wrap fl-button-width-auto fl-button-left">
										<a href="/get-a-quote/" target="_self" class="fl-button">
											<span class="fl-button-text">Get Started</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="fl-col fl-node-5b48614dca526 fl-col-small fl-col-has-cols" data-node="5b48614dca526">
						<div class="fl-col-content fl-node-content">
							<div class="fl-col-group fl-node-5e383110c0e21 fl-col-group-nested" data-node="5e383110c0e21">
								<div class="fl-col fl-node-5e383110c0eae fl-col-small" data-node="5e383110c0eae">
									<div class="fl-col-content fl-node-content">
										<div class="fl-module fl-module-rich-text fl-node-5e38311bd3d92 footer-menu-link" data-node="5e38311bd3d92">
											<div class="fl-module-content fl-node-content">
												<div class="fl-rich-text">
													<p>
														<a href="/about/">About Us</a><br />
														<a href="/ppo-networks/">PPO Networks</a><br />
														<a href="/contact-us/">Contact Home Office</a><br />
														<a href="https://www.uhc.com/content/dam/uhcdotcom/en/npp/OSPP-USHealthGroup-EN.pdf" target="_blank" rel="noopener">Privacy Policy</a><br />
														<a href="https://www.uhc.com/content/dam/uhcdotcom/en/npp/HealthDataPrivacyPolicy-EN.pdf" target="_blank" rel="noopener">Health Data Privacy Policy</a>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="fl-col fl-node-5e383110c0eb1 fl-col-small" data-node="5e383110c0eb1">
									<div class="fl-col-content fl-node-content">
										<div class="fl-module fl-module-rich-text fl-node-5e383157c6363 footer-menu-link" data-node="5e383157c6363">
											<div class="fl-module-content fl-node-content">
												<div class="fl-rich-text">
													<p>
														<a href="/blog/">Blog</a><br />
														<a href="/member-services/">Member Services</a><br />
														<a href="/hope/">HOPE</a><br />
														<a href="https://www.uhc.com/content/dam/uhcdotcom/en/npp/TOU-USHealthGroup-EN.pdf" target="_blank" rel="noopener">Terms of Use</a>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="fl-row fl-row-fixed-width fl-row-bg-color fl-node-5e3834eb8f16a fl-row-default-height fl-row-align-center" data-node="5e3834eb8f16a">
		<div class="fl-row-content-wrap">
			<div class="fl-row-content fl-row-fixed-width fl-node-content">

				<div class="fl-col-group fl-node-5e3834eb94655" data-node="5e3834eb94655">
					<div class="fl-col fl-node-5e3834eb94770 fl-col-small" data-node="5e3834eb94770">
						<div class="fl-col-content fl-node-content">
							<div class="fl-module fl-module-rich-text fl-node-5e3834f43a842" data-node="5e3834f43a842">
								<div class="fl-module-content fl-node-content">
									<div class="fl-rich-text">
										<p><strong>Legal Notice :</strong> All products are underwritten and issued by Freedom Life Insurance Company of America, National Foundation Life Insurance Company and Enterprise Life Insurance Company, wholly owned subsidiaries of USHEALTH Group, Inc. All products not available in all states. Contact a Licensed Insurance Agent for additional information.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="fl-col fl-node-5e3834eb94774 fl-col-small" data-node="5e3834eb94774">
						<div class="fl-col-content fl-node-content">
							<div class="fl-module fl-module-pp-infobox fl-node-5e3835d5e7d32 footer-info-list" data-node="5e3835d5e7d32">
								<div class="fl-module-content fl-node-content">
									<div class="pp-infobox-wrap">
										<div class="pp-infobox layout-3">
											<div class="layout-3-wrapper">
												<div class="pp-icon-wrapper animated">
													<div class="pp-infobox-image">
														<img decoding="async" src="https://sbhi.app/wp-content/uploads/2020/02/pin.svg" alt="pin" />
													</div>
												</div>
												<div class="pp-heading-wrapper">

													<div class="pp-infobox-title-wrapper"><h4 class="pp-infobox-title"></h4></div>

													<div class="pp-infobox-description">
														<div class="pp-description-wrap">
															<p><a href="https://goo.gl/maps/mzoTsvRbABeNs7tR7" target="_blank" rel="noopener" title="location">300 Burnett Street, Suite 200 Fort Worth, TX 76102-2734</a></p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="fl-module fl-module-pp-infobox fl-node-5e384a2c27e93 footer-info-list" data-node="5e384a2c27e93">
								<div class="fl-module-content fl-node-content">
									<div class="pp-infobox-wrap">
										<div class="pp-infobox layout-3">
											<div class="layout-3-wrapper">
												<div class="pp-icon-wrapper animated">
													<div class="pp-infobox-image">
														<img decoding="async" src="https://sbhi.app/wp-content/uploads/2020/02/phone.svg" alt="phone" />
													</div>
												</div>
												<div class="pp-heading-wrapper">

													<div class="pp-infobox-title-wrapper"><h4 class="pp-infobox-title"></h4></div>

													<div class="pp-infobox-description">
														<div class="pp-description-wrap">
															<p><a href="tel:+18667228744" target="_blank" rel="noopener" title="phone">1-866-722-8744</a></p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="fl-module fl-module-pp-infobox fl-node-5e384a8773b53 footer-info-list" data-node="5e384a8773b53">
								<div class="fl-module-content fl-node-content">
									<div class="pp-infobox-wrap">
										<div class="pp-infobox layout-3">
											<div class="layout-3-wrapper">
												<div class="pp-icon-wrapper animated">
													<div class="pp-infobox-image">
														<img decoding="async" src="https://sbhi.app/wp-content/uploads/2020/02/close-envelope-2.svg" alt="close-envelope (2)" />
													</div>
												</div>
												<div class="pp-heading-wrapper">

													<div class="pp-infobox-title-wrapper"><h4 class="pp-infobox-title"></h4></div>

													<div class="pp-infobox-description">
														<div class="pp-description-wrap">
															<p><a href="/cdn-cgi/l/email-protection#1e777078715e6b6d767b7f726a76796c716b6e307d7173" target="_blank" rel="noopener" title="email"><span class="__cf_email__" data-cfemail="f79e999198b782849f92969b839f9085988287d994989a">[email&#160;protected]</span></a></p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="fl-col fl-node-5e3834eb94775 fl-col-small" data-node="5e3834eb94775">
						<div class="fl-col-content fl-node-content">
							<div class="fl-module fl-module-pp-infobox fl-node-5e384ad97fb7b footer-info-list" data-node="5e384ad97fb7b">
								<div class="fl-module-content fl-node-content">
									<div class="pp-infobox-wrap">
										<div class="pp-infobox layout-3">
											<div class="layout-3-wrapper">
												<div class="pp-icon-wrapper animated">
													<div class="pp-infobox-image">
														<img decoding="async" src="https://sbhi.app/wp-content/uploads/2020/02/clock.svg" alt="clock" />
													</div>
												</div>
												<div class="pp-heading-wrapper">

													<div class="pp-infobox-title-wrapper"><h4 class="pp-infobox-title"></h4></div>

													<div class="pp-infobox-description">
														<div class="pp-description-wrap">
															<p>7:00 AM - 7:00 PM CT Monday - Friday <br />8:00 AM - 1:00 PM CT Saturday</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="fl-module fl-module-pp-infobox fl-node-5e384ae3e316a footer-info-list" data-node="5e384ae3e316a">
								<div class="fl-module-content fl-node-content">
									<div class="pp-infobox-wrap">
										<div class="pp-infobox layout-3">
											<div class="layout-3-wrapper">
												<div class="pp-icon-wrapper animated">
													<div class="pp-infobox-image">
														<img decoding="async" src="https://sbhi.app/wp-content/uploads/2020/02/megaphone-2.svg" alt="megaphone (2)" />
													</div>
												</div>
												<div class="pp-heading-wrapper">

													<div class="pp-infobox-title-wrapper"><h4 class="pp-infobox-title"></h4></div>

													<div class="pp-infobox-description">
														<div class="pp-description-wrap">
															<p>Media Inquiries : <a href="/cdn-cgi/l/email-protection#066b63626f674673756e63676a726e61746973762865696b" target="_blank" rel="noopener" title="media-email"><span class="__cf_email__" data-cfemail="49242c2d2028093c3a212c28253d212e3b263c39672a2624">[email&#160;protected]</span></a></p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5e5825ee2c951 fl-row-default-height fl-row-align-center" data-node="5e5825ee2c951">
		<div class="fl-row-content-wrap">
			<div class="fl-row-content fl-row-fixed-width fl-node-content">

				<div class="fl-col-group fl-node-5e5825ee3c373" data-node="5e5825ee3c373">
					<div class="fl-col fl-node-5e5825ee3c4d4" data-node="5e5825ee3c4d4">
						<div class="fl-col-content fl-node-content">
							<div class="fl-module fl-module-separator fl-node-5e5825ee2bba8" data-node="5e5825ee2bba8">
								<div class="fl-module-content fl-node-content">
									<div class="fl-separator"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-5e384b812da75 fl-row-default-height fl-row-align-center" data-node="5e384b812da75">
		<div class="fl-row-content-wrap">
			<div class="fl-row-content fl-row-fixed-width fl-node-content">

				<div class="fl-col-group fl-node-5e384b813a883" data-node="5e384b813a883">
					<div class="fl-col fl-node-5e384b813a9bd" data-node="5e384b813a9bd">
						<div class="fl-col-content fl-node-content">
							<div class="fl-module fl-module-rich-text fl-node-5e384b812cd38" data-node="5e384b812cd38">
								<div class="fl-module-content fl-node-content">
									<div class="fl-rich-text">
										<p>Copyright 2024 © USHEALTH GROUP All rights reserved | <a href="https://sbhi.app/sitemap/">Sitemap</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><div class="content-sidebar-wrap">
		<main class="content">
			<section class="subpage-header" style="background-image:url(https://sbhi.app/wp-content/uploads/2016/02/bg_subpage2-1600x162.jpg);"><div class="wrap"><article><header class="entry-header"><span class="heading" itemprop="headline">Contact Us</span></header><div class="breadcrumbs"><div class="wrap"><span class="breadcrumb-link-wrap"><a class="breadcrumb-link" href="https://sbhi.app/"><span class="breadcrumb-link-text-wrap">Home</span></a><meta></span> <span class="bread-sep">></span> Contact Us</div></div></article></div></section><section class="full-width">
				<article class="post-6973 page type-page status-publish entry" aria-label="Contact Us">
					<div class="entry-content">
						<div class="fl-builder-content fl-builder-content-6973 fl-builder-content-primary fl-builder-global-templates-locked" data-post-id="6973">
							<div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-5e42bf710a921 fl-row-default-height fl-row-align-center page-subheader" data-node="5e42bf710a921">
								<div class="fl-row-content-wrap">
									<div class="fl-row-content fl-row-fixed-width fl-node-content">

										<div class="fl-col-group fl-node-5e42bf710a915" data-node="5e42bf710a915">
											<div class="fl-col fl-node-5e42bf710a919 fl-col-small subheader-content-box" data-node="5e42bf710a919">
												<div class="fl-col-content fl-node-content">
													<div class="fl-module fl-module-heading fl-node-5e42bf710a91f" data-node="5e42bf710a91f">
														<div class="fl-module-content fl-node-content">
															<h1 class="fl-heading">
																<span class="fl-heading-text">Contact <br>USHEALTH Group</span>
															</h1>
														</div>
													</div>
													<div class="fl-module fl-module-rich-text fl-node-5e42bf710a920" data-node="5e42bf710a920">
														<div class="fl-module-content fl-node-content">
															<div class="fl-rich-text">
																<p>We’re ready to help. Our goal is to answer your questions and get you where you need to be. Please use the Links and Form below to contact us.</p>
																<div id="mouseposition-extension-element-full-container" style="position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; pointer-events: none; z-index: 2147483647; font-weight: 400;">
																	<div id="mouseposition-extension-element-rect-display" style="display: none; position: absolute; background: rgba(255, 255, 255, 0.7); outline: black solid 1px; font-size: 12px; z-index: 2147483647; justify-content: center; align-items: center; user-select: none; cursor: default; color: #000000; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; width: 0px; height: 0px;">
<pre style="flex: 1 1 0%; text-align: center; background-color: rgba(255, 255, 255, 0.7); color: #000000; min-width: 42px; min-height: 12px; transition: all 1s ease 0s;"></pre>
																	</div>
<pre id="mouseposition-extension-element-coordinate-display" style="position: absolute; display: none; background: #ffffff; font-size: 12px; line-height: 14px; border-radius: 3px; border-width: 1px; border-color: #222222 black #333333; border-style: solid; padding: 3px; z-index: 2147483647; color: #222222; user-select: none; cursor: default; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;"></pre>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="fl-col fl-node-5e42bf710a91e fl-col-small" data-node="5e42bf710a91e">
												<div class="fl-col-content fl-node-content"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5e4c125353c9c fl-row-default-height fl-row-align-center" data-node="5e4c125353c9c">
								<div class="fl-row-content-wrap">
									<div class="fl-row-content fl-row-fixed-width fl-node-content">

										<div class="fl-col-group fl-node-5e4c12535c46a" data-node="5e4c12535c46a">
											<div class="fl-col fl-node-5e4c12535c5bb" data-node="5e4c12535c5bb">
												<div class="fl-col-content fl-node-content">
													<div class="fl-module fl-module-heading fl-node-wbui97lhfs5x" data-node="wbui97lhfs5x">
														<div class="fl-module-content fl-node-content">
															<h2 class="fl-heading">
																<span class="fl-heading-text">Welcome! We're glad you're here.</span>
															</h2>
														</div>
													</div>
													<div class="fl-module fl-module-rich-text fl-node-5e4c1264b1529" data-node="5e4c1264b1529">
														<div class="fl-module-content fl-node-content">
															<div class="fl-rich-text">
																<p>If you are are a existing customer click here to access: <a href="https://myushg.ushealthgroup.com/" target="_blank" rel="noopener"><strong>MyUSHG</strong></a> or click here for <strong><a href="/member-services/" rel="noopener">Member Services</a></strong></p>
																<p>If you are looking for a career opportunity as a sales agent click here: <strong><a href="/become-an-agent/">Become an Agent</a></strong></p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5e4c1d0c56393 fl-row-default-height fl-row-align-center" data-node="5e4c1d0c56393">
								<div class="fl-row-content-wrap">
									<div class="fl-row-content fl-row-fixed-width fl-node-content">

										<div class="fl-col-group fl-node-5e4c1d0c5f83c" data-node="5e4c1d0c5f83c">
											<div class="fl-col fl-node-5e4c1d0c5f9bc" data-node="5e4c1d0c5f9bc">
												<div class="fl-col-content fl-node-content">
													<div class="fl-module fl-module-pp-gravity-form fl-node-5e42a6ec183c1 contact-form" data-node="5e42a6ec183c1">
														<div class="fl-module-content fl-node-content">
															<div class="pp-gf-content">
																<div class="pp-gf-inner">
																	<script type="text/javascript"></script>
																	<div class='gf_browser_chrome gform_wrapper gform_legacy_markup_wrapper gform-theme--no-framework' data-form-theme='legacy' data-form-index='0' id='gform_wrapper_5'>
																		<div id='gf_5' class='gform_anchor' tabindex='-1'></div><form method='post' enctype='multipart/form-data' target='gform_ajax_frame_5' id='gform_5' action='/contact-us/#gf_5' data-formid='5' novalidate>
																			<div class='gform-body gform_body'>
																				<ul id='gform_fields_5' class='gform_fields top_label form_sublabel_below description_below validation_below'>
																					<li id="field_5_6" class="gfield gfield--type-text gfield_contains_required field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible" data-js-reload="field_5_6"><label class='gfield_label gform-field-label' for='input_5_6'>First Name<span class="gfield_required"><span class="gfield_required gfield_required_asterisk">*</span></span></label><div class='ginput_container ginput_container_text'><input name='input_6' id='input_5_6' type='text' value='' class='large' tabindex='100' placeholder='First Name' aria-required="true" aria-invalid="false" /> </div></li>
																					<li id="field_5_7" class="gfield gfield--type-text gfield_contains_required field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible" data-js-reload="field_5_7"><label class='gfield_label gform-field-label' for='input_5_7'>Last Name<span class="gfield_required"><span class="gfield_required gfield_required_asterisk">*</span></span></label><div class='ginput_container ginput_container_text'><input name='input_7' id='input_5_7' type='text' value='' class='large' tabindex='101' placeholder='Last Name' aria-required="true" aria-invalid="false" /> </div></li>
																					<li id="field_5_9" class="gfield gfield--type-phone field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible" data-js-reload="field_5_9"><label class='gfield_label gform-field-label' for='input_5_9'>Phone Number</label><div class='ginput_container ginput_container_phone'><input name='input_9' id='input_5_9' type='tel' value='' class='medium' tabindex='102' placeholder='Phone Number' aria-invalid="false" /></div></li>
																					<li id="field_5_2" class="gfield gfield--type-email gfield_contains_required field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible" data-js-reload="field_5_2">
																						<label class='gfield_label gform-field-label' for='input_5_2'>Email<span class="gfield_required"><span class="gfield_required gfield_required_asterisk">*</span></span></label><div class='ginput_container ginput_container_email'>
																							<input name='input_2' id='input_5_2' type='email' value='' class='large' tabindex='103' placeholder='Email' aria-required="true" aria-invalid="false" />
																						</div>
																					</li>
																					<li id="field_5_5" class="gfield gfield--type-textarea gfield_contains_required field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible" data-js-reload="field_5_5"><label class='gfield_label gform-field-label' for='input_5_5'>Message<span class="gfield_required"><span class="gfield_required gfield_required_asterisk">*</span></span></label><div class='ginput_container ginput_container_textarea'><textarea name='input_5' id='input_5_5' class='textarea large' tabindex='104' placeholder='Message' aria-required="true" aria-invalid="false" rows='10' cols='50'></textarea></div></li>
																					<li id="field_5_8" class="gfield gfield--type-hidden gform_hidden field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible" data-js-reload="field_5_8"><div class='ginput_container ginput_container_text'><input name='input_8' id='input_5_8' type='hidden' class='gform_hidden' aria-invalid="false" value='' /></div></li>
																				</ul>
																			</div>
																			<div class='gform_footer top_label'>
																				<input type='submit' id='gform_submit_button_5' class='gform_button button' value='Submit' tabindex='105' onclick='if(window["gf_submitting_5"]){return false;}  if( !jQuery("#gform_5")[0].checkValidity || jQuery("#gform_5")[0].checkValidity()){window["gf_submitting_5"]=true;}  ' onkeypress='if( event.keyCode == 13 ){ if(window["gf_submitting_5"]){return false;} if( !jQuery("#gform_5")[0].checkValidity || jQuery("#gform_5")[0].checkValidity()){window["gf_submitting_5"]=true;}  jQuery("#gform_5").trigger("submit",[true]); }' /> <input type='hidden' name='gform_ajax' value='form_id=5&amp;title=&amp;description=&amp;tabindex=100&amp;theme=legacy' />
																				<input type='hidden' class='gform_hidden' name='is_submit_5' value='1' />
																				<input type='hidden' class='gform_hidden' name='gform_submit' value='5' />

																				<input type='hidden' class='gform_hidden' name='gform_unique_id' value='' />
																				<input type='hidden' class='gform_hidden' name='state_5' value='WyJbXSIsImFhZjJlNjRjNDY0Yjg1Mzg5MDgzZjEzYjZjOTBlNTY5Il0=' />
																				<input type='hidden' class='gform_hidden' name='gform_target_page_number_5' id='gform_target_page_number_5' value='0' />
																				<input type='hidden' class='gform_hidden' name='gform_source_page_number_5' id='gform_source_page_number_5' value='1' />
																				<input type='hidden' name='gform_field_values' value='' />

																			</div>
																			<p style="display: none !important;" class="akismet-fields-container" data-prefix="ak_"><label>&#916;<textarea name="ak_hp_textarea" cols="45" rows="8" maxlength="100"></textarea></label><input type="hidden" id="ak_js_1" name="ak_js" value="19" /><script>document.getElementById("ak_js_1").setAttribute("value", (new Date()).getTime());</script></p>
																		</form>
																	</div>
																	<iframe style='display:none;width:0px;height:0px;' src='about:blank' name='gform_ajax_frame_5' id='gform_ajax_frame_5' title='This iframe contains the logic required to handle Ajax powered Gravity Forms.'></iframe>
																	<script type="text/javascript">
																		/* <![CDATA[ */
																		gform.initializeOnLoaded(function () { gformInitSpinner(5, 'https://sbhi.app/wp-content/plugins/gravityforms/images/spinner.svg', true); jQuery('#gform_ajax_frame_5').on('load', function () { var contents = jQuery(this).contents().find('*').html(); var is_postback = contents.indexOf('GF_AJAX_POSTBACK') >= 0; if (!is_postback) { return; } var form_content = jQuery(this).contents().find('#gform_wrapper_5'); var is_confirmation = jQuery(this).contents().find('#gform_confirmation_wrapper_5').length > 0; var is_redirect = contents.indexOf('gformRedirect(){') >= 0; var is_form = form_content.length > 0 && !is_redirect && !is_confirmation; var mt = parseInt(jQuery('html').css('margin-top'), 10) + parseInt(jQuery('body').css('margin-top'), 10) + 100; if (is_form) { jQuery('#gform_wrapper_5').html(form_content.html()); if (form_content.hasClass('gform_validation_error')) { jQuery('#gform_wrapper_5').addClass('gform_validation_error'); } else { jQuery('#gform_wrapper_5').removeClass('gform_validation_error'); } setTimeout(function () { /* delay the scroll by 50 milliseconds to fix a bug in chrome */ jQuery(document).scrollTop(jQuery('#gform_wrapper_5').offset().top - mt); }, 50); if (window['gformInitDatepicker']) { gformInitDatepicker(); } if (window['gformInitPriceFields']) { gformInitPriceFields(); } var current_page = jQuery('#gform_source_page_number_5').val(); gformInitSpinner(5, 'https://sbhi.app/wp-content/plugins/gravityforms/images/spinner.svg', true); jQuery(document).trigger('gform_page_loaded', [5, current_page]); window['gf_submitting_5'] = false; } else if (!is_redirect) { var confirmation_content = jQuery(this).contents().find('.GF_AJAX_POSTBACK').html(); if (!confirmation_content) { confirmation_content = contents; } jQuery('#gform_wrapper_5').replaceWith(confirmation_content); jQuery(document).scrollTop(jQuery('#gf_5').offset().top - mt); jQuery(document).trigger('gform_confirmation_loaded', [5]); window['gf_submitting_5'] = false; wp.a11y.speak(jQuery('#gform_confirmation_message_5').text()); } else { jQuery('#gform_5').append(contents); if (window['gformRedirect']) { gformRedirect(); } } jQuery(document).trigger("gform_pre_post_render", [{ formId: "5", currentPage: "current_page", abort: function () { this.preventDefault(); } }]); if (event && event.defaultPrevented) { return; } const gformWrapperDiv = document.getElementById("gform_wrapper_5"); if (gformWrapperDiv) { const visibilitySpan = document.createElement("span"); visibilitySpan.id = "gform_visibility_test_5"; gformWrapperDiv.insertAdjacentElement("afterend", visibilitySpan); } const visibilityTestDiv = document.getElementById("gform_visibility_test_5"); let postRenderFired = false; function triggerPostRender() { if (postRenderFired) { return; } postRenderFired = true; jQuery(document).trigger('gform_post_render', [5, current_page]); gform.utils.trigger({ event: 'gform/postRender', native: false, data: { formId: 5, currentPage: current_page } }); if (visibilityTestDiv) { visibilityTestDiv.parentNode.removeChild(visibilityTestDiv); } } function debounce(func, wait, immediate) { var timeout; return function () { var context = this, args = arguments; var later = function () { timeout = null; if (!immediate) func.apply(context, args); }; var callNow = immediate && !timeout; clearTimeout(timeout); timeout = setTimeout(later, wait); if (callNow) func.apply(context, args); }; } const debouncedTriggerPostRender = debounce(function () { triggerPostRender(); }, 200); if (visibilityTestDiv && visibilityTestDiv.offsetParent === null) { const observer = new MutationObserver((mutations) => { mutations.forEach((mutation) => { if (mutation.type === 'attributes' && visibilityTestDiv.offsetParent !== null) { debouncedTriggerPostRender(); observer.disconnect(); } }); }); observer.observe(document.body, { attributes: true, childList: false, subtree: true, attributeFilter: ['style', 'class'], }); } else { triggerPostRender(); } }); });
																		/* ]]&gt; */
																	</script>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="fl-row fl-row-full-width fl-row-bg-none fl-node-57584ee35fc27 fl-row-default-height fl-row-align-center" data-node="57584ee35fc27">
								<div class="fl-row-content-wrap">
									<div class="fl-row-content fl-row-fixed-width fl-node-content">

										<div class="fl-col-group fl-node-57584ee35fccb" data-node="57584ee35fccb">
											<div class="fl-col fl-node-57584ee35fd5a fl-col-small" data-node="57584ee35fd5a">
												<div class="fl-col-content fl-node-content">
													<div class="fl-module fl-module-icon fl-node-5e4c1a48c7e94" data-node="5e4c1a48c7e94">
														<div class="fl-module-content fl-node-content">
															<div class="fl-icon-wrap">
																<span class="fl-icon">
																	<i class="fi-flag" aria-hidden="true"></i>
																</span>
																<div id="fl-icon-text-5e4c1a48c7e94" class="fl-icon-text fl-icon-text-wrap">
																	<p><strong>Freedom Life Insurance</strong><br /><strong>Company of America</strong></p>
																</div>
															</div>
														</div>
													</div>
													<div class="fl-module fl-module-icon fl-node-5e672efde28d0" data-node="5e672efde28d0">
														<div class="fl-module-content fl-node-content">
															<div class="fl-icon-wrap">
																<span class="fl-icon">
																	<i class="fi-home" aria-hidden="true"></i>
																</span>
																<div id="fl-icon-text-5e672efde28d0" class="fl-icon-text fl-icon-text-wrap">
																	<p><a href="https://goo.gl/maps/mzoTsvRbABeNs7tR7" target="_blank" rel="noopener">300 Burnett Street, Suite 200</a><br /><a href="https://goo.gl/maps/mzoTsvRbABeNs7tR7" target="_blank" rel="noopener">Fort Worth, TX 76102-2734</a></p>
																</div>
															</div>
														</div>
													</div>
													<div class="fl-module fl-module-icon fl-node-5e4c1af9015cb" data-node="5e4c1af9015cb">
														<div class="fl-module-content fl-node-content">
															<div class="fl-icon-wrap">
																<span class="fl-icon">
																	<i class="fi-mail" aria-hidden="true"></i>
																</span>
																<div id="fl-icon-text-5e4c1af9015cb" class="fl-icon-text fl-icon-text-wrap">
																	<p><a href="/cdn-cgi/l/email-protection#2940474f46695c5a414c48455d414e5b465c59074a4644"><span class="__cf_email__" data-cfemail="8ee7e0e8e1cefbfde6ebefe2fae6e9fce1fbfea0ede1e3">[email&#160;protected]</span></a></p>
																</div>
															</div>
														</div>
													</div>
													<div class="fl-module fl-module-icon fl-node-5e4c1b7d13665" data-node="5e4c1b7d13665">
														<div class="fl-module-content fl-node-content">
															<div class="fl-icon-wrap">
																<span class="fl-icon">
																	<i class="fi-telephone" aria-hidden="true"></i>
																</span>
																<div id="fl-icon-text-5e4c1b7d13665" class="fl-icon-text fl-icon-text-wrap">
																	<p><a href="tel:+18003879027" target="_blank" rel="noopener">800.387.9027</a></p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="fl-col fl-node-5e4c1d30399ec fl-col-small" data-node="5e4c1d30399ec">
												<div class="fl-col-content fl-node-content">
													<div class="fl-module fl-module-icon fl-node-5e4c1d3039aac" data-node="5e4c1d3039aac">
														<div class="fl-module-content fl-node-content">
															<div class="fl-icon-wrap">
																<span class="fl-icon">
																	<i class="fi-flag" aria-hidden="true"></i>
																</span>
																<div id="fl-icon-text-5e4c1d3039aac" class="fl-icon-text fl-icon-text-wrap">
																	<p><strong>National Foundation</strong><br /><strong>Life Insurance Company</strong></p>
																</div>
															</div>
														</div>
													</div>
													<div class="fl-module fl-module-icon fl-node-5e4c1a97c677c" data-node="5e4c1a97c677c">
														<div class="fl-module-content fl-node-content">
															<div class="fl-icon-wrap">
																<span class="fl-icon">
																	<i class="fi-home" aria-hidden="true"></i>
																</span>
																<div id="fl-icon-text-5e4c1a97c677c" class="fl-icon-text fl-icon-text-wrap">
																	<p><a href="https://goo.gl/maps/mzoTsvRbABeNs7tR7" target="_blank" rel="noopener">300 Burnett Street, Suite 200</a><br /><a href="https://goo.gl/maps/mzoTsvRbABeNs7tR7" target="_blank" rel="noopener">Fort Worth, TX 76102-2734</a></p>
																</div>
															</div>
														</div>
													</div>
													<div class="fl-module fl-module-icon fl-node-5e4c1d3039aaf" data-node="5e4c1d3039aaf">
														<div class="fl-module-content fl-node-content">
															<div class="fl-icon-wrap">
																<span class="fl-icon">
																	<i class="fi-mail" aria-hidden="true"></i>
																</span>
																<div id="fl-icon-text-5e4c1d3039aaf" class="fl-icon-text fl-icon-text-wrap">
																	<p><a href="/cdn-cgi/l/email-protection#87eee9e1e8c7f2f4efe2e6ebf3efe0f5e8f2f7a9e4e8ea"><span class="__cf_email__" data-cfemail="cba2a5ada48bbeb8a3aeaaa7bfa3acb9a4bebbe5a8a4a6">[email&#160;protected]</span></a></p>
																</div>
															</div>
														</div>
													</div>
													<div class="fl-module fl-module-icon fl-node-5e4c1d3039ab0" data-node="5e4c1d3039ab0">
														<div class="fl-module-content fl-node-content">
															<div class="fl-icon-wrap">
																<span class="fl-icon">
																	<i class="fi-telephone" aria-hidden="true"></i>
																</span>
																<div id="fl-icon-text-5e4c1d3039ab0" class="fl-icon-text fl-icon-text-wrap">
																	<p><a href="tel:+18002219039" target="_blank" rel="noopener">800.221.9039</a></p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="fl-col fl-node-5e4c1ce999a0c fl-col-small" data-node="5e4c1ce999a0c">
												<div class="fl-col-content fl-node-content">
													<div class="fl-module fl-module-icon fl-node-5e4c1ce999ac2" data-node="5e4c1ce999ac2">
														<div class="fl-module-content fl-node-content">
															<div class="fl-icon-wrap">
																<span class="fl-icon">
																	<i class="fi-flag" aria-hidden="true"></i>
																</span>
																<div id="fl-icon-text-5e4c1ce999ac2" class="fl-icon-text fl-icon-text-wrap">
																	<p><strong>Enterprise</strong><br /><strong>Life Insurance Company</strong></p>
																</div>
															</div>
														</div>
													</div>
													<div class="fl-module fl-module-icon fl-node-5e672f0013cb9" data-node="5e672f0013cb9">
														<div class="fl-module-content fl-node-content">
															<div class="fl-icon-wrap">
																<span class="fl-icon">
																	<i class="fi-home" aria-hidden="true"></i>
																</span>
																<div id="fl-icon-text-5e672f0013cb9" class="fl-icon-text fl-icon-text-wrap">
																	<p><a href="https://goo.gl/maps/mzoTsvRbABeNs7tR7" target="_blank" rel="noopener">300 Burnett Street, Suite 200</a><br /><a href="https://goo.gl/maps/mzoTsvRbABeNs7tR7" target="_blank" rel="noopener">Fort Worth, TX 76102-2734</a></p>
																</div>
															</div>
														</div>
													</div>
													<div class="fl-module fl-module-icon fl-node-5e4c1ce999ac5" data-node="5e4c1ce999ac5">
														<div class="fl-module-content fl-node-content">
															<div class="fl-icon-wrap">
																<span class="fl-icon">
																	<i class="fi-mail" aria-hidden="true"></i>
																</span>
																<div id="fl-icon-text-5e4c1ce999ac5" class="fl-icon-text fl-icon-text-wrap">
																	<p><a href="/cdn-cgi/l/email-protection#60090e060f2015130805010c140807120f15104e030f0d"><span class="__cf_email__" data-cfemail="31585f575e7144425954505d455956435e44411f525e5c">[email&#160;protected]</span></a></p>
																</div>
															</div>
														</div>
													</div>
													<div class="fl-module fl-module-icon fl-node-5e4c1ce999ac6" data-node="5e4c1ce999ac6">
														<div class="fl-module-content fl-node-content">
															<div class="fl-icon-wrap">
																<span class="fl-icon">
																	<i class="fi-telephone" aria-hidden="true"></i>
																</span>
																<div id="fl-icon-text-5e4c1ce999ac6" class="fl-icon-text fl-icon-text-wrap">
																	<p><a href="tel:+18006064482" target="_blank" rel="noopener">800.606.4482</a></p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="fl-row fl-row-full-width fl-row-bg-none fl-node-5e4c1efa5923b fl-row-default-height fl-row-align-center" data-node="5e4c1efa5923b">
								<div class="fl-row-content-wrap">
									<div class="fl-row-content fl-row-fixed-width fl-node-content">

										<div class="fl-col-group fl-node-5e4c1efa5945b fl-col-group-equal-height fl-col-group-align-top" data-node="5e4c1efa5945b">
											<div class="fl-col fl-node-5e4c1efa5945d fl-col-small" data-node="5e4c1efa5945d">
												<div class="fl-col-content fl-node-content">
													<div class="fl-module fl-module-icon fl-node-5e4c1efa5945e" data-node="5e4c1efa5945e">
														<div class="fl-module-content fl-node-content">
															<div class="fl-icon-wrap">
																<span class="fl-icon">
																	<i class="fi-flag" aria-hidden="true"></i>
																</span>
																<div id="fl-icon-text-5e4c1efa5945e" class="fl-icon-text fl-icon-text-wrap">
																	<p><strong>Media Contact</strong></p>
																</div>
															</div>
														</div>
													</div>
													<div class="fl-module fl-module-icon fl-node-5e4c1efa59460" data-node="5e4c1efa59460">
														<div class="fl-module-content fl-node-content">
															<div class="fl-icon-wrap">
																<span class="fl-icon">
																	<i class="fi-mail" aria-hidden="true"></i>
																</span>
																<div id="fl-icon-text-5e4c1efa59460" class="fl-icon-text fl-icon-text-wrap">
																	<p><a href="/cdn-cgi/l/email-protection#19747c7d7078596c6a717c78756d717e6b766c69377a7674" target="_blank" rel="noopener"><span class="__cf_email__" data-cfemail="87eae2e3eee6c7f2f4efe2e6ebf3efe0f5e8f2f7a9e4e8ea">[email&#160;protected]</span></a></p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="fl-col fl-node-5e4c1efa59462 fl-col-small" data-node="5e4c1efa59462">
												<div class="fl-col-content fl-node-content">
													<div class="fl-module fl-module-heading fl-node-5e4c1fee37fff" data-node="5e4c1fee37fff">
														<div class="fl-module-content fl-node-content">
															<h4 class="fl-heading">
																<span class="fl-heading-text">Business Hours</span>
															</h4>
														</div>
													</div>
													<div class="fl-module fl-module-icon fl-node-5e4c1efa59466" data-node="5e4c1efa59466">
														<div class="fl-module-content fl-node-content">
															<div class="fl-icon-wrap">
																<span class="fl-icon">
																	<i class="fi-clock" aria-hidden="true"></i>
																</span>
																<div id="fl-icon-text-5e4c1efa59466" class="fl-icon-text fl-icon-text-wrap">
																	<p>7:00 AM - 5:00 PM CT Monday - Friday</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="fl-col fl-node-5e4c20a509a4d fl-col-small" data-node="5e4c20a509a4d">
												<div class="fl-col-content fl-node-content">
													<div class="fl-module fl-module-heading fl-node-5e4c20a509aed" data-node="5e4c20a509aed">
														<div class="fl-module-content fl-node-content">
															<h4 class="fl-heading">
																<span class="fl-heading-text">Customer Service Hours</span>
															</h4>
														</div>
													</div>
													<div class="fl-module fl-module-icon fl-node-5e4c20a509aef" data-node="5e4c20a509aef">
														<div class="fl-module-content fl-node-content">
															<div class="fl-icon-wrap">
																<span class="fl-icon">
																	<i class="fi-clock" aria-hidden="true"></i>
																</span>
																<div id="fl-icon-text-5e4c20a509aef" class="fl-icon-text fl-icon-text-wrap">
																	<p>7:00 AM - 7:00 PM CT Monday - Friday<br />8:00 AM - 1:00 PM CT Saturday</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
			</section>
		</main>
	</div>