@page
@model SBHI.Pages.HOPEModel
@{
}
<div class="content-sidebar-wrap">
	<main class="content">
		<section class="subpage-header" style="background-image:url(https://sbhi-public.s3.us-east-2.amazonaws.com/images/bg-table-coffee-home-couch-furniture-1600x162.jpg);"><div class="wrap"><article><header class="entry-header"><span class="heading" itemprop="headline">Hope</span></header><div class="breadcrumbs"><div class="wrap"><span class="breadcrumb-link-wrap"><a class="breadcrumb-link" href="https://sbhi.app/"><span class="breadcrumb-link-text-wrap">Home</span></a><meta></span> <span class="bread-sep">></span> Hope</div></div></article></div></section><section class="full-width">
			<article class="post-17821 page type-page status-publish entry" aria-label="Hope">
				<div class="entry-content">
					<div class="fl-builder-content fl-builder-content-17821 fl-builder-content-primary fl-builder-global-templates-locked" data-post-id="17821">
						<div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-5e3ba75bade45 fl-row-default-height fl-row-align-center page-subheader bg-white-80 hope-subheader" data-node="5e3ba75bade45">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e3ba75bade3e fl-col-group-equal-height fl-col-group-align-top" data-node="5e3ba75bade3e">
										<div class="fl-col fl-node-5e3ba75bade41 subheader-content-box" data-node="5e3ba75bade41">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e3ba75bade43" data-node="5e3ba75bade43">
													<div class="fl-module-content fl-node-content">
														<h1 class="fl-heading">
															<span class="fl-heading-text">Living a Mission <br>of HOPE</span>
														</h1>
													</div>
												</div>
												<div class="fl-module fl-module-heading fl-node-5e3ba7b60fb29" data-node="5e3ba7b60fb29">
													<div class="fl-module-content fl-node-content">
														<h3 class="fl-heading">
															<span class="fl-heading-text">Donations of Time, Talent and Treasure help  Families in Local Communities</span>
														</h3>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e3ba75bade44" data-node="5e3ba75bade44">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>For USHEALTH Group; its staff, management and agents, HOPE goes beyond simply wanting something to happen … it’s making something happen. Helping Other People Everyday a mission that we live, through our commitment to make a positive difference in the lives of others.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="fl-col fl-node-5e3ba75bade42 fl-col-small fl-visible-desktop fl-visible-large" data-node="5e3ba75bade42">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-pp-modal-box fl-node-5e4a26e1d5874 video-popup" data-node="5e4a26e1d5874">
													<div class="fl-module-content fl-node-content">
														<div id="modal-5e4a26e1d5874" class="pp-modal-wrap has-overlay-animation" role="dialog">
															<div class="pp-modal-container">
																<div class="pp-modal layout-standard">
																	<div class="pp-modal-body">
																		<div class="pp-modal-close box-top-right no-modal-header" role="button" aria-label="Close">
																			<div class="bar-wrap" aria-hidden="true">
																				<span class="bar-1"></span>
																				<span class="bar-2"></span>
																			</div>
																		</div>
																		<div class="pp-modal-content pp-modal-frame">
																			<div class="pp-modal-content-inner">
																				<style>
																					.styleIt {
																						width: 500px;
																						margin: 0px;
																						height: 281px;
																					}
																				</style>
																				<div class="pp-modal-video-embed styleIt">
																					<lite-youtube videoid="mztiW_SiAtE"></lite-youtube>
																					@* <iframe loading="lazy" title="HOPE" width="500" height="281" src="https://www.youtube.com/embed/mztiW_SiAtE?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> *@
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="pp-modal-overlay"></div>
														</div>
													</div>
												</div>
												<div class="fl-module fl-module-photo fl-node-5e4a2d555014b photo-video-img  home-photo-video-img modal-5e4a26e1d5874" data-node="5e4a2d555014b">
													<div class="fl-module-content fl-node-content">
														<div class="fl-photo fl-photo-align-center" itemscope itemtype="https://schema.org/ImageObject">
															<div class="fl-photo-content fl-photo-img-png">
																<img loading="lazy" decoding="async" class="fl-photo-img wp-image-17910 size-full" src="https://sbhi-public.s3.us-east-2.amazonaws.com/images/hope.png" alt="Hope" itemprop="image" height="352" width="535" title="hope" srcset="https://sbhi-public.s3.us-east-2.amazonaws.com/images/hope.png 535w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/hope-300x197.png 300w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/hope-75x49.png 75w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/hope-163x108.png 163w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/hope-228x150.png 228w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/hope-456x300.png 456w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/hope-200x132.png 200w" sizes="(max-width: 535px) 100vw, 535px" />
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5e46744963ec7 fl-row-default-height fl-row-align-center" data-node="5e46744963ec7">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e4674496c401" data-node="5e4674496c401">
										<div class="fl-col fl-node-5e4674496c56f" data-node="5e4674496c56f">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-photo fl-node-5e46744963752 fl-visible-medium fl-visible-mobile photo-video-img modal-5e4a26e1d5874 hope-video-omg" data-node="5e46744963752">
													<div class="fl-module-content fl-node-content">
														<div class="fl-photo fl-photo-align-center" itemscope itemtype="https://schema.org/ImageObject">
															<div class="fl-photo-content fl-photo-img-png">
																<img loading="lazy" decoding="async" class="fl-photo-img wp-image-17910 size-full" src="https://sbhi-public.s3.us-east-2.amazonaws.com/images/hope.png" alt="Hope" itemprop="image" height="352" width="535" title="hope" srcset="https://sbhi-public.s3.us-east-2.amazonaws.com/images/hope.png 535w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/hope-300x197.png 300w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/hope-75x49.png 75w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/hope-163x108.png 163w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/hope-228x150.png 228w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/hope-456x300.png 456w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/hope-200x132.png 200w" sizes="(max-width: 535px) 100vw, 535px" />
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5e3c932b62577 fl-row-default-height fl-row-align-center" data-node="5e3c932b62577">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e3c932b66f45" data-node="5e3c932b66f45">
										<div class="fl-col fl-node-5e3c932b67061 fl-col-small fl-visible-desktop fl-visible-large" data-node="5e3c932b67061">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-photo fl-node-5e3c9df1b577d sticky-image" data-node="5e3c9df1b577d">
													<div class="fl-module-content fl-node-content">
														<div class="fl-photo fl-photo-align-center" itemscope itemtype="https://schema.org/ImageObject">
															<div class="fl-photo-content fl-photo-img-jpg">
																<img loading="lazy" decoding="async" class="fl-photo-img wp-image-18949 size-full" src="https://sbhi-public.s3.us-east-2.amazonaws.com/images/HOPE-Image-1.jpg" alt="HOPE Image (1)" itemprop="image" height="533" width="800" title="HOPE Image (1)" srcset="https://sbhi-public.s3.us-east-2.amazonaws.com/images/HOPE-Image-1.jpg 800w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/HOPE-Image-1-300x200.jpg 300w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/HOPE-Image-1-768x512.jpg 768w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/HOPE-Image-1-75x50.jpg 75w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/HOPE-Image-1-163x108.jpg 163w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/HOPE-Image-1-225x150.jpg 225w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/HOPE-Image-1-450x300.jpg 450w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/HOPE-Image-1-200x133.jpg 200w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/HOPE-Image-1-564x376.jpg 564w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/HOPE-Image-1-600x400.jpg 600w" sizes="(max-width: 800px) 100vw, 800px" />
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="fl-col fl-node-5e3c932b67064 fl-col-small" data-node="5e3c932b67064">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-photo fl-node-5e54fc457dd26 fl-visible-medium fl-visible-mobile" data-node="5e54fc457dd26">
													<div class="fl-module-content fl-node-content">
														<div class="fl-photo fl-photo-align-center" itemscope itemtype="https://schema.org/ImageObject">
															<div class="fl-photo-content fl-photo-img-jpg">
																<img loading="lazy" decoding="async" class="fl-photo-img wp-image-18949 size-full" src="https://sbhi-public.s3.us-east-2.amazonaws.com/images/HOPE-Image-1.jpg" alt="HOPE Image (1)" itemprop="image" height="533" width="800" title="HOPE Image (1)" srcset="https://sbhi-public.s3.us-east-2.amazonaws.com/images/HOPE-Image-1.jpg 800w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/HOPE-Image-1-300x200.jpg 300w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/HOPE-Image-1-768x512.jpg 768w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/HOPE-Image-1-75x50.jpg 75w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/HOPE-Image-1-163x108.jpg 163w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/HOPE-Image-1-225x150.jpg 225w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/HOPE-Image-1-450x300.jpg 450w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/HOPE-Image-1-200x133.jpg 200w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/HOPE-Image-1-564x376.jpg 564w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/HOPE-Image-1-600x400.jpg 600w" sizes="(max-width: 800px) 100vw, 800px" />
															</div>
														</div>
													</div>
												</div>
												<div class="fl-module fl-module-photo fl-node-5e3c933447911" data-node="5e3c933447911">
													<div class="fl-module-content fl-node-content">
														<div class="fl-photo fl-photo-align-center" itemscope itemtype="https://schema.org/ImageObject">
															<div class="fl-photo-content fl-photo-img-jpg">
																<img loading="lazy" decoding="async" class="fl-photo-img wp-image-17914 size-full" src="https://sbhi-public.s3.us-east-2.amazonaws.com/images/Image-16.jpg" alt="USHEALTH Group Mission of HOPE" itemprop="image" height="167" width="500" title="USHEALTH Group Mission of HOPE" srcset="https://sbhi-public.s3.us-east-2.amazonaws.com/images/Image-16.jpg 500w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/Image-16-300x100.jpg 300w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/Image-16-75x25.jpg 75w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/Image-16-260x87.jpg 260w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/Image-16-200x67.jpg 200w" sizes="(max-width: 500px) 100vw, 500px" />
															</div>
														</div>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e3c935e926e5" data-node="5e3c935e926e5">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>USHA’s mission of Helping Other People Everyday was initiated in 2010 by Troy McQuagge, who had just been named President of the then, fledgling company. Today, USHEALTH Advisors and its parent company, USHEALTH Group, Inc. have experienced exponential growth; with McQuagge now serving as CEO of a corporation that executes at a level that is 10 times greater than when he began. For their first HOPE project, McQuagge and other company leaders partnered with the Phoenix of New Orleans (PNOLA) organization in the aftermath of Hurricane Katrina. Together, they took on the task of rebuilding homes in some of the hardest hit areas of the city. The company volunteered hundreds of man-hours toward razing and restoration efforts to ensure safe and sound housing for residents of the lower Mid-City area of New Orleans.</p>
															<p>
																USHA continued its mission of H.O.P.E in 2011 when company leaders provided thousands of dollars’ worth of new shoes, clothing, baby formula and other needed supplies to The Crisis Nursery, a non-profit children’s shelter serving the Phoenix/Scottsdale metropolitan area. We believe our business should be about more than the business segment we serve. We believe it should also be about people and giving back to our local communities.<br />
																When USHEALTH Advisors returned to Phoenix for its 2012 Leaders Meeting, the company once again fulfilled its mission of HOPE by presenting a check for more than $25,000 to H.O.P.E. Kids Arizona; a non-profit support community for families of children with cancer and other life threatening illnesses. A year later, when the company’s leadership learned that H.O.P.E. Kids had opened a chapter near its headquarters in North Texas; USHA donated another $45,000 plus.
															</p>
															<p>Each year, USHEALTH Group’s family of companies expands its mission of HOPE in many ways … with different organizations and in many different communities. Semper Fi and America’s Fund, The Wounded Warriors Project, Trinity Habitat for Humanity, Toys for Tots and countless other charitable organizations across America, have all benefited from the dedicated efforts of USHEALTH Group employees and agents.</p>
															<p>When asked to describe the reasons behind the company’s mission of HOPE, Mr. McQuagge said “Every company has a ‘soul’. That ‘soul’ lies at the very core of who the company and its people really are. Our people have made it their mission to help and serve others whenever and wherever they can. For me, there is no more noble way to run a business or to live your life.”</p>
															<p>USHEALTH Group’s Senior VP of Field Sales, Bill Shelton, added “Living a mission of HOPE is something that we have been dedicated to fulfilling since the launch of USHEALTH Advisors. This is who we are and what we do as individuals, and as a company. For us, there is no other way to live.”</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-5e3d720b59113 fl-row-default-height fl-row-align-center" data-node="5e3d720b59113">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e3d720b60181" data-node="5e3d720b60181">
										<div class="fl-col fl-node-5e3d720b602ba" data-node="5e3d720b602ba">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e3d720b58b30" data-node="5e3d720b58b30">
													<div class="fl-module-content fl-node-content">
														<h3 class="fl-heading">
															<span class="fl-heading-text">About USHEALTH Advisors, L.L.C.</span>
														</h3>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e3d72223b0b9" data-node="5e3d72223b0b9">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>USHEALTH Advisors is the wholly-owned national health insurance distribution arm of USHEALTH Group, Inc. The company sells individual health coverage and supplementary products underwritten by Freedom Life Insurance Company of America, Enterprise Life Insurance Company and National Foundation Life Insurance Company; all wholly-owned subsidiaries of USHEALTH Group, Inc. The company is focused on serving America’s self-employed, business owner and individual insurance market through its captive Agent sales force.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</section>
	</main>
</div>