@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="content-sidebar-wrap">
	<main class="content">
		<article class="post-5 page type-page status-publish entry" aria-label="Home">
			</header><div class="entry-content">
				<div class="fl-builder-content fl-builder-content-5 fl-builder-content-primary fl-builder-global-templates-locked" data-post-id="5">
					<div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-5e262d969cb66 fl-row-default-height fl-row-align-center home-banner-wrapper" data-node="5e262d969cb66">
						<div class="fl-row-content-wrap">
							<div class="fl-row-content fl-row-fixed-width fl-node-content">

								<div class="fl-col-group fl-node-5e262d96a559d" data-node="5e262d96a559d">
									<div class="fl-col fl-node-5e262d96a56ef" data-node="5e262d96a56ef">
										<div class="fl-col-content fl-node-content">
											<div class="fl-module fl-module-heading fl-node-5e262d969c2bd" data-node="5e262d969c2bd">
												<div class="fl-module-content fl-node-content">
													<h1 class="fl-heading">
														<span class="fl-heading-text">Innovative Health <br>Coverage tailored to <br>your individual needs</span>
													</h1>
												</div>
											</div>
											<div class="fl-module fl-module-rich-text fl-node-5e262e9300d8d" data-node="5e262e9300d8d">
												<div class="fl-module-content fl-node-content">
													<div class="fl-rich-text">
														<p>Apply anytime of the year.</p>
													</div>
												</div>
											</div>
											<div class="fl-module fl-module-button fl-node-5e262eb74c544 home-banner-btn" data-node="5e262eb74c544">
												<div class="fl-module-content fl-node-content">
													<div class="fl-button-wrap fl-button-width-auto fl-button-left">
														<a href="/get-a-quote/" target="_self" class="fl-button">
															<span class="fl-button-text">Get Started Now</span>
														</a>
													</div>
												</div>
											</div>
											<div class="fl-module fl-module-button fl-node-5e2630a3a9ed6 home-video-btn modal-5e48ceee0e32b" data-node="5e2630a3a9ed6">
												<div class="fl-module-content fl-node-content">
													<div class="fl-button-wrap fl-button-width-auto fl-button-left">
														<a href="" target="_self" class="fl-button">
															<span class="fl-button-text">Watch Video</span>
														</a>
													</div>
												</div>
											</div>
											<div class="fl-module fl-module-pp-modal-box fl-node-5e48ceee0e32b video-popup" data-node="5e48ceee0e32b">
												<div class="fl-module-content fl-node-content">
													<div id="modal-5e48ceee0e32b" class="pp-modal-wrap has-overlay-animation" role="dialog">
														<div class="pp-modal-container">
															<div class="pp-modal layout-standard">
																<div class="pp-modal-body">
																	<div class="pp-modal-close box-top-right no-modal-header" role="button" tabindex="0" aria-label="Close">
																		<div class="bar-wrap" aria-hidden="true">
																			<span class="bar-1"></span>
																			<span class="bar-2"></span>
																		</div>
																	</div>
																	<div class="pp-modal-content pp-modal-frame">
																		<div class="pp-modal-content-inner">
																			<div class="pp-modal-video-embed"><iframe loading="lazy" title="USHEALTH Group Health Coverage" width="500" height="281" src="https://www.youtube.com/embed/pNFZz77tCTE?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="pp-modal-overlay"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="fl-col-group fl-node-5e444c4fb4a31" data-node="5e444c4fb4a31">
									<div class="fl-col fl-node-5e444c4fb4be6 fl-visible-mobile" data-node="5e444c4fb4be6">
										<div class="fl-col-content fl-node-content"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-5e261ba2abee3 fl-row-default-height fl-row-align-center" data-node="5e261ba2abee3">
						<div class="fl-row-content-wrap">
							<div class="fl-row-content fl-row-fixed-width fl-node-content">

								<div class="fl-col-group fl-node-5e261ba2b204d fl-col-group-custom-width" data-node="5e261ba2b204d">
									<div class="fl-col fl-node-5e261ba2b21cd fl-col-small fl-col-small-custom-width" data-node="5e261ba2b21cd">
										<div class="fl-col-content fl-node-content">
											<div class="fl-module fl-module-heading fl-node-5e261ba64fd18" data-node="5e261ba64fd18">
												<div class="fl-module-content fl-node-content">
													<h2 class="fl-heading">
														<span class="fl-heading-text">Stellar Service <br>Reputation</span>
													</h2>
												</div>
											</div>
										</div>
									</div>
									<div class="fl-col fl-node-5e261ba2b21d2 fl-col-has-cols" data-node="5e261ba2b21d2">
										<div class="fl-col-content fl-node-content">
											<div class="fl-col-group fl-node-5e261c5a2ed88 fl-col-group-nested" data-node="5e261c5a2ed88">
												<div class="fl-col fl-node-5e261c5a2ee11 fl-col-small" data-node="5e261c5a2ee11">
													<div class="fl-col-content fl-node-content">
														<div class="fl-module fl-module-numbers fl-node-5e272c95c4f1f home-counter" data-node="5e272c95c4f1f">
															<div class="fl-module-content fl-node-content">
																<div class="fl-number fl-number-default">
																	<div class="fl-number-text">

																		<div class="fl-number-string"><span class="fl-number-int" data-start-number="0" data-number="15" data-total="15"><noscript>15</noscript></span> million+</div>
																		<span class="fl-number-after-text">members covered so far</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="fl-col fl-node-5e261c5a2ee15 fl-col-small" data-node="5e261c5a2ee15">
													<div class="fl-col-content fl-node-content">
														<div class="fl-module fl-module-numbers fl-node-5e263da1504dc home-counter" data-node="5e263da1504dc">
															<div class="fl-module-content fl-node-content">
																<div class="fl-number fl-number-default">
																	<div class="fl-number-text">

																		<div class="fl-number-string"><span class="fl-number-int" data-start-number="0" data-number="100" data-total="100"><noscript>100</noscript></span>+ years</div>
																		<span class="fl-number-after-text">of industry experience</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="fl-col-group fl-node-5e262a63aff45 fl-col-group-nested" data-node="5e262a63aff45">
												<div class="fl-col fl-node-5e262a63affd5 fl-col-small" data-node="5e262a63affd5">
													<div class="fl-col-content fl-node-content">
														<div class="fl-module fl-module-numbers fl-node-5e272c9199905 home-counter" data-node="5e272c9199905">
															<div class="fl-module-content fl-node-content">
																<div class="fl-number fl-number-default">
																	<div class="fl-number-text">

																		<div class="fl-number-string"><span class="fl-number-int" data-start-number="0" data-number="4" data-total="4"><noscript>4</noscript></span> years</div>
																		<span class="fl-number-after-text">insurance company of the year</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="fl-col fl-node-5e262a63affd9 fl-col-small" data-node="5e262a63affd9">
													<div class="fl-col-content fl-node-content">
														<div class="fl-module fl-module-numbers fl-node-5e272c9930930 home-counter" data-node="5e272c9930930">
															<div class="fl-module-content fl-node-content">
																<div class="fl-number fl-number-default">
																	<div class="fl-number-text">

																		<div class="fl-number-string"><span class="fl-number-int" data-start-number="0" data-number="3600" data-total="3600"><noscript>3,600</noscript></span> + agents</div>
																		<span class="fl-number-after-text">around the country across 31 states</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5e263cb77f0f9 fl-row-default-height fl-row-align-center" data-node="5e263cb77f0f9">
						<div class="fl-row-content-wrap">
							<div class="fl-row-content fl-row-fixed-width fl-node-content">

								<div class="fl-col-group fl-node-5e263cb78b09d fl-col-group-equal-height fl-col-group-align-center" data-node="5e263cb78b09d">
									<div class="fl-col fl-node-5e263cb78b205 fl-col-small" data-node="5e263cb78b205">
										<div class="fl-col-content fl-node-content">
											<div class="fl-module fl-module-heading fl-node-5e263cc17648b" data-node="5e263cc17648b">
												<div class="fl-module-content fl-node-content">
													<h4 class="fl-heading">
														<a href="https://sbhi.app/innovative-health-coverage/" title="A family of companies providing a better level of innovative health coverage for people just like you." target="_self">
															<span class="fl-heading-text">A family of companies providing a better level of innovative health coverage for people just like you.</span>
														</a>
													</h4>
												</div>
											</div>
											<div class="fl-module fl-module-rich-text fl-node-5e263ce48f0c2" data-node="5e263ce48f0c2">
												<div class="fl-module-content fl-node-content">
													<div class="fl-rich-text">
														<p>We understand two fundamental truths: Every customer is unique, and a 'one size fits all' approach is not always the answer.</p>
														<p>USHEALTH Group, Inc., with our family of companies, offers a full portfolio of plans that let you tailor health coverage to YOUR specific needs. With over 50 collective years of insurance experience, we provide a broad choice of flexible solutions and secure insurance plans. All you need to do is contact an agent to find the health coverage that best suits you and your family's individual needs!</p>
													</div>
												</div>
											</div>
											<div class="fl-module fl-module-button fl-node-5e263d34027e4" data-node="5e263d34027e4">
												<div class="fl-module-content fl-node-content">
													<div class="fl-button-wrap fl-button-width-auto fl-button-left">
														<a href="/about/" target="_self" class="fl-button">
															<span class="fl-button-text">Learn more about us</span>
														</a>
													</div>
												</div>
											</div>
											<div class="fl-module fl-module-heading fl-node-5f96f9fbb7d1d" data-node="5f96f9fbb7d1d">
												<div class="fl-module-content fl-node-content">
													<h4 class="fl-heading">
														<span class="fl-heading-text">Customize your package</span>
													</h4>
												</div>
											</div>
											<div class="fl-module fl-module-rich-text fl-node-5f96fa34336b5" data-node="5f96fa34336b5">
												<div class="fl-module-content fl-node-content">
													<div class="fl-rich-text">
														<p>Our insurance plans offer an array of options for customers on a limited budget, as well as, those who are looking for additional benefits. No matter the type of plan you choose, we work with you to build the health coverage that’s best for you and your family.</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="fl-col fl-node-5e263cb78b209 fl-col-small" data-node="5e263cb78b209">
										<div class="fl-col-content fl-node-content">
											<div class="fl-module fl-module-photo fl-node-5e4452cfebf31 modal-5e49edd015714 photo-video-img" data-node="5e4452cfebf31">
												<div class="fl-module-content fl-node-content">
													<div class="fl-photo fl-photo-align-center" itemscope itemtype="https://schema.org/ImageObject">
														<div class="fl-photo-content fl-photo-img-jpg">
															<img loading="lazy" decoding="async" class="fl-photo-img wp-image-18667 size-full" src="https://sbhi.app/wp-content/uploads/2020/03/Group-113-1.jpg" alt="UShealth group health coverage" itemprop="image" height="350" width="622" title="UShealth group health coverage" srcset="https://sbhi.app/wp-content/uploads/2020/03/Group-113-1.jpg 622w, https://sbhi.app/wp-content/uploads/2020/03/Group-113-1-300x169.jpg 300w, https://sbhi.app/wp-content/uploads/2020/03/Group-113-1-75x42.jpg 75w, https://sbhi.app/wp-content/uploads/2020/03/Group-113-1-260x146.jpg 260w, https://sbhi.app/wp-content/uploads/2020/03/Group-113-1-533x300.jpg 533w, https://sbhi.app/wp-content/uploads/2020/03/Group-113-1-200x113.jpg 200w, https://sbhi.app/wp-content/uploads/2020/03/Group-113-1-564x317.jpg 564w, https://sbhi.app/wp-content/uploads/2020/03/Group-113-1-600x338.jpg 600w" sizes="(max-width: 622px) 100vw, 622px" />
														</div>
													</div>
												</div>
											</div>
											<div class="fl-module fl-module-pp-modal-box fl-node-5e49edd015714 video-popup" data-node="5e49edd015714">
												<div class="fl-module-content fl-node-content">
													<div id="modal-5e49edd015714" class="pp-modal-wrap has-overlay-animation" role="dialog">
														<div class="pp-modal-container">
															<div class="pp-modal layout-standard">
																<div class="pp-modal-body">
																	<div class="pp-modal-close box-top-right no-modal-header" role="button" tabindex="0" aria-label="Close">
																		<div class="bar-wrap" aria-hidden="true">
																			<span class="bar-1"></span>
																			<span class="bar-2"></span>
																		</div>
																	</div>
																	<div class="pp-modal-content pp-modal-frame">
																		<div class="pp-modal-content-inner">
																			<div class="pp-modal-video-embed"><iframe loading="lazy" title="USHEALTH Group Health Coverage" width="500" height="281" src="https://www.youtube.com/embed/pNFZz77tCTE?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="pp-modal-overlay"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-5e273327c3dcc fl-row-default-height fl-row-align-center full-right-image home-full-right-image" data-node="5e273327c3dcc">
						<div class="fl-row-content-wrap">
							<div class="fl-row-content fl-row-fixed-width fl-node-content">

								<div class="fl-col-group fl-node-5e273327cf6f3 fl-col-group-equal-height fl-col-group-align-top" data-node="5e273327cf6f3">
									<div class="fl-col fl-node-5e273327cf83a fl-col-small" data-node="5e273327cf83a">
										<div class="fl-col-content fl-node-content">
											<div class="fl-module fl-module-heading fl-node-5e27333005c7f" data-node="5e27333005c7f">
												<div class="fl-module-content fl-node-content">
													<h2 class="fl-heading">
														<span class="fl-heading-text">Customize your package tailored for you</span>
													</h2>
												</div>
											</div>
											<div class="fl-module fl-module-rich-text fl-node-5e2733464ae37" data-node="5e2733464ae37">
												<div class="fl-module-content fl-node-content">
													<div class="fl-rich-text">
														<p>
															Flexibility and reliability are the hallmarks of our product portfolio.<br />
															Checkout our highlights &amp; benefits.
														</p>
													</div>
												</div>
											</div>
											<div class="fl-module fl-module-tabs fl-node-5e2770140d661 home-package-tab" data-node="5e2770140d661">
												<div class="fl-module-content fl-node-content">

													<div class="fl-tabs fl-tabs-horizontal fl-clearfix">

														<div class="fl-tabs-labels fl-clearfix" role="tablist">
															<a href="#" class="fl-tabs-label fl-tab-active" id="fl-tabs-5e2770140d661-label-0" data-index="0" aria-selected="true" aria-controls="fl-tabs-5e2770140d661-panel-0" aria-expanded="true" role="tab" tabindex="0">				Health				</a>
															<a href="#" class="fl-tabs-label" id="fl-tabs-5e2770140d661-label-1" data-index="1" aria-selected="false" aria-controls="fl-tabs-5e2770140d661-panel-1" aria-expanded="false" role="tab" tabindex="0">				Dental				</a>
															<a href="#" class="fl-tabs-label" id="fl-tabs-5e2770140d661-label-2" data-index="2" aria-selected="false" aria-controls="fl-tabs-5e2770140d661-panel-2" aria-expanded="false" role="tab" tabindex="0">				Vision				</a>

														</div>

														<div class="fl-tabs-panels fl-clearfix">
															<div class="fl-tabs-panel">
																<div class="fl-tabs-label fl-tabs-panel-label fl-tab-active" data-index="0" tabindex="0">
																	<span>Health</span>
																	<i class="fas"></i>
																</div>
																<div class="fl-tabs-panel-content fl-clearfix fl-tab-active" id="fl-tabs-5e2770140d661-panel-0" data-index="0" aria-labelledby="fl-tabs-5e2770140d661-label-0" role="tabpanel" aria-live="polite">
																	<ul>
																		<li>Any Doctor, Any Hospital!</li>
																		<li>24 hour coverage, on or off the job</li>
																		<li>Portable coverage</li>
																		<li>Quality coverage available for periods of critical illness</li>
																		<li>Wellness &amp; Health Screening Benefits Available</li>
																	</ul>
																</div>
															</div>
															<div class="fl-tabs-panel">
																<div class="fl-tabs-label fl-tabs-panel-label" data-index="1" tabindex="0">
																	<span>Dental</span>
																	<i class="fas fa-plus"></i>
																</div>
																<div class="fl-tabs-panel-content fl-clearfix" id="fl-tabs-5e2770140d661-panel-1" data-index="1" aria-hidden="true" aria-labelledby="fl-tabs-5e2770140d661-label-1" role="tabpanel" aria-live="polite">
																	<ul>
																		<li>3 Plans to Choose From Tailored for Your Needs</li>
																		<li>Preventative Dental Care Coverage</li>
																		<li>Basic Dental Care Coverage</li>
																		<li>Major Dental Care Services Available</li>
																		<li>Orthodontic Care Services Available</li>
																	</ul>
																</div>
															</div>
															<div class="fl-tabs-panel">
																<div class="fl-tabs-label fl-tabs-panel-label" data-index="2" tabindex="0">
																	<span>Vision</span>
																	<i class="fas fa-plus"></i>
																</div>
																<div class="fl-tabs-panel-content fl-clearfix" id="fl-tabs-5e2770140d661-panel-2" data-index="2" aria-hidden="true" aria-labelledby="fl-tabs-5e2770140d661-label-2" role="tabpanel" aria-live="polite">
																	<ul>
																		<li>Over 100,000 Access Points</li>
																		<li>Comprehensive Eye Exam Coverage</li>
																		<li>Corrective Lenses Coverage</li>
																		<li>Corrective Contact Lenses Coverage</li>
																		<li>Annual Allowance Towards Frames</li>
																	</ul>
																</div>
															</div>
														</div>

													</div>
												</div>
											</div>
											<div class="fl-module fl-module-button fl-node-5e4bfbcd21821" data-node="5e4bfbcd21821">
												<div class="fl-module-content fl-node-content">
													<div class="fl-button-wrap fl-button-width-auto fl-button-left">
														<a href="/product/" target="_self" class="fl-button">
															<span class="fl-button-text">View Our Products</span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="fl-col fl-node-5e273327cf83d fl-col-small full-right-img" data-node="5e273327cf83d">
										<div class="fl-col-content fl-node-content"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5e344bac7f98a fl-row-default-height fl-row-align-center" data-node="5e344bac7f98a">
						<div class="fl-row-content-wrap">
							<div class="fl-row-content fl-row-fixed-width fl-node-content">

								<div class="fl-col-group fl-node-5e344bac8ec95" data-node="5e344bac8ec95">
									<div class="fl-col fl-node-5e344bac8ee0c" data-node="5e344bac8ee0c">
										<div class="fl-col-content fl-node-content">
											<div class="fl-module fl-module-heading fl-node-5e343746cb873" data-node="5e343746cb873">
												<div class="fl-module-content fl-node-content">
													<h2 class="fl-heading">
														<span class="fl-heading-text">Apply for your health coverage <br />in 3 simple steps</span>
													</h2>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5e343746cc65b fl-row-default-height fl-row-align-center home-steps-wrapper" data-node="5e343746cc65b">
						<div class="fl-row-content-wrap">
							<div class="fl-row-content fl-row-fixed-width fl-node-content">

								<div class="fl-col-group fl-node-5e343746d99b9" data-node="5e343746d99b9">
									<div class="fl-col fl-node-5e343746d9b52 fl-col-has-cols" data-node="5e343746d9b52">
										<div class="fl-col-content fl-node-content">
											<div class="fl-col-group fl-node-5e344606ecc79 fl-col-group-nested fl-col-group-custom-width" data-node="5e344606ecc79">
												<div class="fl-col fl-node-5e344606ecd4f fl-col-small fl-col-small-custom-width" data-node="5e344606ecd4f">
													<div class="fl-col-content fl-node-content">
														<div class="fl-module fl-module-pp-infobox fl-node-5e34461320771 home-steps" data-node="5e34461320771">
															<div class="fl-module-content fl-node-content">
																<div class="pp-infobox-wrap">
																	<div class="pp-infobox layout-3">
																		<div class="layout-3-wrapper">
																			<div class="pp-icon-wrapper animated">
																				<div class="pp-infobox-image">
																					<img decoding="async" src="https://sbhi.app/wp-content/uploads/2020/01/circle-document.svg" alt="circle-document" />
																				</div>
																			</div>
																			<div class="pp-heading-wrapper">

																				<div class="pp-infobox-title-wrapper"><h4 class="pp-infobox-title">Step 1</h4></div>

																				<div class="pp-infobox-description">
																					<div class="pp-description-wrap">
																						<p>Call or fill out the form</p>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="fl-col fl-node-5e344606ecd53 fl-col-small fl-col-small-custom-width" data-node="5e344606ecd53">
													<div class="fl-col-content fl-node-content">
														<div class="fl-module fl-module-pp-infobox fl-node-5e344b7738621 home-steps" data-node="5e344b7738621">
															<div class="fl-module-content fl-node-content">
																<div class="pp-infobox-wrap">
																	<div class="pp-infobox layout-3">
																		<div class="layout-3-wrapper">
																			<div class="pp-icon-wrapper animated">
																				<div class="pp-infobox-image">
																					<img decoding="async" src="https://sbhi.app/wp-content/uploads/2020/01/circle-chat.svg" alt="circle-chat" />
																				</div>
																			</div>
																			<div class="pp-heading-wrapper">

																				<div class="pp-infobox-title-wrapper"><h4 class="pp-infobox-title">Step 2</h4></div>

																				<div class="pp-infobox-description">
																					<div class="pp-description-wrap">
																						<p>Talk to an agent</p>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="fl-col fl-node-5e344606ecd55 fl-col-small" data-node="5e344606ecd55">
													<div class="fl-col-content fl-node-content">
														<div class="fl-module fl-module-pp-infobox fl-node-5e344b7f498e1 home-steps" data-node="5e344b7f498e1">
															<div class="fl-module-content fl-node-content">
																<div class="pp-infobox-wrap">
																	<div class="pp-infobox layout-3">
																		<div class="layout-3-wrapper">
																			<div class="pp-icon-wrapper animated">
																				<div class="pp-infobox-image">
																					<img decoding="async" src="https://sbhi.app/wp-content/uploads/2020/01/circle-step-check.svg" alt="circle-step-check" />
																				</div>
																			</div>
																			<div class="pp-heading-wrapper">

																				<div class="pp-infobox-title-wrapper"><h4 class="pp-infobox-title">Step 3</h4></div>

																				<div class="pp-infobox-description">
																					<div class="pp-description-wrap">
																						<p>Apply</p>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5e344d5420749 fl-row-default-height fl-row-align-center" data-node="5e344d5420749">
						<div class="fl-row-content-wrap">
							<div class="fl-row-content fl-row-fixed-width fl-node-content">

								<div class="fl-col-group fl-node-5e344d542db4b" data-node="5e344d542db4b">
									<div class="fl-col fl-node-5e344d542dce4" data-node="5e344d542dce4">
										<div class="fl-col-content fl-node-content">
											<div class="fl-module fl-module-separator fl-node-5e344d3cb0da0" data-node="5e344d3cb0da0">
												<div class="fl-module-content fl-node-content">
													<div class="fl-separator"></div>
												</div>
											</div>
											<div class="fl-module fl-module-heading fl-node-5e344d83ca485" data-node="5e344d83ca485">
												<div class="fl-module-content fl-node-content">
													<h4 class="fl-heading">
														<span class="fl-heading-text">Let us help you!</span>
													</h4>
												</div>
											</div>
											<div class="fl-module fl-module-button fl-node-5e344daaf3522" data-node="5e344daaf3522">
												<div class="fl-module-content fl-node-content">
													<div class="fl-button-wrap fl-button-width-auto fl-button-center">
														<a href="/get-a-quote/" target="_self" class="fl-button">
															<span class="fl-button-text">Get Started</span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-5e3462c62c111 fl-row-default-height fl-row-align-center home-awards-wrapper" data-node="5e3462c62c111">
						<div class="fl-row-content-wrap">
							<div class="fl-row-content fl-row-fixed-width fl-node-content">

								<div class="fl-col-group fl-node-5e3462c63d1ee" data-node="5e3462c63d1ee">
									<div class="fl-col fl-node-5e346b377da62 fl-col-small" data-node="5e346b377da62">
										<div class="fl-col-content fl-node-content"></div>
									</div>
									<div class="fl-col fl-node-5e3462c63d390 home-awards" data-node="5e3462c63d390">
										<div class="fl-col-content fl-node-content">
											<div class="fl-module fl-module-photo fl-node-5e3464faa19d9" data-node="5e3464faa19d9">
												<div class="fl-module-content fl-node-content">
													<div class="fl-photo fl-photo-align-center" itemscope itemtype="https://schema.org/ImageObject">
														<div class="fl-photo-content fl-photo-img-png">
															<img loading="lazy" decoding="async" class="fl-photo-img wp-image-19484 size-full" src="https://sbhi.app/wp-content/uploads/2020/08/Group-21-1.png" alt="Group-21-1" itemprop="image" height="285" width="661" title="Group-21-1" srcset="https://sbhi.app/wp-content/uploads/2020/08/Group-21-1.png 661w, https://sbhi.app/wp-content/uploads/2020/08/Group-21-1-300x129.png 300w, https://sbhi.app/wp-content/uploads/2020/08/Group-21-1-75x32.png 75w, https://sbhi.app/wp-content/uploads/2020/08/Group-21-1-260x112.png 260w, https://sbhi.app/wp-content/uploads/2020/08/Group-21-1-200x86.png 200w, https://sbhi.app/wp-content/uploads/2020/08/Group-21-1-564x243.png 564w, https://sbhi.app/wp-content/uploads/2020/08/Group-21-1-600x259.png 600w" sizes="(max-width: 661px) 100vw, 661px" />
														</div>
													</div>
												</div>
											</div>
											<div class="fl-module fl-module-heading fl-node-5e3462c62aacf" data-node="5e3462c62aacf">
												<div class="fl-module-content fl-node-content">
													<h2 class="fl-heading">
														<span class="fl-heading-text">We’re a Gold Stevie Award Winner <br>for 2017, 2018, 2019 & 2020!</span>
													</h2>
												</div>
											</div>
											<div class="fl-module fl-module-rich-text fl-node-5e3468ba2112e" data-node="5e3468ba2112e">
												<div class="fl-module-content fl-node-content">
													<div class="fl-rich-text">
														<p>
															And also have won company of the year awards<br />
															4 years in a row!
														</p>
													</div>
												</div>
											</div>
											<div class="fl-module fl-module-photo fl-node-5e34695b658ff" data-node="5e34695b658ff">
												<div class="fl-module-content fl-node-content">
													<div class="fl-photo fl-photo-align-center" itemscope itemtype="https://schema.org/ImageObject">
														<div class="fl-photo-content fl-photo-img-svg">
															<img loading="lazy" decoding="async" class="fl-photo-img wp-image-17737 size-full" src="https://sbhi.app/wp-content/uploads/2020/01/Gold-award-below.svg" alt="2018 Awards" itemprop="image" height="118" width="214" title="Gold-award-below" />
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="fl-col fl-node-5e346b3d182f0 fl-col-small" data-node="5e346b3d182f0">
										<div class="fl-col-content fl-node-content"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="fl-row fl-row-full-width fl-row-bg-none fl-node-5e3482e3cd2e1 fl-row-default-height fl-row-align-center" data-node="5e3482e3cd2e1">
						<div class="fl-row-content-wrap">
							<div class="fl-row-content fl-row-fixed-width fl-node-content">

								<div class="fl-col-group fl-node-5e3482e3e2b2e" data-node="5e3482e3e2b2e">
									<div class="fl-col fl-node-5e3482e3e2cb7" data-node="5e3482e3e2cb7">
										<div class="fl-col-content fl-node-content">
											<div class="fl-module fl-module-cta fl-node-5e3482e3cc070 pages-cta" data-node="5e3482e3cc070">
												<div class="fl-module-content fl-node-content">
													<div class="fl-cta-wrap fl-cta-inline">
														<div class="fl-cta-text">
															<h3 class="fl-cta-title">Begin your career with USHEALTH Advisors</h3>
															<div class="fl-cta-text-content"></div>
														</div>
														<div class="fl-cta-button">
															<div class="fl-button-wrap fl-button-width-full">
																<a href="https://www.ushacareers.com/apply/?Agent=USHG" target="_blank" class="fl-button" rel="noopener">
																	<span class="fl-button-text">Learn More</span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-5e3615a70590d fl-row-default-height fl-row-align-center home-testimonial-wrapper" data-node="5e3615a70590d">
						<div class="fl-row-content-wrap">
							<div class="fl-row-content fl-row-fixed-width fl-node-content">

								<div class="fl-col-group fl-node-5e3615a719367" data-node="5e3615a719367">
									<div class="fl-col fl-node-5e3615a719505 home-sign-container" data-node="5e3615a719505">
										<div class="fl-col-content fl-node-content">
											<div class="fl-module fl-module-rich-text fl-node-5e3615db13961" data-node="5e3615db13961">
												<div class="fl-module-content fl-node-content">
													<div class="fl-rich-text">
														<p>
															"The combination of our unique culture and our superior strategy … create the incredible<br />
															opportunity that is … USHEALTH Advisors"
														</p>
													</div>
												</div>
											</div>
											<div class="fl-module fl-module-heading fl-node-5e361f1666cbe" data-node="5e361f1666cbe">
												<div class="fl-module-content fl-node-content">
													<h2 class="fl-heading">
														<span class="fl-heading-text">Troy McQuagge</span>
													</h2>
												</div>
											</div>
											<div class="fl-module fl-module-rich-text fl-node-5e361f67ce35e" data-node="5e361f67ce35e">
												<div class="fl-module-content fl-node-content">
													<div class="fl-rich-text">
														<p>CEO, USHEALTH GROUP</p>
													</div>
												</div>
											</div>
											<div class="fl-module fl-module-photo fl-node-5e361fa03d783" data-node="5e361fa03d783">
												<div class="fl-module-content fl-node-content">
													<div class="fl-photo fl-photo-align-center" itemscope itemtype="https://schema.org/ImageObject">
														<div class="fl-photo-content fl-photo-img-png">
															<img loading="lazy" decoding="async" class="fl-photo-img wp-image-18670 size-full" src="https://sbhi.app/wp-content/uploads/2020/03/Untitled-5-1.png" alt="Troy McQuagge" itemprop="image" height="208" width="266" title="Troy McQuagge - CEO, USHEALTH GROUP" srcset="https://sbhi.app/wp-content/uploads/2020/03/Untitled-5-1.png 266w, https://sbhi.app/wp-content/uploads/2020/03/Untitled-5-1-75x59.png 75w, https://sbhi.app/wp-content/uploads/2020/03/Untitled-5-1-192x150.png 192w" sizes="(max-width: 266px) 100vw, 266px" />
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5e36a5525bfcd fl-row-default-height fl-row-align-center" data-node="5e36a5525bfcd">
						<div class="fl-row-content-wrap">
							<div class="fl-row-content fl-row-fixed-width fl-node-content">

								<div class="fl-col-group fl-node-5e36a552752e6 fl-col-group-equal-height fl-col-group-align-center" data-node="5e36a552752e6">
									<div class="fl-col fl-node-5e36a55275484 fl-col-small" data-node="5e36a55275484">
										<div class="fl-col-content fl-node-content">
											<div class="fl-module fl-module-heading fl-node-5e36a558efa09" data-node="5e36a558efa09">
												<div class="fl-module-content fl-node-content">
													<h2 class="fl-heading">
														<span class="fl-heading-text">Living a Mission of HOPE</span>
													</h2>
												</div>
											</div>
											<div class="fl-module fl-module-heading fl-node-5e36a5715e0a2" data-node="5e36a5715e0a2">
												<div class="fl-module-content fl-node-content">
													<h4 class="fl-heading">
														<span class="fl-heading-text">Donations of Time, Talent and Treasure help Families in Local Communities</span>
													</h4>
												</div>
											</div>
											<div class="fl-module fl-module-rich-text fl-node-5e36a5e35fbba" data-node="5e36a5e35fbba">
												<div class="fl-module-content fl-node-content">
													<div class="fl-rich-text">
														<p>Helping Other People Everyday (HOPE) is more than a clever acronym for the staff, management and independently contracted Agents of USHEALTH Advisors, LLC (USHA). For them, it is a mission that is lived on a daily basis; an organizational commitment to make a positive difference in the lives of others.</p>
													</div>
												</div>
											</div>
											<div class="fl-module fl-module-button fl-node-5e36a5f470e81" data-node="5e36a5f470e81">
												<div class="fl-module-content fl-node-content">
													<div class="fl-button-wrap fl-button-width-auto fl-button-left">
														<a href="/hope/" target="_self" class="fl-button">
															<span class="fl-button-text">Learn More</span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="fl-col fl-node-5e36a55275488 fl-col-small" data-node="5e36a55275488">
										<div class="fl-col-content fl-node-content">
											<div class="fl-module fl-module-photo fl-node-5e4554bbafc28 modal-5e49edfa209f5  photo-video-img" data-node="5e4554bbafc28">
												<div class="fl-module-content fl-node-content">
													<div class="fl-photo fl-photo-align-center" itemscope itemtype="https://schema.org/ImageObject">
														<div class="fl-photo-content fl-photo-img-png">
															<img loading="lazy" decoding="async" class="fl-photo-img wp-image-18669 size-full" src="https://sbhi.app/wp-content/uploads/2020/03/hope-1.png" alt="Hope Video" itemprop="image" height="352" width="535" title="Hope Video" srcset="https://sbhi.app/wp-content/uploads/2020/03/hope-1.png 535w, https://sbhi.app/wp-content/uploads/2020/03/hope-1-300x197.png 300w, https://sbhi.app/wp-content/uploads/2020/03/hope-1-75x49.png 75w, https://sbhi.app/wp-content/uploads/2020/03/hope-1-163x108.png 163w, https://sbhi.app/wp-content/uploads/2020/03/hope-1-228x150.png 228w, https://sbhi.app/wp-content/uploads/2020/03/hope-1-456x300.png 456w, https://sbhi.app/wp-content/uploads/2020/03/hope-1-200x132.png 200w" sizes="(max-width: 535px) 100vw, 535px" />
														</div>
													</div>
												</div>
											</div>
											<div class="fl-module fl-module-pp-modal-box fl-node-5e49edfa209f5 video-popup" data-node="5e49edfa209f5">
												<div class="fl-module-content fl-node-content">
													<div id="modal-5e49edfa209f5" class="pp-modal-wrap has-overlay-animation" role="dialog">
														<div class="pp-modal-container">
															<div class="pp-modal layout-standard">
																<div class="pp-modal-body">
																	<div class="pp-modal-close box-top-right no-modal-header" role="button" tabindex="0" aria-label="Close">
																		<div class="bar-wrap" aria-hidden="true">
																			<span class="bar-1"></span>
																			<span class="bar-2"></span>
																		</div>
																	</div>
																	<div class="pp-modal-content pp-modal-frame">
																		<div class="pp-modal-content-inner">
																			<div class="pp-modal-video-embed"><iframe loading="lazy" title="HOPE" width="500" height="281" src="https://www.youtube.com/embed/mztiW_SiAtE?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="pp-modal-overlay"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-5e37568695a40 fl-row-default-height fl-row-align-center home-blog-wrapper" data-node="5e37568695a40">
						<div class="fl-row-content-wrap">
							<div class="fl-row-content fl-row-fixed-width fl-node-content">

								<div class="fl-col-group fl-node-5e375686af077" data-node="5e375686af077">
									<div class="fl-col fl-node-5e375686af2f6 fl-col-small" data-node="5e375686af2f6">
										<div class="fl-col-content fl-node-content">
											<div class="fl-module fl-module-heading fl-node-5e375694923e9" data-node="5e375694923e9">
												<div class="fl-module-content fl-node-content">
													<h2 class="fl-heading">
														<span class="fl-heading-text">News and Insights</span>
													</h2>
												</div>
											</div>
										</div>
									</div>
									<div class="fl-col fl-node-5e375686af2fa fl-col-small" data-node="5e375686af2fa">
										<div class="fl-col-content fl-node-content">
											<div class="fl-module fl-module-button fl-node-5e3756a5027ba" data-node="5e3756a5027ba">
												<div class="fl-module-content fl-node-content">
													<div class="fl-button-wrap fl-button-width-auto fl-button-right">
														<a href="/blog/" target="_self" class="fl-button">
															<span class="fl-button-text">See More</span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="fl-col-group fl-node-5e3756f7ce453" data-node="5e3756f7ce453">
									<div class="fl-col fl-node-5e3756f7ce573" data-node="5e3756f7ce573">
										<div class="fl-col-content fl-node-content">
											<div class="fl-module fl-module-pp-content-grid fl-node-5e3756f7ce382 home-blog" data-node="5e3756f7ce382">
												<div class="fl-module-content fl-node-content">
													<div class="pp-posts-wrapper">

														<div class="pp-content-posts" style="--items-count: 3;--column-xl: 3;--column-lg: 3;--column-md: 2;--column-sm: 1;">
															<div class="pp-content-post-grid pp-masonry-active clearfix" itemscope="itemscope" itemtype="https://schema.org/Blog">


																<div class="pp-content-post pp-content-grid-post pp-grid-custom post-20346 post type-post status-publish format-standard has-post-thumbnail category-vision entry" itemscope itemtype="https://schema.org/BlogPosting" data-id="20346">

																	<meta itemscope itemprop="mainEntityOfPage" itemtype="https://schema.org/WebPage" itemid="http://20346" content="What you Should Know about Cataracts Surgery" /><meta itemprop="datePublished" content="2022-01-11" /><meta itemprop="dateModified" content="2022-01-11" /><div itemprop="publisher" itemscope itemtype="https://schema.org/Organization"><meta itemprop="name" content="USHEALTH Group"></div><div itemscope itemprop="author" itemtype="https://schema.org/Person"><meta itemprop="url" content="https://sbhi.app/author/thriveadmin/" /><meta itemprop="name" content="ThriveAdmin" /></div><div itemscope itemprop="image" itemtype="https://schema.org/ImageObject"><meta itemprop="url" content="https://sbhi.app/wp-content/uploads/2021/12/types-of-cataracts-surgery-and-recovery.jpg" /><meta itemprop="width" content="1200" /><meta itemprop="height" content="676" /></div><div itemprop="interactionStatistic" itemscope itemtype="https://schema.org/InteractionCounter"><meta itemprop="interactionType" content="https://schema.org/CommentAction" /><meta itemprop="userInteractionCount" content="0" /></div>
																	<div class="pp-content-grid-post-image">
																		<a href='https://sbhi.app/2022/01/11/cataracts-surgery/' title='What you Should Know about Cataracts Surgery'><img loading="lazy" decoding="async" width="386" height="266" src="https://sbhi.app/wp-content/uploads/2021/12/types-of-cataracts-surgery-and-recovery-386x266.jpg" class=" pp-post-img wp-post-image" alt="" itemprop="image" /></a>
																	</div>


																	<div class="pp-content-grid-post-text">

																		<div class="pp-content-grid-post-meta">
																			Tuesday, January, 11, 2022
																		</div>

																		<h3 class="pp-content-grid-post-title"><a href='https://sbhi.app/2022/01/11/cataracts-surgery/' title='What you Should Know about Cataracts Surgery'>What you Should Know about Cataracts Surgery</a></h3>

																		<div class="pp-content-grid-post-more-link">
																			<a href="https://sbhi.app/2022/01/11/cataracts-surgery/">Read More</a>
																		</div>

																	</div>

																</div>
																<div class="pp-content-post pp-content-grid-post pp-grid-custom post-20344 post type-post status-publish format-standard has-post-thumbnail category-dental entry" itemscope itemtype="https://schema.org/BlogPosting" data-id="20344">

																	<meta itemscope itemprop="mainEntityOfPage" itemtype="https://schema.org/WebPage" itemid="http://20344" content="Are Your Wisdom Teeth Coming in Correctly?" /><meta itemprop="datePublished" content="2022-01-11" /><meta itemprop="dateModified" content="2022-01-11" /><div itemprop="publisher" itemscope itemtype="https://schema.org/Organization"><meta itemprop="name" content="USHEALTH Group"></div><div itemscope itemprop="author" itemtype="https://schema.org/Person"><meta itemprop="url" content="https://sbhi.app/author/thriveadmin/" /><meta itemprop="name" content="ThriveAdmin" /></div><div itemscope itemprop="image" itemtype="https://schema.org/ImageObject"><meta itemprop="url" content="https://sbhi.app/wp-content/uploads/2021/12/wisdom-teeth-coming-in.jpg" /><meta itemprop="width" content="1200" /><meta itemprop="height" content="676" /></div><div itemprop="interactionStatistic" itemscope itemtype="https://schema.org/InteractionCounter"><meta itemprop="interactionType" content="https://schema.org/CommentAction" /><meta itemprop="userInteractionCount" content="0" /></div>
																	<div class="pp-content-grid-post-image">
																		<a href='https://sbhi.app/2022/01/11/wisdom-teeth-coming-in/' title='Are Your Wisdom Teeth Coming in Correctly?'><img loading="lazy" decoding="async" width="386" height="266" src="https://sbhi.app/wp-content/uploads/2021/12/wisdom-teeth-coming-in-386x266.jpg" class=" pp-post-img wp-post-image" alt="" itemprop="image" /></a>
																	</div>


																	<div class="pp-content-grid-post-text">

																		<div class="pp-content-grid-post-meta">
																			Tuesday, January, 11, 2022
																		</div>

																		<h3 class="pp-content-grid-post-title"><a href='https://sbhi.app/2022/01/11/wisdom-teeth-coming-in/' title='Are Your Wisdom Teeth Coming in Correctly?'>Are Your Wisdom Teeth Coming in Correctly?</a></h3>

																		<div class="pp-content-grid-post-more-link">
																			<a href="https://sbhi.app/2022/01/11/wisdom-teeth-coming-in/">Read More</a>
																		</div>

																	</div>

																</div>
																<div class="pp-content-post pp-content-grid-post pp-grid-custom post-20342 post type-post status-publish format-standard has-post-thumbnail category-vision entry" itemscope itemtype="https://schema.org/BlogPosting" data-id="20342">

																	<meta itemscope itemprop="mainEntityOfPage" itemtype="https://schema.org/WebPage" itemid="http://20342" content="What Causes Brown Spots in Eyes?" /><meta itemprop="datePublished" content="2022-01-11" /><meta itemprop="dateModified" content="2022-01-11" /><div itemprop="publisher" itemscope itemtype="https://schema.org/Organization"><meta itemprop="name" content="USHEALTH Group"></div><div itemscope itemprop="author" itemtype="https://schema.org/Person"><meta itemprop="url" content="https://sbhi.app/author/thriveadmin/" /><meta itemprop="name" content="ThriveAdmin" /></div><div itemscope itemprop="image" itemtype="https://schema.org/ImageObject"><meta itemprop="url" content="https://sbhi.app/wp-content/uploads/2021/12/brown-spot-in-eye.jpg" /><meta itemprop="width" content="1200" /><meta itemprop="height" content="676" /></div><div itemprop="interactionStatistic" itemscope itemtype="https://schema.org/InteractionCounter"><meta itemprop="interactionType" content="https://schema.org/CommentAction" /><meta itemprop="userInteractionCount" content="0" /></div>
																	<div class="pp-content-grid-post-image">
																		<a href='https://sbhi.app/2022/01/11/brown-spots-eyes/' title='What Causes Brown Spots in Eyes?'><img loading="lazy" decoding="async" width="386" height="266" src="https://sbhi.app/wp-content/uploads/2021/12/brown-spot-in-eye-386x266.jpg" class=" pp-post-img wp-post-image" alt="" itemprop="image" /></a>
																	</div>


																	<div class="pp-content-grid-post-text">

																		<div class="pp-content-grid-post-meta">
																			Tuesday, January, 11, 2022
																		</div>

																		<h3 class="pp-content-grid-post-title"><a href='https://sbhi.app/2022/01/11/brown-spots-eyes/' title='What Causes Brown Spots in Eyes?'>What Causes Brown Spots in Eyes?</a></h3>

																		<div class="pp-content-grid-post-more-link">
																			<a href="https://sbhi.app/2022/01/11/brown-spots-eyes/">Read More</a>
																		</div>

																	</div>

																</div>
																<div class="pp-grid-space"></div>

															</div>

															<div class="fl-clear"></div>



														</div><!-- .pp-content-posts -->

													</div>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>

		<!--Home-Top  ENDS HERE-->


	</main>
</div>