@page
@model SBHI.Pages.Member_ServicesModel
@{
}
<div class="content-sidebar-wrap">
	<main class="content">
		<section class="subpage-header" style="background-image:url(https://sbhi.app/wp-content/uploads/2016/02/bg_subpage2-1600x162.jpg);"><div class="wrap"><article><header class="entry-header"><span class="heading" itemprop="headline">Member Services</span></header><div class="breadcrumbs"><div class="wrap"><span class="breadcrumb-link-wrap"><a class="breadcrumb-link" href="https://sbhi.app/"><span class="breadcrumb-link-text-wrap">Home</span></a><meta></span> <span class="bread-sep">></span> Member Services</div></div></article></div></section><section class="full-width">
			<article class="post-17811 page type-page status-publish entry" aria-label="Member Services">
				<div class="entry-content">
					<div class="fl-builder-content fl-builder-content-17811 fl-builder-content-primary fl-builder-global-templates-locked" data-post-id="17811">
						<div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-5e4da79d275d9 fl-row-default-height fl-row-align-center page-subheader" data-node="5e4da79d275d9">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e4da79d275d2" data-node="5e4da79d275d2">
										<div class="fl-col fl-node-5e4da79d275d5 fl-col-small subheader-content-box" data-node="5e4da79d275d5">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e4da79d275d7" data-node="5e4da79d275d7">
													<div class="fl-module-content fl-node-content">
														<h1 class="fl-heading">
															<span class="fl-heading-text">Member Services</span>
														</h1>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e4da79d275d8" data-node="5e4da79d275d8">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>World-class service begins at home. In our case, that’s Fort Worth, Texas, where our dedicated Member Services Team is standing by, ready to assist. Whether our members need information about a claim, benefit guidance or additional coverage, help is just a phone call or click away.</p>
															<div id="mouseposition-extension-element-full-container" style="position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; pointer-events: none; z-index: 2147483647; font-weight: 400;">
																<div id="mouseposition-extension-element-rect-display" style="display: none; position: absolute; background: rgba(255, 255, 255, 0.7); outline: black solid 1px; font-size: 12px; z-index: 2147483647; justify-content: center; align-items: center; user-select: none; cursor: default; color: #000000; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; width: 0px; height: 0px;">
<pre style="flex: 1 1 0%; text-align: center; background-color: rgba(255, 255, 255, 0.7); color: #000000; min-width: 42px; min-height: 12px; transition: all 1s ease 0s;"></pre>
																</div>
<pre id="mouseposition-extension-element-coordinate-display" style="position: absolute; display: none; background: #ffffff; font-size: 12px; line-height: 14px; border-radius: 3px; border-width: 1px; border-color: #222222 black #333333; border-style: solid; padding: 3px; z-index: 2147483647; color: #222222; user-select: none; cursor: default; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;"></pre>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="fl-col fl-node-5e4da79d275d6 fl-col-small" data-node="5e4da79d275d6">
											<div class="fl-col-content fl-node-content"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5e4da79d275da fl-row-default-height fl-row-align-center" data-node="5e4da79d275da">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e4da79d275db" data-node="5e4da79d275db">
										<div class="fl-col fl-node-5e4da79d275dc fl-col-has-cols" data-node="5e4da79d275dc">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e4da79d275dd" data-node="5e4da79d275dd">
													<div class="fl-module-content fl-node-content">
														<h2 class="fl-heading">
															<span class="fl-heading-text">Manage your Healthcare 24/7</span>
														</h2>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e672c01ac546" data-node="5e672c01ac546">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p><strong>As a customer, you can use our online tools and resources to: </strong></p>
															<ul>
																<li>View your Plan information</li>
																<li>Create and view your Payment Statements</li>
																<li>Review your Explanations of Benefits</li>
																<li>Print and order your ID cards</li>
																<li>Locate Participating / Preferred Providers in your network</li>
																<li>Current Customers please <a href="http://myushg.com/" target="_blank" rel="noopener">click</a><a href="http://myushg.com/" target="_blank" rel="noopener"> here</a> to login to MyUSHG</li>
															</ul>
															<p><strong>Additional Member Resources</strong></p>
															<ul>
																<li><a href="https://sbhi.app/summary-of-benefits-and-coverage/" target="_blank" rel="noopener">Summary of Benefits and Coverage and Other State Specific Information</a></li>
															</ul>
														</div>
													</div>
												</div>

												<div class="fl-col-group fl-node-5f20796cd9b91 fl-col-group-nested" data-node="5f20796cd9b91">
													<div class="fl-col fl-node-5f20796cd9c4f fl-col-small" data-node="5f20796cd9c4f">
														<div class="fl-col-content fl-node-content">
															<div class="fl-module fl-module-rich-text fl-node-5f2079c6110ac" data-node="5f2079c6110ac">
																<div class="fl-module-content fl-node-content">
																	<div class="fl-rich-text">
																		<p><strong>OptumRx</strong></p>
																		<ul>
																			<li><a href="https://www.optumrx.com/oe_rxexternal/pharmacy-locator?type=PDPClientPharmacy" target="_blank" rel="noopener">Locate a Pharmacy</a></li>
																			<li><a href="https://sbhi.app/optumrx/" target="_blank" rel="noopener">Check Drug Pricing</a></li>
																			<li><a href="https://sbhi.app/wp-content/uploads/2024/02/USHEALTH_GROUP_3_Tier_Traditional_Comprehensive_16702_v9_01252024.pdf" target="_blank" rel="noopener">View the Prescription Drug Formulary</a></li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="fl-col fl-node-5f20796cd9c53 fl-col-small" data-node="5f20796cd9c53">
														<div class="fl-col-content fl-node-content">
															<div class="fl-module fl-module-rich-text fl-node-5f2079b8dad0d" data-node="5f2079b8dad0d">
																<div class="fl-module-content fl-node-content">
																	<div class="fl-rich-text">
																		<p><strong><a href="https://sbhi.app/cigna/"><font color="#132031">Cigna</a></strong></p>
																		<ul>
																			<li><a href="https://www.caremark.com/wps/portal/.cmd/el?id=u5h3alth_1&amp;cmxtarget=FRAMED_LOCAL_PHARMACY&amp;newLogin=yes&amp;returnURL=http://www.caremark.com/framedLogoff.html" target="_blank" rel="noopener">Locate a Pharmacy</a></li>
																			<li><a href="https://www.caremark.com/wps/portal/.cmd/el?id=u5h3alth_1&amp;cmxtarget=CHECK_DRUG_COST_FAST&amp;newLogin=yes&amp;returnURL=http://www.caremark.com/close.html" target="_blank" rel="noopener">Check Drug Pricing</a></li>
																			<li><a href="https://sbhi.app/wp-content/uploads/2023/01/01-2023-Performance-Drug-List-Standard-Control-for-clients-with-ACSF.pdf" target="_blank" rel="noopener">View the Prescription Drug Formulary</a></li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</section>
	</main>
</div>
