@page
@model SBHI.Pages.PPO_NetworksModel
@{
}
<div class="content-sidebar-wrap">
	<div class="fl-builder-content fl-builder-content-18093 fl-builder-global-templates-locked" data-post-id="18093" data-type="part">
		<div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-5e468441d66c7 fl-row-default-height fl-row-align-center page-subheader" data-node="5e468441d66c7">
			<div class="fl-row-content-wrap">
				<div class="fl-row-content fl-row-fixed-width fl-node-content">

					<div class="fl-col-group fl-node-5e468441d66c0" data-node="5e468441d66c0">
						<div class="fl-col fl-node-5e468441d66c3 fl-col-small subheader-content-box" data-node="5e468441d66c3">
							<div class="fl-col-content fl-node-content">
								<div class="fl-module fl-module-heading fl-node-5e468441d66c5" data-node="5e468441d66c5">
									<div class="fl-module-content fl-node-content">
										<h1 class="fl-heading">
											<span class="fl-heading-text">PPO <br>Networks</span>
										</h1>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-col fl-node-5e468441d66c4 fl-col-small" data-node="5e468441d66c4">
							<div class="fl-col-content fl-node-content"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><main class="content">
		<section class="subpage-header" style="background-image:url(https://sbhi.app/wp-content/uploads/2016/02/bg-table-coffee-home-couch-furniture-1600x162.jpg);"><div class="wrap"><article><header class="entry-header"><span class="heading" itemprop="headline">PPO Networks</span></header><div class="breadcrumbs"><div class="wrap"><span class="breadcrumb-link-wrap"><a class="breadcrumb-link" href="https://sbhi.app/"><span class="breadcrumb-link-text-wrap">Home</span></a><meta></span> <span class="bread-sep">></span> PPO Networks</div></div></article></div></section><section class="full-width">
			<article class="post-17959 page type-page status-publish entry" aria-label="PPO Networks">
				<div class="entry-content">
					<div class="fl-builder-content fl-builder-content-17959 fl-builder-content-primary fl-builder-global-templates-locked" data-post-id="17959"></div>					<form action="" method="post">
						<label>Zip Code:</label>
						<input name="zipcode" type="number" title="zip code" />
						<input name="submit" type="submit" value="submit" />
					</form>
					<div class="providers-wrapper">
						<div class="providers-disclaimer">
							<p>Listed below are links to various provider networks with which we contract and from which you can search for contracted providers.</p>
							<p>Please note that not all provider networks are available in all states, and not all networks are available for all products. To determine which network applies to your product(s) in your state, please check your membership ID card or contact the insurance company.</p>
						</div><div class="providers"><div class="td-box"><div class="provider_type"><h4>Medical</h4><div class="td"><div class="state">IN</div><div class="network_name"><a href="https://connect.werally.com/guest/eyJwYXJ0bmVySWQiOiJ1aGMiLCJkZWxzeXMiOiI1MiIsInBsYW5OYW1lIjoiQ2hvaWNlIFBsdXMifQcozhH1ogwkafTW5ERtAH3wvspMTE4x68Onh5HJpFupg" target="_blank">UnitedHealthcare Choice Plus</a></div><div class="phone"><a href="tel:(800)387-9027">(800)387-9027</a></div></div><div class="td"><div class="state">IN</div><div class="network_name"><a href="http://www.multiplan.com/search/search-2.cfm?originator=84477" target="_blank">PHCS - Limited Benefit Plan</a></div><div class="phone"><a href="tel:(888)371-7427">(888)371-7427</a></div></div><div class="td"><div class="state">IN</div><div class="network_name"><a href="http://www.multiplan.com/search/search-2.cfm?originator=84451" target="_blank">PHCS</a></div><div class="phone"><a href="tel:(888)516-7427">(888)516-7427</a></div></div><div class="td"><div class="state">IN</div><div class="network_name"><a href="http://www.firsthealthlbp.com" target="_blank">First Health Limited Benefit Plan</a></div><div class="phone"><a href="tel:(800)226-5116">(800)226-5116</a></div></div></div></div><div class="td-box"><div class="provider_type"><h4>Dental Providers</h4><div class="td"><div class="state">IN</div><div class="network_name"><a href="http://www.yourdentalplan.com/dentistsearch" target="_blank">Find Dental Benefit Providers National Options PPO 30</a></div><div class="phone"><a href="tel:"></a></div></div><div class="td"><div class="state">IN</div><div class="network_name"><a href="http://www.careington.com/co/careppo/" target="_blank">Find Careington Dental Provider</a></div><div class="phone"><a href="tel:(800)290-0523">(800)290-0523</a></div></div><div class="td"><div class="state">IN</div><div class="network_name"><a href="http://www.dentemax.com/findadentist" target="_blank">Find DenteMax Provider</a></div><div class="phone"><a href="tel:(888)512-4114">(888)512-4114</a></div></div></div></div><div class="td-box"><div class="provider_type"><h4>Vision Providers</h4><div class="td"><div class="state">IN</div><div class="network_name"><a href="https://ushg.myspectera.com/MWP/Landing" target="_blank">Find Spectera Eyecare Network Providers</a></div><div class="phone"><a href="tel:(800)638-3120">(800)638-3120</a></div></div></div></div></div>
					</div>
				</div>
			</article>
		</section>
	</main>
</div>