@page
@model AccidentProtectorModel
@{
}
<div class="content-sidebar-wrap">
	<main class="content">
		<section class="subpage-header" style="background-image:url(https://sbhi-public.s3.us-east-2.amazonaws.com/images/bg_subpage2-1600x162.jpg);"><div class="wrap"><article><header class="entry-header"><span class="heading" itemprop="headline">Accident Protector</span></header><div class="breadcrumbs"><div class="wrap"><span class="breadcrumb-link-wrap"><a class="breadcrumb-link" href="https://sbhi.app/"><span class="breadcrumb-link-text-wrap">Home</span></a><meta></span> <span class="bread-sep">></span> <span class="breadcrumb-link-wrap"><a class="breadcrumb-link" href="https://sbhi.app/product/"><span class="breadcrumb-link-text-wrap">Product</span></a><meta></span> <span class="bread-sep">></span> Accident Protector</div></div></article></div></section><section class="full-width">
			<article class="post-19685 page type-page status-publish entry" aria-label="Accident Protector">
				<div class="entry-content">
					<div class="fl-builder-content fl-builder-content-19685 fl-builder-content-primary fl-builder-global-templates-locked" data-post-id="19685">
						<div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-5e4d799cf1e17 fl-row-default-height fl-row-align-center page-subheader" data-node="5e4d799cf1e17">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e4d799cf1e10 fl-col-group-equal-height fl-col-group-align-center" data-node="5e4d799cf1e10">
										<div class="fl-col fl-node-5e4d799cf1e12 fl-col-small subheader-content-box" data-node="5e4d799cf1e12">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e4d799cf1e15" data-node="5e4d799cf1e15">
													<div class="fl-module-content fl-node-content">
														<h1 class="fl-heading">
															<span class="fl-heading-text">Accident <br>Protector - Excess Medical Expense Coverage</span>
														</h1>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e4d799cf1e16" data-node="5e4d799cf1e16">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>Accident Protector is an excess medical expense coverage insurance plan, designed to help fill the gap of out-of-pocket expenses you may incur as a result of accidental bodily injury. The plan pays up to the selected excess medical expense amount after the applicable deductible is met.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="fl-col fl-node-5e4d799cf1e14 fl-col-small" data-node="5e4d799cf1e14">
											<div class="fl-col-content fl-node-content"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5e429662edf51 fl-row-default-height fl-row-align-center" data-node="5e429662edf51">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e429662edf52" data-node="5e429662edf52">
										<div class="fl-col fl-node-5e429662edf53 fl-col-has-cols" data-node="5e429662edf53">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e429662edf54" data-node="5e429662edf54">
													<div class="fl-module-content fl-node-content">
														<h2 class="fl-heading">
															<span class="fl-heading-text">Extra Coverage for Life’s Unpredictable Mishaps</span>
														</h2>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e429662edf55 text-list" data-node="5e429662edf55">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>Accident Protector provides extra coverage to help cover out-of-pocket expenses related to an accident.</p>
															<p>Utilize Accident Protector to provide You with a financial advantage:</p>
															<ul>
																<li>Provides lump sum payouts if Your Injury is due to an accident and results in a loss.</li>
																<li>Excess Medical Insurance that helps cover the cost of deductibles, co-pays, and other expenses not covered by insurance.</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="fl-module fl-module-heading fl-node-5e4d7ae4d3424" data-node="5e4d7ae4d3424">
													<div class="fl-module-content fl-node-content">
														<h4 class="fl-heading">
															<span class="fl-heading-text">When it Comes to Accidents…You Can’t Be Too Careful.</span>
														</h4>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e4d7a5b4c139" data-node="5e4d7a5b4c139">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>Accident Protector provides extra coverage to help fill in the gap between Your Accident Plan’s Calendar Year Deductible, Access Fees, and out-of-pocket Coinsurance expenses!</p>
														</div>
													</div>
												</div>

												<div class="fl-col-group fl-node-5fada38344f7e fl-col-group-nested" data-node="5fada38344f7e">
													<div class="fl-col fl-node-5fada383450f2" data-node="5fada383450f2">
														<div class="fl-col-content fl-node-content">
															<div class="fl-module fl-module-pp-table fl-node-5fada391c417f" data-node="5fada391c417f">
																<div class="fl-module-content fl-node-content">
																	<div class="pp-table-wrap">


																		<table class="pp-table-5fada391c417f pp-table-content tablesaw" data-tablesaw-minimap>
																			<thead>
																				<tr>
																					<th id="pp-table-col-1" class="pp-table-col" scope="col" data-tablesaw-sortable-col>
																						<span class="pp-table-header-inner">
																							<span class="pp-table-header-text">Excess Medical Expense Coverage:</span>
																						</span>
																					</th>
																					<th id="pp-table-col-2" class="pp-table-col" scope="col" data-tablesaw-sortable-col>
																						<span class="pp-table-header-inner">
																							<span class="pp-table-header-text"></span>
																						</span>
																					</th>
																				</tr>
																			</thead>
																			<tbody>
																				<tr class="pp-table-row" data-row-index="1"><td>Medically Necessary Treatment by a Physician</td><td>Hospital Room & Board</td></tr>
																				<tr class="pp-table-row" data-row-index="2"><td>Medically Necessary Treatment by a Nurse</td><td>Ambulance</td></tr>
																				<tr class="pp-table-row" data-row-index="3"><td>Diagnostic Tests & X-Rays</td><td>Outpatient Surgery</td></tr>
																				<tr class="pp-table-row" data-row-index="4"><td>Oxygen</td><td>Blood & Blood Plasma</td></tr>
																				<tr class="pp-table-row" data-row-index="5"><td>Rental of Durable Medical Equipment for a Covered Accident or Injury</td><td>Casts, Splints & Crutches</td></tr>
																				<tr class="pp-table-row" data-row-index="6"><td>Prescription Drugs & Compounded Prescription Drugs</td><td>Over-the-Counter Drugs</td></tr>
																				<tr class="pp-table-row" data-row-index="7"><td>Medically Necessary Treatment by a Dentist</td><td>Dental Work to Sound Natural Teeth</td></tr>
																			</tbody>
																		</table>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="fl-module fl-module-heading fl-node-5e4d7b3a3b63a" data-node="5e4d7b3a3b63a">
													<div class="fl-module-content fl-node-content">
														<h4 class="fl-heading">
															<span class="fl-heading-text">Accidental Death and Dismemberment<sup>1<sup></span>
														</h4>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e4d7b0bc05a9" data-node="5e4d7b0bc05a9">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>Unintentional Injuries continue to be the fifth leading cause of death in America. With Accident Protector, if an Insured’s Injury results in a loss, We will pay You up to 100% of the AD&amp;D maximum<sup>2</sup> based on this schedule:</p>
														</div>
													</div>
												</div>

												<div class="fl-col-group fl-node-5fb2df993da63 fl-col-group-nested fl-col-group-equal-height fl-col-group-align-top" data-node="5fb2df993da63">
													<div class="fl-col fl-node-5fb2df993dbed" data-node="5fb2df993dbed">
														<div class="fl-col-content fl-node-content">
															<div class="fl-module fl-module-pp-table fl-node-5fb2e15baeec9" data-node="5fb2e15baeec9">
																<div class="fl-module-content fl-node-content">
																	<div class="pp-table-wrap">


																		<table class="pp-table-5fb2e15baeec9 pp-table-content tablesaw" data-tablesaw-minimap>
																			<thead>
																				<tr>
																					<th id="pp-table-col-1" class="pp-table-col" scope="col" data-tablesaw-sortable-col>
																						<span class="pp-table-header-inner">
																							<span class="pp-table-header-text">Covered Losses</span>
																						</span>
																					</th>
																					<th id="pp-table-col-2" class="pp-table-col" scope="col" data-tablesaw-sortable-col>
																						<span class="pp-table-header-inner">
																							<span class="pp-table-header-text">AD&D Maximums<sup>2</sup></span>
																						</span>
																					</th>
																				</tr>
																			</thead>
																			<tbody>
																				<tr class="pp-table-row" data-row-index="1"><td>Loss of Life</td><td>100%</td></tr>
																				<tr class="pp-table-row" data-row-index="2"><td>Loss of Limbs (two or more)</td><td>100%</td></tr>
																				<tr class="pp-table-row" data-row-index="3"><td>Loss of Speech & Loss of Hearing (both ears)</td><td>100%</td></tr>
																				<tr class="pp-table-row" data-row-index="4"><td>Loss of Sight (both eyes)</td><td>100%</td></tr>
																				<tr class="pp-table-row" data-row-index="5"><td>Loss of Limb (one)</td><td>50%</td></tr>
																				<tr class="pp-table-row" data-row-index="6"><td>Loss of Speech</td><td>50%</td></tr>
																				<tr class="pp-table-row" data-row-index="7"><td>Loss of Hearing (both ears)</td><td>50%</td></tr>
																				<tr class="pp-table-row" data-row-index="8"><td>Loss of Sight (one eye)</td><td>50%</td></tr>
																				<tr class="pp-table-row" data-row-index="9"><td>Loss of Hand (one)</td><td>50%</td></tr>
																				<tr class="pp-table-row" data-row-index="10"><td>Loss of Foot (one)</td><td>50%</td></tr>
																				<tr class="pp-table-row" data-row-index="11"><td>Loss of Hearing (one ear)</td><td>25%</td></tr>
																				<tr class="pp-table-row" data-row-index="12"><td>Loss of Thumb & Index Finger (same hand)</td><td>25%</td></tr>
																			</tbody>
																		</table>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="fl-col fl-node-5fb2df993dbf1 fl-col-small" data-node="5fb2df993dbf1">
														<div class="fl-col-content fl-node-content">
															<div class="fl-module fl-module-heading fl-node-5fb2eef2e9173" data-node="5fb2eef2e9173">
																<div class="fl-module-content fl-node-content">
																	<h2 class="fl-heading">
																		<span class="fl-heading-text">Utilize Accident Protector to provide You with a financial advantage:</span>
																	</h2>
																</div>
															</div>
															<div class="fl-module fl-module-rich-text fl-node-5fb2efe50c121" data-node="5fb2efe50c121">
																<div class="fl-module-content fl-node-content">
																	<div class="fl-rich-text">
																		<p>✓ Provides lump sum payouts if Your Injury is due to an accident and results in a loss.</p>
																		<p>✓ Helps cover the cost of deductibles, co-pays, and other expenses not covered by insurance.</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="fl-module fl-module-heading fl-node-5e4d7a435f2bd" data-node="5e4d7a435f2bd">
													<div class="fl-module-content fl-node-content">
														<h4 class="fl-heading">
															<span class="fl-heading-text">Emergency Air Ambulance</span>
														</h4>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e4d7b4a50b75" data-node="5e4d7b4a50b75">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>Many accidents require emergency transportation to a Hospital or other facility. You can rest easy knowing we’ve got You covered regardless of the Excess Medical Expense Coverage selected.</p>
															<p>
																<strong>Up to $4,000 per Accident per Insured</strong><br />
																Your coverage includes the amount of Emergency Air Ambulance expense up to the maximum of $4,000 per Accident per Insured for Medically Necessary transportation by air to the nearest Hospital qualified to render treatment in an Emergency within 90 days from the date of Injury sustained in an Accident.
															</p>
														</div>
													</div>
												</div>
												<div class="fl-module fl-module-heading fl-node-5e4d7b799d2fc" data-node="5e4d7b799d2fc">
													<div class="fl-module-content fl-node-content">
														<h4 class="fl-heading">
															<span class="fl-heading-text">We give You the option to select coverage that fits Your budget and needs. Choose Your coverage amount from the list below:</span>
														</h4>
													</div>
												</div>

												<div class="fl-col-group fl-node-5fb2f0e025525 fl-col-group-nested" data-node="5fb2f0e025525">
													<div class="fl-col fl-node-5fb2f0e02564f" data-node="5fb2f0e02564f">
														<div class="fl-col-content fl-node-content">
															<div class="fl-module fl-module-pp-table fl-node-5fb2f0eda388e" data-node="5fb2f0eda388e">
																<div class="fl-module-content fl-node-content">
																	<div class="pp-table-wrap">


																		<table class="pp-table-5fb2f0eda388e pp-table-content tablesaw" data-tablesaw-minimap>
																			<thead>
																				<tr>
																					<th id="pp-table-col-1" class="pp-table-col" scope="col" data-tablesaw-sortable-col>
																						<span class="pp-table-header-inner">
																							<span class="pp-table-header-text">Coverage Selections & Deductible</span>
																						</span>
																					</th>
																					<th id="pp-table-col-2" class="pp-table-col" scope="col" data-tablesaw-sortable-col>
																						<span class="pp-table-header-inner">
																							<span class="pp-table-header-text"></span>
																						</span>
																					</th>
																				</tr>
																			</thead>
																			<tbody>
																				<tr class="pp-table-row" data-row-index="1"><td>☐ $2,500 per Insured with $100 deductible</td><td>☐ $5,000 per Insured with $250 deductible</td></tr>
																				<tr class="pp-table-row" data-row-index="2"><td>☐ $7,500 per Insured with $250 deductible</td><td>☐ $10,000 per Insured with $500 deductible</td></tr>
																				<tr class="pp-table-row" data-row-index="3"><td>☐ $12,500 per Insured with $500 deductible</td><td>☐ $15,000 per insured with $500 deductible</td></tr>
																			</tbody>
																		</table>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e4d7ba9246b0" data-node="5e4d7ba9246b0">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>When it Comes to Accidents…You Can’t Be Too Careful.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-5e5f8bfc56726 fl-row-default-height fl-row-align-center" data-node="5e5f8bfc56726">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e5f8bfc56721" data-node="5e5f8bfc56721">
										<div class="fl-col fl-node-5e5f8bfc56723" data-node="5e5f8bfc56723">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-rich-text fl-node-5e5f8bfc56725" data-node="5e5f8bfc56725">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p><sup>1 </sup>Benefits reduce by 50% on the 65th birthday of the Primary Insured and the spouse of the Primary Insured.</p>
															<p><sup>2 </sup>AD&amp;D Maximum equal to Excess Medical Expense Coverage Maximum Benefit selected.</p>
															<p>Accident Protector is not available in all states. Benefit amounts and availability may vary by state.  Please contact a licensed agent for more information. Limitations, Waiting Periods and Exclusions may apply.</p>
															<p>The Accident Protector Plan provides excess medical expense benefits for covered medical services in the treatment of covered accidental bodily injuries but is neither a traditional major medical plan nor a Workers Compensation plan under state law. The Accident Protector Plan is considered an “excepted benefit plan” under the ACA and is not a “minimum essential coverage” plan under the ACA. The ACA generally required individuals to maintain “minimum essential coverage” or be subject to the payment of the annual shared responsibility payment with the payment of their taxes to the federal government from 2014 - 2018. Congress eliminated the shared responsibility payment in 2019 and beyond for individuals who do not maintain ACA “minimum essential coverage” during 2019 or any year thereafter.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</section>
	</main>
</div>