@page
@model HealthAccessPlusModel
@{
}
<div class="content-sidebar-wrap">
	<main class="content">
		<section class="subpage-header" style="background-image:url(https://sbhi-public.s3.us-east-2.amazonaws.com/images/bg-table-coffee-home-couch-furniture-1600x162.jpg);"><div class="wrap"><article><header class="entry-header"><span class="heading" itemprop="headline">Health Access</span></header><div class="breadcrumbs"><div class="wrap"><span class="breadcrumb-link-wrap"><a class="breadcrumb-link" href="https://sbhi.app/"><span class="breadcrumb-link-text-wrap">Home</span></a><meta></span> <span class="bread-sep">></span> <span class="breadcrumb-link-wrap"><a class="breadcrumb-link" href="https://sbhi.app/product/"><span class="breadcrumb-link-text-wrap">Product</span></a><meta></span> <span class="bread-sep">></span> Health Access</div></div></article></div></section><section class="full-width">
			<article class="post-20145 page type-page status-publish entry" aria-label="Health Access">
				<div class="entry-content">
					<div class="fl-builder-content fl-builder-content-20145 fl-builder-content-primary fl-builder-global-templates-locked" data-post-id="20145">
						<div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-5e4d8e3162a04 fl-row-default-height fl-row-align-center page-subheader" data-node="5e4d8e3162a04">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e4d8e31629fc" data-node="5e4d8e31629fc">
										<div class="fl-col fl-node-5e4d8e3162a00 fl-col-small subheader-content-box" data-node="5e4d8e3162a00">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e4d8e3162a02" data-node="5e4d8e3162a02">
													<div class="fl-module-content fl-node-content">
														<h1 class="fl-heading">
															<span class="fl-heading-text">HealthAccess Plus<sup>SM</sup> Fixed Indemnity Plan</span>
														</h1>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e4d8e3162a03" data-node="5e4d8e3162a03">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>The HealthAccess Plus<sup>SM</sup> Fixed Indemnity Plan is offered without medical underwriting and provides first dollar payments for covered healthcare services without a calendar year deductible having to be first satisfied. These plans utilize your selected network and pays the same fixed dollar amount shown on the schedule of benefits regardless of whether services are provided in or out of network.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="fl-col fl-node-5e4d8e3162a01 fl-col-small" data-node="5e4d8e3162a01">
											<div class="fl-col-content fl-node-content"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5e4d8e3162a05 fl-row-default-height fl-row-align-center" data-node="5e4d8e3162a05">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e4d8e3162a06" data-node="5e4d8e3162a06">
										<div class="fl-col fl-node-5e4d8e3162a07" data-node="5e4d8e3162a07">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e4d8e3162a08" data-node="5e4d8e3162a08">
													<div class="fl-module-content fl-node-content">
														<h2 class="fl-heading">
															<span class="fl-heading-text">The HealthAccess Plus<sup>SM</sup> Difference</span>
														</h2>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e4d8e3162a09 text-list" data-node="5e4d8e3162a09">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<ul>
																<li style="font-weight: 400;">The HealthAccess II<sup>SM</sup> Fixed Indemnity Plan is<span style="font-weight: 400;"> available without medical underwriting.</span></li>
																<li style="font-weight: 400;"><b>You May Choose Any Doctor and Any Hospital!</b><span style="font-weight: 400;"> But You can stretch Your dollars further by choosing an In-Network Provider.</span></li>
																<li style="font-weight: 400;"><b>No Calendar Year Deductibles to Satisfy! </b></li>
																<li style="font-weight: 400;"><span style="font-weight: 400;"><span style="font-weight: 400;">The HealthAccess Plus<sup>SM </sup></span></span><span style="font-weight: 400;">Fixed Indemnity plan pays in addition to any coverage You have in force.</span></li>
																<li style="font-weight: 400;"><b>Your initial rate is guaranteed for 12 months </b><span style="font-weight: 400;">at no extra charge!<sup>1</sup></span></li>
																<li style="font-weight: 400;"><strong>24-hour coverage,</strong> on or off the job.</li>
																<li style="font-weight: 400;"><b>Portable coverage You can take with You</b> even if You move or change jobs.</li>
																<li style="font-weight: 400;">The HealthAccess Plus<sup>SM</sup> Fixed Indemnity Plan is not an essential health benefit plan under the Affordable Care Act (“ACA”). Instead, it will supplement an essential health benefit plan under which You must first satisfy a deductible every year before You are eligible to receive benefit payments.<sup>2</sup></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-5e5f8aa474b44 fl-row-default-height fl-row-align-center" data-node="5e5f8aa474b44">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e5f8aa474b3e" data-node="5e5f8aa474b3e">
										<div class="fl-col fl-node-5e5f8aa474b41" data-node="5e5f8aa474b41">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-rich-text fl-node-5e5f8aa474b43" data-node="5e5f8aa474b43">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p><sup>1</sup> The Premium Rate Guarantee Period does not apply to any rate change due to: change of address; addition of Insureds; change of benefits or options; change of Mode Of Premium Payment; group policy coverage if applicable, benefits, limitation or exclusion changes; or any future requirements of any federal or state law.</p>
															<p><sup>2</sup> The ACA generally required individuals to maintain “minimum essential coverage" or be subject to the payment of the annual shared responsibility payment with the payment of their taxes to the federal government from 2014 – 2018. Congress eliminated the shared responsibility payment in 2019 and beyond for individuals who do not maintain ACA “minimum essential coverage” during 2019 or any year thereafter. The HealthAccess Plus<sup>SM</sup> Fixed Indemnity Plan provides benefits for covered medical services but is neither traditional major medical plans nor Workers' Compensation plans under state law. The HealthAccess Plus<sup>SM</sup> Fixed Indemnity Plan is considered an “excepted benefit plans” under the ACA and is not “minimum essential coverage” plans under the ACA.</p>
															<p>The HealthAccess Plus<sup>SM</sup> Fixed Indemnity Plan is not available in all states. Please contact a licensed agent for more information. Limitation, Waiting Periods, and Exclusions apply.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</section>
	</main>
</div>