@page
@model IncomeProtectorModel
@{
}
<div class="content-sidebar-wrap">
	<main class="content">
		<section class="subpage-header" style="background-image:url(https://sbhi-public.s3.us-east-2.amazonaws.com/images/bg_subpage2-1600x162.jpg);"><div class="wrap"><article><header class="entry-header"><span class="heading" itemprop="headline">Income Protector</span></header><div class="breadcrumbs"><div class="wrap"><span class="breadcrumb-link-wrap"><a class="breadcrumb-link" href="https://sbhi.app/"><span class="breadcrumb-link-text-wrap">Home</span></a><meta></span> <span class="bread-sep">></span> <span class="breadcrumb-link-wrap"><a class="breadcrumb-link" href="https://sbhi.app/product/"><span class="breadcrumb-link-text-wrap">Product</span></a><meta></span> <span class="bread-sep">></span> Income Protector</div></div></article></div></section><section class="full-width">
			<article class="post-18021 page type-page status-publish entry" aria-label="Income Protector">
				<div class="entry-content">
					<div class="fl-builder-content fl-builder-content-18021 fl-builder-content-primary fl-builder-global-templates-locked" data-post-id="18021">
						<div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-5e429785eeb97 fl-row-default-height fl-row-align-center page-subheader" data-node="5e429785eeb97">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e429785eeb8f fl-col-group-equal-height fl-col-group-align-center" data-node="5e429785eeb8f">
										<div class="fl-col fl-node-5e429785eeb92 fl-col-small subheader-content-box" data-node="5e429785eeb92">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e429785eeb95" data-node="5e429785eeb95">
													<div class="fl-module-content fl-node-content">
														<h1 class="fl-heading">
															<span class="fl-heading-text">IncomeProtector - Short Term Accident Disability Coverage</span>
														</h1>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e429785eeb96" data-node="5e429785eeb96">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>Short Term Accident Disability Insurance can help you pay your bills if you become disabled due to a covered accident. If you become totally disabled due to a covered accident, IncomeProtector can pay you monthly benefits for up to 12 months.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="fl-col fl-node-5e429785eeb94 fl-col-small" data-node="5e429785eeb94">
											<div class="fl-col-content fl-node-content"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5e429785eeb98 fl-row-default-height fl-row-align-center" data-node="5e429785eeb98">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e429785eeb99" data-node="5e429785eeb99">
										<div class="fl-col fl-node-5e429785eeb9a" data-node="5e429785eeb9a">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e429785eeb9b" data-node="5e429785eeb9b">
													<div class="fl-module-content fl-node-content">
														<h2 class="fl-heading">
															<span class="fl-heading-text">How Long Could You Survive Financially Without a Paycheck?</span>
														</h2>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e429785eeb9c text-list" data-node="5e429785eeb9c">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>Whether you have a family or are a team of one, the bills don’t stop just because You are sidelined with an accidental injury. When accidents happen, IncomeProtector can help by providing monthly benefits to assist You with bill payments and general expenses. Don’t let the unexpected stop You in your tracks. We hope an accident never happens, but if it does, it’s better to be prepared. IncomeProtector can be an important part of Your overall game plan of protection.</p>
															<ul>
																<li>49% of workers would have difficulty supporting themselves within one month of becoming disabled. <sup>1</sup></li>
																<li>In the U.S., a disabling injury occurs every second. <sup>2</sup></li>
															</ul>
															<p><img decoding="async" class="alignnone wp-image-18450 size-full" src="https://sbhi-public.s3.us-east-2.amazonaws.com/images/IncomeProtector.jpg" alt="" width="1133" height="768" srcset="https://sbhi-public.s3.us-east-2.amazonaws.com/images/IncomeProtector.jpg 1133w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/IncomeProtector-300x203.jpg 300w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/IncomeProtector-1024x694.jpg 1024w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/IncomeProtector-768x521.jpg 768w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/IncomeProtector-75x51.jpg 75w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/IncomeProtector-221x150.jpg 221w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/IncomeProtector-443x300.jpg 443w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/IncomeProtector-200x136.jpg 200w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/IncomeProtector-564x382.jpg 564w, https://sbhi-public.s3.us-east-2.amazonaws.com/images/IncomeProtector-600x407.jpg 600w" sizes="(max-width: 1133px) 100vw, 1133px" /></p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-5e5f9102a9d49 fl-row-default-height fl-row-align-center" data-node="5e5f9102a9d49">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e5f9102a9d44" data-node="5e5f9102a9d44">
										<div class="fl-col fl-node-5e5f9102a9d47" data-node="5e5f9102a9d47">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-rich-text fl-node-5e5f9102a9d48" data-node="5e5f9102a9d48">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>IncomeProtector is not available in all states. Benefit amounts and availability may vary by state. Please contact a licensed agent for more information. Limitations, Waiting Periods and Exclusions may apply.</p>
															<p>The IncomeProtector Plan provides disability income benefits for disability resulting from covered accidental bodily injuries and is neither a traditional major medical plan nor a Workers Compensation plan under state law. The IncomeProtector Plan is considered an “excepted benefit plan” under the ACA and is not a “minimum essential coverage” plan under the ACA. The ACA generally required individuals to maintain “minimum essential coverage” or be subject to the payment of the annual shared responsibility payment with the payment of their taxes to the federal government. Congress eliminated the shared responsibility payment in 2019 and beyond for individuals who do not maintain ACA “minimum essential coverage” during 2019 or any year thereafter.</p>
															<p><sup>1</sup> The Disability Survey conducted by Kelton Research on behalf of the LIFE Foundation, April 2009</p>
															<p><sup>2</sup> National Safety Council®, Injury Facts® 2010 Ed.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</section>
	</main>
</div>