@page
@model LifeProtectorModel
@{
}
<div class="content-sidebar-wrap">
	<main class="content">
		<section class="subpage-header" style="background-image:url(https://sbhi-public.s3.us-east-2.amazonaws.com/images/bg-table-coffee-home-couch-furniture-1600x162.jpg);"><div class="wrap"><article><header class="entry-header"><span class="heading" itemprop="headline">Life Protector</span></header><div class="breadcrumbs"><div class="wrap"><span class="breadcrumb-link-wrap"><a class="breadcrumb-link" href="https://sbhi.app/"><span class="breadcrumb-link-text-wrap">Home</span></a><meta></span> <span class="bread-sep">></span> <span class="breadcrumb-link-wrap"><a class="breadcrumb-link" href="https://sbhi.app/product/"><span class="breadcrumb-link-text-wrap">Product</span></a><meta></span> <span class="bread-sep">></span> Life Protector</div></div></article></div></section><section class="full-width">
			<article class="post-18012 page type-page status-publish entry" aria-label="Life Protector">
				<div class="entry-content">
					<div class="fl-builder-content fl-builder-content-18012 fl-builder-content-primary fl-builder-global-templates-locked" data-post-id="18012">
						<div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-5e4d7c967e5c6 fl-row-default-height fl-row-align-center page-subheader" data-node="5e4d7c967e5c6">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e4d7c967e5be fl-col-group-equal-height fl-col-group-align-center" data-node="5e4d7c967e5be">
										<div class="fl-col fl-node-5e4d7c967e5c1 fl-col-small subheader-content-box" data-node="5e4d7c967e5c1">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e4d7c967e5c4" data-node="5e4d7c967e5c4">
													<div class="fl-module-content fl-node-content">
														<h1 class="fl-heading">
															<span class="fl-heading-text">LifeProtector - Life Coverage Plan</span>
														</h1>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e4d7c967e5c5" data-node="5e4d7c967e5c5">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>LifeProtector is a 10 year term life insurance plan that provides peace of mind for your family through valuable life insurance benefits in the event something unforeseen were to happen.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="fl-col fl-node-5e4d7c967e5c3 fl-col-small" data-node="5e4d7c967e5c3">
											<div class="fl-col-content fl-node-content"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5e4294309fd1c fl-row-default-height fl-row-align-center" data-node="5e4294309fd1c">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e4294309fd1d" data-node="5e4294309fd1d">
										<div class="fl-col fl-node-5e4294309fd1e" data-node="5e4294309fd1e">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e4294309fd1f" data-node="5e4294309fd1f">
													<div class="fl-module-content fl-node-content">
														<h2 class="fl-heading">
															<span class="fl-heading-text">Provide Peace of Mind for Your Loved Ones</span>
														</h2>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e4294309fd20 text-list" data-node="5e4294309fd20">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>With LifeProtector, a 10 year renewable term life insurance plan, You can help provide the financial security Your family needs and deserves. LifeProtector is a great option to add to Your portfolio of protection.</p>
														</div>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e66bd94bfbea text-list" data-node="5e66bd94bfbea">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p><strong>Pure and Simple</strong></p>
															<ul>
																<li>Provides protection to help with obligations like mortgage, car payment, childcare or educational expenses and other obligations.</li>
															</ul>
															<p><strong>Peace of Mind</strong></p>
															<ul>
																<li>Provides protection in the event of unforeseen death.</li>
															</ul>
															<p><strong>Not Taxable to Beneficiaries</strong></p>
															<ul>
																<li>Provides valuable term life insurance benefits that in most instances are free from income tax for the beneficiary.</li>
															</ul>
															<p><strong>Economical</strong></p>
															<ul>
																<li>With premium payment options from $10 to $50, all in $5 increments, it’s easy to find an economical solution to Your life insurance needs.</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-5e5f91c62a7e9 fl-row-default-height fl-row-align-center" data-node="5e5f91c62a7e9">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e5f91c62a7e4" data-node="5e5f91c62a7e4">
										<div class="fl-col fl-node-5e5f91c62a7e7" data-node="5e5f91c62a7e7">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-rich-text fl-node-5e5f91c62a7e8" data-node="5e5f91c62a7e8">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>The LifeProtector plan is renewable until the insured reaches age 70.</p>
															<p>LifeProtector is not available in all states. Benefit amounts and availability may vary by state.  Please contact a licensed agent for more information. Limitations, Waiting Periods and Exclusions may apply.</p>
															<p>The LifeProtector Plan is a 10-year, renewable term life insurance plan with the plan’s stated death benefit paid to the insured’s designated beneficiary. The LifeProtector Plan does not contain any rider for the acceleration of the payment of the death benefit to the insured, while living. Life insurance plans are not considered “health insurance” under the ACA. The ACA generally required individuals to maintain “minimum essential coverage” or be subject to the payment of the annual shared responsibility payment with the payment of their taxes to the federal government from 2014 – 2018. Congress eliminated the shared responsibility payment in 2019 and beyond for individuals who do not maintain ACA “minimum essential coverage” during 2019 or any year thereafter.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</section>
	</main>
</div>