@page
@model MedGuardModel
@{
}
<div class="content-sidebar-wrap">
	<main class="content">
		<section class="subpage-header" style="background-image:url(https://sbhi-public.s3.us-east-2.amazonaws.com/images/bg_subpage2-1600x162.jpg);"><div class="wrap"><article><header class="entry-header"><span class="heading" itemprop="headline">MedGuard</span></header><div class="breadcrumbs"><div class="wrap"><span class="breadcrumb-link-wrap"><a class="breadcrumb-link" href="https://sbhi.app/"><span class="breadcrumb-link-text-wrap">Home</span></a><meta></span> <span class="bread-sep">></span> <span class="breadcrumb-link-wrap"><a class="breadcrumb-link" href="https://sbhi.app/product/"><span class="breadcrumb-link-text-wrap">Product</span></a><meta></span> <span class="bread-sep">></span> MedGuard</div></div></article></div></section><section class="full-width">
			<article class="post-18007 page type-page status-publish entry" aria-label="MedGuard">
				<div class="entry-content">
					<div class="fl-builder-content fl-builder-content-18007 fl-builder-content-primary fl-builder-global-templates-locked" data-post-id="18007">
						<div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-5e4d7e843429f fl-row-default-height fl-row-align-center page-subheader" data-node="5e4d7e843429f">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e4d7e8434297" data-node="5e4d7e8434297">
										<div class="fl-col fl-node-5e4d7e843429a fl-col-small subheader-content-box" data-node="5e4d7e843429a">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e4d7e843429d" data-node="5e4d7e843429d">
													<div class="fl-module-content fl-node-content">
														<h1 class="fl-heading">
															<span class="fl-heading-text">MedGuard - Critical Illness Coverage Plans</span>
														</h1>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e4d7e843429e" data-node="5e4d7e843429e">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>The MedGuard Plan provides lump sum benefit payments to the insured to help offset any out of pocket healthcare expenses or other household expenses if a covered critical health incident occurs in the future. Additionally, even if a covered critical health incident does not occur, 100% of the Plan’s benefit amount is paid to the named beneficiary upon the insured’s death. This unique and valuable MedGuard coverage is achieved by combining the Plan’s 5-year renewable term life benefit payable to the named beneficiary with a stated percentage of the Plan’s life benefit paid in lump sum to the insured for covered critical illnesses, injuries and surgeries. The life benefit is reduced by the amount of lump sum benefits paid.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="fl-col fl-node-5e4d7e843429c fl-col-small" data-node="5e4d7e843429c">
											<div class="fl-col-content fl-node-content"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5e428a3ab88f4 fl-row-default-height fl-row-align-center" data-node="5e428a3ab88f4">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e428a3ab88f5" data-node="5e428a3ab88f5">
										<div class="fl-col fl-node-5e428a3ab88f6" data-node="5e428a3ab88f6">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e428a3ab88f7" data-node="5e428a3ab88f7">
													<div class="fl-module-content fl-node-content">
														<h2 class="fl-heading">
															<span class="fl-heading-text">Quality coverage for periods of critical illness.</span>
														</h2>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e428a3ab88f8 text-list" data-node="5e428a3ab88f8">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>Although nobody likes to think about it, the possibility of being diagnosed with a critical illness is real. Every day thousands of Americans suffer a life threatening illness such as cancer, heart attack, or stroke.</p>
															<p>You or a family member may one day be diagnosed with a critical illness; however, You have a greater chance of surviving that illness now more than ever. Advances in healthcare have increased survival rates tremendously; but recovery times may be extensive. The bills — both medical and non-medical — can be considerable. Are You and Your family prepared to shoulder that kind of expense?</p>
															<p>MedGuard critical illness insurance can help fill the gap between health insurance and life insurance. Health insurance provides benefits for medical treatment but doesn’t include benefits for nonmedical expenses. Life insurance pays benefits, but after death. What if You survive a critical illness? Where will You find the financial resources to cover non-medical costs during recovery?</p>
															<p>If You are diagnosed with a covered condition or undergo a covered critical surgery, MedGuard will pay a portion of the Death Benefit to You in a lump-sum cash payment upon diagnosis.<sup>1</sup></p>
														</div>
													</div>
												</div>
												<div class="fl-module fl-module-pp-table fl-node-5e4d7fe27228f table" data-node="5e4d7fe27228f">
													<div class="fl-module-content fl-node-content">
														<div class="pp-table-wrap">


															<table class="pp-table-5e4d7fe27228f pp-table-content tablesaw" data-tablesaw-minimap>
																<thead>
																	<tr>
																		<th id="pp-table-col-1" class="pp-table-col" scope="col" data-tablesaw-sortable-col>
																			<span class="pp-table-header-inner">
																				<span class="pp-table-header-text">Critical Illness Condition/Surgery</span>
																			</span>
																		</th>
																		<th id="pp-table-col-2" class="pp-table-col" scope="col" data-tablesaw-sortable-col>
																			<span class="pp-table-header-inner">
																				<span class="pp-table-header-text">Benefit</span>
																			</span>
																		</th>
																	</tr>
																</thead>
																<tbody>
																	<tr class="pp-table-row" data-row-index="1"><td>Life Threatening Cancer</td><td>100% of the Death Benefit</td></tr>
																	<tr class="pp-table-row" data-row-index="2"><td>Heart Attack</td><td>100% of the Death Benefit</td></tr>
																	<tr class="pp-table-row" data-row-index="3"><td>Stroke</td><td>100% of the Death Benefit</td></tr>
																	<tr class="pp-table-row" data-row-index="4"><td>Kidney Failure</td><td>100% of the Death Benefit</td></tr>
																	<tr class="pp-table-row" data-row-index="5"><td>Major Organ Transplant</td><td>100% of the Death Benefit</td></tr>
																	<tr class="pp-table-row" data-row-index="6"><td>Permanent Paralysis</td><td>100% of the Death Benefit</td></tr>
																	<tr class="pp-table-row" data-row-index="7"><td>Terminal Illness</td><td>100% of the Death Benefit</td></tr>
																	<tr class="pp-table-row" data-row-index="8"><td>Aorta Graft Surgery</td><td>25% of the Death Benefit</td></tr>
																	<tr class="pp-table-row" data-row-index="9"><td>Heart Valve Surgery</td><td>25% of the Death Benefit</td></tr>
																	<tr class="pp-table-row" data-row-index="10"><td>Coronary Angioplasty</td><td>10% of the Death Benefit</td></tr>
																	<tr class="pp-table-row" data-row-index="11"><td>COVID-19 Infection Complications Resulting in Inpatient Hospital Confinement</td><td>10% of the Death Benefit</td></tr>
																	<tr class="pp-table-row" data-row-index="12"><td>Death Benefit - Primary Insured/Spouse</td><td>Based on selected monthly premium</td></tr>
																	<tr class="pp-table-row" data-row-index="13"><td>Death Benefit - Dependent Child</td><td>Limited up to $15,000 and will not exceed 50% of Primary Insured’s coverage or exceed Spouse’s coverage</td></tr>
																	<tr class="pp-table-row" data-row-index="14"><td>1st through 90th day Death Benefit Amount for any Life Threatening Cancer</td><td>$500</td></tr>
																	<tr class="pp-table-row" data-row-index="15"><td>1st through 30th day Death Benefit Amount other than Life Threatening Cancer</td><td>$500</td></tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
												<div class="fl-module fl-module-heading fl-node-5e4d8685dfb4c" data-node="5e4d8685dfb4c">
													<div class="fl-module-content fl-node-content">
														<h4 class="fl-heading">
															<span class="fl-heading-text">Should You Buy MedGuard?</span>
														</h4>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e4d86a8df9ea" data-node="5e4d86a8df9ea">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>If You have financial obligations, such as a mortgage, or if you have savings you don’t want to spend on recovery, MedGuard critical illness insurance may be for You. If You are a parent responsible for providing for Your children, You should consider MedGuard. If You become ill and require a long recovery time with a loss of income, MedGuard can provide you with a monetary alternative. The benefit amount You receive can help You focus on fully recovering and not on worrying where You will find the money to pay your bills.</p>
														</div>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e5ec626e93dd" data-node="5e5ec626e93dd">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<h4>You can use the cash for any purpose You deem necessary such as helping to:</h4>
															<ul>
																<li>Protect Your assets from being spent on recovery</li>
																<li>Replace lost income for You &amp; Your care‑providing spouse</li>
																<li>Pay Your mortgage or other obligations</li>
																<li>Offset out-of-pocket or medical expenses not covered by health insurance</li>
																<li>Pay for experimental treatment</li>
																<li>Pay COBRA or other insurance premiums</li>
																<li>Pay home healthcare expenses</li>
																<li>Pay tuition expenses if You need to return to school</li>
																<li>Reduce Your debt</li>
																<li>Maintain Your Family’s lifestyle</li>
																<li>Pay Your taxes</li>
																<li>Pay travel and temporary housing expenses for You and Your Family while receiving care away from home</li>
																<li>Renovate Your home or relocate</li>
																<li>Pay for childcare</li>
																<li>Finance or protect Your children’s college tuition</li>
																<li>Maintain Your business during recovery</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-5e5f8b6defb8d fl-row-default-height fl-row-align-center" data-node="5e5f8b6defb8d">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e5f8b6defb88" data-node="5e5f8b6defb88">
										<div class="fl-col fl-node-5e5f8b6defb8a" data-node="5e5f8b6defb8a">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-rich-text fl-node-5e5f8b6defb8c" data-node="5e5f8b6defb8c">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p><sup>1</sup> The Death Benefit for the Primary Insured and the Spouse of the Primary Insured will be reduced by 50% on the respective 65th birthday of the Primary Insured and the Spouse of the Primary Insured. Benefits are reduced by the amount of the Critical Illness Benefit previously paid.</p>
															<p>MedGuard is not available in all states. Benefit amounts and availability may vary by state.  Please contact a licensed agent for more information. Limitations, Waiting Periods and Exclusions may apply.</p>
															<p>The MedGuard Plan is a 5-year, renewable term life insurance plan with the plan’s stated death benefit paid to the insured’s designated beneficiary. The MedGuard plan also contains an accelerated critical illness benefit, which provides the accelerated lump sum payment to the insured, while living, the stated percentage of the death benefit, if the insured is diagnosed with a covered critical illness or covered critical injury or undergoes a covered critical surgical procedure. Life insurance plans are not considered “health insurance” under the ACA. The ACA generally required individuals to maintain “minimum essential coverage” or be subject to the payment of the annual shared responsibility payment with the payment of their taxes to the federal government. Congress eliminated the shared responsibility payment in 2019 and beyond for individuals who do not maintain ACA “minimum essential coverage” during 2019 or any year thereafter.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</section>
	</main>
</div>