@page
@model PremierChoiceModel
@{
}
<div class="content-sidebar-wrap">
	<main class="content">
		<section class="subpage-header" style="background-image:url(https://sbhi.app/wp-content/uploads/2016/02/bg-table-coffee-home-couch-furniture-1600x162.jpg);"><div class="wrap"><article><header class="entry-header"><span class="heading" itemprop="headline">PremierChoice</span></header><div class="breadcrumbs"><div class="wrap"><span class="breadcrumb-link-wrap"><a class="breadcrumb-link" href="https://sbhi.app/"><span class="breadcrumb-link-text-wrap">Home</span></a><meta></span> <span class="bread-sep">></span> <span class="breadcrumb-link-wrap"><a class="breadcrumb-link" href="https://sbhi.app/product/"><span class="breadcrumb-link-text-wrap">Product</span></a><meta></span> <span class="bread-sep">></span> PremierChoice</div></div></article></div></section><section class="full-width">
			<article class="post-17988 page type-page status-publish entry" aria-label="PremierChoice">
				<div class="entry-content">
					<div class="fl-builder-content fl-builder-content-17988 fl-builder-content-primary fl-builder-global-templates-locked" data-post-id="17988">
						<div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-5e42818fbeef2 fl-row-default-height fl-row-align-center page-subheader" data-node="5e42818fbeef2">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e42818fbeeea" data-node="5e42818fbeeea">
										<div class="fl-col fl-node-5e42818fbeeed fl-col-small subheader-content-box" data-node="5e42818fbeeed">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e42818fbeef0" data-node="5e42818fbeef0">
													<div class="fl-module-content fl-node-content">
														<h1 class="fl-heading">
															<span class="fl-heading-text">PremierChoice - Disease, Sickness and Accident PPO Plans</span>
														</h1>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e42818fbeef1" data-node="5e42818fbeef1">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>The PremierChoice Specified Disease/Sickness and Accident PPO Plans provide first dollar payments for expenses incurred for covered healthcare services without a calendar year deductible having to be first satisfied. These plans utilize your selected network and pay the expenses charged for covered services after the PPO discount, up-to each benefit maximum. Plus, you can buy more coverage if you need it, including PremierMed, the catastrophic safety net, without additional underwriting!</p>
															<div></div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="fl-col fl-node-5e42818fbeeef fl-col-small" data-node="5e42818fbeeef">
											<div class="fl-col-content fl-node-content"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5e42818fbeef3 fl-row-default-height fl-row-align-center" data-node="5e42818fbeef3">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e42818fbeef4" data-node="5e42818fbeef4">
										<div class="fl-col fl-node-5e42818fbeef5" data-node="5e42818fbeef5">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e42818fbeef6" data-node="5e42818fbeef6">
													<div class="fl-module-content fl-node-content">
														<h2 class="fl-heading">
															<span class="fl-heading-text">The PremierChoice Difference</span>
														</h2>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e42818fbeef7 text-list" data-node="5e42818fbeef7">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<ul>
																<li><strong>No Calendar Year Deductibles to Satisfy!</strong> You receive “first dollar” benefit payments under each of the PremierChoice Specified Disease/Sickness and Accident Plans without first having to satisfy any calendar year deductible, which is different from ACA essential health benefit plans and many other plans that require the Insured to first satisfy a calendar year deductible for network providers, and a separate calendar year deductible for non-network providers, before applicable medical expenses are eligible for payment.</li>
																<li><strong>First Dollar coverage, up to the applicable benefit amount, available under both the Specified Disease/Sickness &amp; the Accident Plans for Outpatient Doctor Office Visits!</strong> Special “rollover” feature in each plan; if You don’t use Your benefits, You don’t lose them.</li>
																<li><strong>Buy more coverage, if You need it, without additional underwriting!</strong> Ask Your Agent about the Optional Single Step-Up Rider, the Optional Double Step-Up Rider and the Optional Medical Inflation Protection &amp; Guaranteed Insurability Rider.</li>
																<li>Neither the PremierChoice Specified Disease/Sickness Plan with the Optional Medical Inflation Protection &amp; Guaranteed Insurability Rider nor the PremierChoice Accident Plan with the Optional Medical Inflation Protection Rider are ACA essential health benefits plans. However, while these are in full force and effect, You have the right to purchase additional coverage under Our PremierMed Short Term Medical-Surgical Expense Plan with no additional underwriting, if You are not covered under an ACA plan of “minimal essential coverage". <sup>1</sup></li>
																<li><strong>Automatically Locks in Your rates for 15 months at no extra charge! <sup>2</sup></strong></li>
															</ul>
														</div>
													</div>
												</div>
												<div class="fl-module fl-module-pp-infolist fl-node-5e42818fbeefa" data-node="5e42818fbeefa">
													<div class="fl-module-content fl-node-content">
														<div class="pp-infolist-wrap">
															<div class="pp-infolist layout-1">
																<ul class="pp-list-items">
																	<li class="pp-list-item pp-list-item-0">
																		<div class="pp-list-item-content">
																			<div class="pp-icon-wrapper animated none">
																				<div class="pp-infolist-icon">
																					<div class="pp-infolist-icon-inner">
																						<img decoding="async" src="https://sbhi.app/wp-content/uploads/2020/02/24-hours-support.svg" alt="24-hours-support" role="presentation" />
																					</div>
																				</div>
																			</div>
																			<div class="pp-heading-wrapper">
																				<div class="pp-infolist-title">
																					<h3 class="pp-infolist-title-text"></h3>
																				</div>
																				<div class="pp-infolist-description">
																					<p><strong>24 hour coverage,</strong> on or off the job. Coverage You can depend on when You need it the most.</p>
																				</div>
																			</div>
																		</div>
																		<div class="pp-list-connector"></div>
																	</li>
																	<li class="pp-list-item pp-list-item-1">
																		<div class="pp-list-item-content">
																			<div class="pp-icon-wrapper animated none">
																				<div class="pp-infolist-icon">
																					<div class="pp-infolist-icon-inner">
																						<img decoding="async" src="https://sbhi.app/wp-content/uploads/2020/02/pair-of-bills.svg" alt="pair-of-bills" role="presentation" />
																					</div>
																				</div>
																			</div>
																			<div class="pp-heading-wrapper">
																				<div class="pp-infolist-title">
																					<h3 class="pp-infolist-title-text"></h3>
																				</div>
																				<div class="pp-infolist-description">
																					<p>Each plan <strong>pays in addition</strong> to any coverage You have in force.</p>
																				</div>
																			</div>
																		</div>
																		<div class="pp-list-connector"></div>
																	</li>
																	<li class="pp-list-item pp-list-item-2">
																		<div class="pp-list-item-content">
																			<div class="pp-icon-wrapper animated none">
																				<div class="pp-infolist-icon">
																					<div class="pp-infolist-icon-inner">
																						<img decoding="async" src="https://sbhi.app/wp-content/uploads/2020/02/doctor.svg" alt="doctor" role="presentation" />
																					</div>
																				</div>
																			</div>
																			<div class="pp-heading-wrapper">
																				<div class="pp-infolist-title">
																					<h3 class="pp-infolist-title-text"></h3>
																				</div>
																				<div class="pp-infolist-description">
																					<p><strong>Any Doctor, Any Hospital!</strong> But You can stretch Your dollars further by choosing an In-Network Provider.</p>
																				</div>
																			</div>
																		</div>
																		<div class="pp-list-connector"></div>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-5e5f860a51ecf fl-row-default-height fl-row-align-center" data-node="5e5f860a51ecf">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e5f860a5a419" data-node="5e5f860a5a419">
										<div class="fl-col fl-node-5e5f860a5a543" data-node="5e5f860a5a543">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-rich-text fl-node-5e5f860a516a8" data-node="5e5f860a516a8">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p><sup>1</sup> The ACA generally required individuals to maintain “minimum essential coverage" or be subject to the payment of the annual shared responsibility payment with the payment of their taxes to the federal government from 2014 – 2018. Congress eliminated the shared responsibility payment in 2019 and beyond for individuals who do not maintain ACA “minimum essential coverage” during 2019 or any year thereafter. The PremierChoice Specified Disease/Sickness Plans, PremierChoice Accident Plans and PremierChoice Health &amp; Wellness Plans provide benefits for covered medical services but are neither traditional major medical plans nor Workers Compensation plans under state law. The PremierChoice Specified Disease/Sickness Plans, PremierChoice Accident Plans and PremierChoice Health &amp; Wellness Plans are considered “excepted benefit plans” under the ACA and are not “minimum essential coverage” plans under the ACA.</p>
															<p><sup>2</sup> The Premium Rate Guarantee Period does not apply to any rate change due to: change of address; addition of Insureds; change of benefits or options; change of Mode Of Premium Payment; group policy coverage, benefits, limitation or exclusion changes; or any future requirements of any federal or state law.</p>
															<p>PremierChoice is not available in all states. Please contact a licensed agent for more information. Limitations, waiting periods, and exclusions may apply.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</section>
	</main>
</div>