@page
@model PremierVisionModel
@{
}
<div class="content-sidebar-wrap">
	<main class="content">
		<section class="subpage-header" style="background-image:url(https://sbhi.app/wp-content/uploads/2016/02/bg_subpage2-1600x162.jpg);"><div class="wrap"><article><header class="entry-header"><span class="heading" itemprop="headline">Premier Vision</span></header><div class="breadcrumbs"><div class="wrap"><span class="breadcrumb-link-wrap"><a class="breadcrumb-link" href="https://sbhi.app/"><span class="breadcrumb-link-text-wrap">Home</span></a><meta></span> <span class="bread-sep">></span> <span class="breadcrumb-link-wrap"><a class="breadcrumb-link" href="https://sbhi.app/product/"><span class="breadcrumb-link-text-wrap">Product</span></a><meta></span> <span class="bread-sep">></span> Premier Vision</div></div></article></div></section><section class="full-width">
			<article class="post-19501 page type-page status-publish entry" aria-label="Premier Vision">
				<div class="entry-content">
					<div class="fl-builder-content fl-builder-content-19501 fl-builder-content-primary fl-builder-global-templates-locked" data-post-id="19501">
						<div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-5e428937dce82 fl-row-default-height fl-row-align-center page-subheader" data-node="5e428937dce82">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e428937dce7a" data-node="5e428937dce7a">
										<div class="fl-col fl-node-5e428937dce7e fl-col-small subheader-content-box" data-node="5e428937dce7e">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e428937dce80" data-node="5e428937dce80">
													<div class="fl-module-content fl-node-content">
														<h1 class="fl-heading">
															<span class="fl-heading-text">Premier<br>Vision</span>
														</h1>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e428937dce81" data-node="5e428937dce81">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>The PremierVision plan is easy to use and can help save you money with both insurance benefits and negotiated discounts provided by the Spectera Eyecare Networks.  PremierVision provides benefits for the annual comprehensive eye exam, corrective standard lenses and frames, or corrective contact lenses in lieu of lenses and frames.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="fl-col fl-node-5e428937dce7f fl-col-small" data-node="5e428937dce7f">
											<div class="fl-col-content fl-node-content"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5e428937dce83 fl-row-default-height fl-row-align-center" data-node="5e428937dce83">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e428937dce84" data-node="5e428937dce84">
										<div class="fl-col fl-node-5e428937dce85 fl-col-has-cols" data-node="5e428937dce85">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e428937dce86" data-node="5e428937dce86">
													<div class="fl-module-content fl-node-content">
														<h2 class="fl-heading">
															<span class="fl-heading-text">Why Choose PremierVision?</span>
														</h2>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e428937dce87 text-list" data-node="5e428937dce87">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>PremierVision uses the extensive Spectera Eyecare Networks of over 100,000 access points for care. Choose from independent or retail Providers to find the Provider that best fits Your needs and schedule. The PremierVision Plan is designed to be easy to use, while helping You save money.</p>
															<p>&nbsp;</p>
														</div>
													</div>
												</div>
												<div class="fl-module fl-module-pp-table fl-node-5f4d5a6b3d046" data-node="5f4d5a6b3d046">
													<div class="fl-module-content fl-node-content">
														<div class="pp-table-wrap">


															<table class="pp-table-5f4d5a6b3d046 pp-table-content tablesaw" data-tablesaw-minimap>
																<thead>
																	<tr>
																		<th id="pp-table-col-1" class="pp-table-col" scope="col" data-tablesaw-sortable-col>
																			<span class="pp-table-header-inner">
																				<span class="pp-table-header-text">Benefits</span>
																			</span>
																		</th>
																		<th id="pp-table-col-2" class="pp-table-col" scope="col" data-tablesaw-sortable-col>
																			<span class="pp-table-header-inner">
																				<span class="pp-table-header-text">In-Network Benefits</span>
																			</span>
																		</th>
																		<th id="pp-table-col-3" class="pp-table-col" scope="col" data-tablesaw-sortable-col>
																			<span class="pp-table-header-inner">
																				<span class="pp-table-header-text">Out-of-Network Benefits</span>
																			</span>
																		</th>
																	</tr>
																</thead>
																<tbody>
																	<tr class="pp-table-row" data-row-index="1"><td><strong>Comprehensive Eye Exam<sup>1</sup></strong></td><td>$0 Copay per Insured; 100% Coinsurance</td><td>100% Up to an Allowance of $35</td></tr>
																	<tr class="pp-table-row" data-row-index="2"><td><strong>Frames<sup>2</sup></strong></td><td>$10 Copay per Insured; 100% Coinsurance Up to an Allowance of $150</td><td>100% Up to an Allowance of $60</td></tr>
																	<tr class="pp-table-row" data-row-index="3"><td><strong>Corrective Standard Lenses<sup>2</sup></strong></td><td class="is-empty"></td><td class="is-empty"></td></tr>
																	<tr class="pp-table-row" data-row-index="4"><td>Single Vision Lenses</td><td>$10 Copay per Insured; 100% Coinsurance</td><td>100% Up to an Allowance of $35</td></tr>
																	<tr class="pp-table-row" data-row-index="5"><td>Lined Bifocal Lenses</td><td>$10 Copay per Insured; 100% Coinsurance</td><td>100% Up to an Allowance of $55</td></tr>
																	<tr class="pp-table-row" data-row-index="6"><td>Lined Trifocal Lenses</td><td>$10 Copay per Insured; 100% Coinsurance</td><td>100% Up to an Allowance of $90</td></tr>
																	<tr class="pp-table-row" data-row-index="7"><td>Standard Progressive Lenses</td><td>$10 Copay per Insured; 100% Coinsurance</td><td>100% Up to an Allowance of $90</td></tr>
																	<tr class="pp-table-row" data-row-index="8"><td>Premium Progressive Lenses</td><td>$10 Copay per Insured; 100% Coinsurance</td><td>100% Up to an Allowance of $90</td></tr>
																	<tr class="pp-table-row" data-row-index="9"><td><strong>Corrective Contact Lenses<sup>3</sup></strong></td><td class="is-empty"></td><td class="is-empty"></td></tr>
																	<tr class="pp-table-row" data-row-index="10"><td>Conventional</td><td>$10 Copay per Insured; 100% Coinsurance Up to an Allowance of $200</td><td>100% Up to an Allowance of $100</td></tr>
																	<tr class="pp-table-row" data-row-index="11"><td>Disposable</td><td>$10 Copay per Insured; 100% Coinsurance Up to an Allowance of $200</td><td>100% Up to an Allowance of $100</td></tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e4d8760bf895" data-node="5e4d8760bf895">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p><sup>1</sup>Limited to one (1) Comprehensive Eye Examination every twelve (12) months from the last date of service, per Insured.</p>
															<p><sup>2</sup>In lieu of Corrective Contact Lenses, limited to one (1) purchase every twelve (12) months from the last date of service, per Insured. In no event will Benefits be payable for both glasses and corrective contact lenses.</p>
															<p><sup>3</sup>In lieu of Corrective Standard Lenses and Frames, limited to one (1) purchase every twelve (12) months from the last date of service, per Insured. In no event will Benefits be payable for both glasses and corrective contact lenses.</p>
														</div>
													</div>
												</div>
												<div class="fl-module fl-module-heading fl-node-5e4d8777e1156" data-node="5e4d8777e1156">
													<div class="fl-module-content fl-node-content">
														<h3 class="fl-heading">
															<span class="fl-heading-text">How Much You Can Save!</span>
														</h3>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e4d879bbaa7a" data-node="5e4d879bbaa7a">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>
																Here are a couple of examples of what You might pay for a pair of glasses with PremierVision vs. what You would pay without PremierVision.<br />
																Let’s say You get an eye exam and choose a frame that costs $163 with single vision lenses. The difference is clear . . .
															</p>
														</div>
													</div>
												</div>

												<div class="fl-col-group fl-node-5fac48ac63f56 fl-col-group-nested" data-node="5fac48ac63f56">
													<div class="fl-col fl-node-5fac48ac64060 fl-col-small" data-node="5fac48ac64060">
														<div class="fl-col-content fl-node-content">
															<div class="fl-module fl-module-pp-table fl-node-5fac48f38ccc4" data-node="5fac48f38ccc4">
																<div class="fl-module-content fl-node-content">
																	<div class="pp-table-wrap">


																		<table class="pp-table-5fac48f38ccc4 pp-table-content tablesaw" data-tablesaw-minimap>
																			<thead>
																				<tr>
																					<th id="pp-table-col-1" class="pp-table-col" scope="col" data-tablesaw-sortable-col>
																						<span class="pp-table-header-inner">
																							<span class="pp-table-header-text">Example 1 - Adult's Glasses</span>
																						</span>
																					</th>
																					<th id="pp-table-col-2" class="pp-table-col" scope="col" data-tablesaw-sortable-col>
																						<span class="pp-table-header-inner">
																							<span class="pp-table-header-text">PremierVision</span>
																						</span>
																					</th>
																					<th id="pp-table-col-3" class="pp-table-col" scope="col" data-tablesaw-sortable-col>
																						<span class="pp-table-header-inner">
																							<span class="pp-table-header-text">No Coverage</span>
																						</span>
																					</th>
																				</tr>
																			</thead>
																			<tbody>
																				<tr class="pp-table-row" data-row-index="1"><td>Comprehensive Eye Exam</td><td>$0.00</td><td>$100.00</td></tr>
																				<tr class="pp-table-row" data-row-index="2"><td>Standard progressive lenses</td><td>$0.00</td><td>$230.00</td></tr>
																				<tr class="pp-table-row" data-row-index="3"><td>Lens copay</td><td>$10.00</td><td class="is-empty"></td></tr>
																				<tr class="pp-table-row" data-row-index="4"><td>Standard scratch guard coating*</td><td>$0.00</td><td>$28.00</td></tr>
																				<tr class="pp-table-row" data-row-index="5"><td>Frame</td><td>$180.00</td><td>$180.00</td></tr>
																				<tr class="pp-table-row" data-row-index="6"><td><span style="color: #fff;">empty row</span></td><td></td><td></td></tr>
																				<tr class="pp-table-row" data-row-index="7"><td>-$150 allowance</td><td>($150.00)</td><td class="is-empty"></td></tr>
																				<tr class="pp-table-row" data-row-index="8"><td>-30% discount off $30 balance*</td><td>(9.00)</td><td class="is-empty"></td></tr>
																				<tr class="pp-table-row" data-row-index="9"><td>Frame copay</td><td>$10.00</td><td class="is-empty"></td></tr>
																				<tr class="pp-table-row" data-row-index="10"><td><div class="blue-bot">YOU PAY →</div></td><td><div class="blue-bot">$41.00</div></td><td><div class="red-bot">$538.00</div></td></tr>
																			</tbody>
																		</table>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="fl-col fl-node-5fac48ac64063 fl-col-small" data-node="5fac48ac64063">
														<div class="fl-col-content fl-node-content">
															<div class="fl-module fl-module-pp-table fl-node-5fac55e8e71a6" data-node="5fac55e8e71a6">
																<div class="fl-module-content fl-node-content">
																	<div class="pp-table-wrap">


																		<table class="pp-table-5fac55e8e71a6 pp-table-content tablesaw" data-tablesaw-minimap>
																			<thead>
																				<tr>
																					<th id="pp-table-col-1" class="pp-table-col" scope="col" data-tablesaw-sortable-col>
																						<span class="pp-table-header-inner">
																							<span class="pp-table-header-text">Example 2 - Child's Glasses</span>
																						</span>
																					</th>
																					<th id="pp-table-col-2" class="pp-table-col" scope="col" data-tablesaw-sortable-col>
																						<span class="pp-table-header-inner">
																							<span class="pp-table-header-text">PremierVision</span>
																						</span>
																					</th>
																					<th id="pp-table-col-3" class="pp-table-col" scope="col" data-tablesaw-sortable-col>
																						<span class="pp-table-header-inner">
																							<span class="pp-table-header-text">No Coverage</span>
																						</span>
																					</th>
																				</tr>
																			</thead>
																			<tbody>
																				<tr class="pp-table-row" data-row-index="1"><td>Comprehensive Eye Exam</td><td>$0.00</td><td>$100.00</td></tr>
																				<tr class="pp-table-row" data-row-index="2"><td>Single vision plastic lenses</td><td>$0.00</td><td>$70.00</td></tr>
																				<tr class="pp-table-row" data-row-index="3"><td>Lens copay</td><td>$10.00</td><td class="is-empty"></td></tr>
																				<tr class="pp-table-row" data-row-index="4"><td>Child Polycarbonate lenses</td><td>$0.00</td><td>$125.00</td></tr>
																				<tr class="pp-table-row" data-row-index="5"><td>Standard scratch guard coating*</td><td>$0.00</td><td>$28.00</td></tr>
																				<tr class="pp-table-row" data-row-index="6"><td>Frame</td><td>$175.00</td><td>$175.00</td></tr>
																				<tr class="pp-table-row" data-row-index="7"><td>-$150 allowance</td><td>($150.00)</td><td class="is-empty"></td></tr>
																				<tr class="pp-table-row" data-row-index="8"><td>-30% discount off $25 balance*</td><td>(7.50)</td><td class="is-empty"></td></tr>
																				<tr class="pp-table-row" data-row-index="9"><td>Frame copay</td><td>$10.00</td><td class="is-empty"></td></tr>
																				<tr class="pp-table-row" data-row-index="10"><td><div class="blue-bot">YOU PAY →</div></td><td><div class="blue-bot">$37.50</div></td><td><div class="red-bot">$498.00</div></td></tr>
																			</tbody>
																		</table>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e6848cda941c" data-node="5e6848cda941c">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>
																<sup>1</sup> Non-insurance benefit provided through the Spectera Eyecare Networks.<br />
																<sup>2</sup> Savings based on example above and using a Provider in the Spectera Eyecare Networks.
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-5e5f961cbd63c fl-row-default-height fl-row-align-center" data-node="5e5f961cbd63c">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e5f961cbd635" data-node="5e5f961cbd635">
										<div class="fl-col fl-node-5e5f961cbd639" data-node="5e5f961cbd639">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-rich-text fl-node-5e5f961cbd63b" data-node="5e5f961cbd63b">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>PremierVision is not available in all states. Benefit amounts and availability may vary by state.  Please contact a licensed agent for more information. Limitations, Waiting Periods and Exclusions may apply.</p>
															<p>The PremierVision Plan provides benefits for covered vision services only. The PremierVision Plan is considered an “excepted benefit plan” under the ACA and is not a “minimum essential coverage” plan under the ACA. The ACA generally required individuals to maintain “minimum essential coverage” or be subject to the payment of the annual shared responsibility payment with the payment of their taxes to the federal government from 2014 – 2018. Congress eliminated the shared responsibility payment in 2019 and beyond for individuals who do not maintain ACA “minimum essential coverage” during 2019 or any year thereafter.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</section>
	</main>
</div>