@page
@model PremierAdvantageModel
@{
}
<div class="content-sidebar-wrap">
	<main class="content">
		<section class="subpage-header" style="background-image:url(https://sbhi.app/wp-content/uploads/2016/02/bg-table-coffee-home-couch-furniture-1600x162.jpg);"><div class="wrap"><article><header class="entry-header"><span class="heading" itemprop="headline">PremierAdvantage</span></header><div class="breadcrumbs"><div class="wrap"><span class="breadcrumb-link-wrap"><a class="breadcrumb-link" href="https://sbhi.app/"><span class="breadcrumb-link-text-wrap">Home</span></a><meta></span> <span class="bread-sep">></span> <span class="breadcrumb-link-wrap"><a class="breadcrumb-link" href="https://sbhi.app/product/"><span class="breadcrumb-link-text-wrap">Product</span></a><meta></span> <span class="bread-sep">></span> PremierAdvantage</div></div></article></div></section><section class="full-width">
			<article class="post-20377 page type-page status-publish entry" aria-label="PremierAdvantage">
				<div class="entry-content">
					<div class="fl-builder-content fl-builder-content-20377 fl-builder-content-primary fl-builder-global-templates-locked" data-post-id="20377">
						<div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-o62jgqb3htrc fl-row-default-height fl-row-align-center page-subheader" data-node="o62jgqb3htrc">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-mlpnkaqbdo37" data-node="mlpnkaqbdo37">
										<div class="fl-col fl-node-u6owqpg94dcr fl-col-small subheader-content-box" data-node="u6owqpg94dcr">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-6xtkqnawpruv" data-node="6xtkqnawpruv">
													<div class="fl-module-content fl-node-content">
														<h1 class="fl-heading">
															<span class="fl-heading-text">PremierAdvantage - Fixed Indemnity PPO</span>
														</h1>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-y8pqxbhjtou1" data-node="y8pqxbhjtou1">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>The PremierAdvantage Fixed Indemnity Plans provide first dollar payments for covered healthcare services without a calendar year deductible having to be first satisfied. These plans utilize the nationwide UnitedHealthcare Choice Plus Network and pay the stated benefit amount, regardless of expenses incurred. Plus, you can buy more coverage if you need it, through PremierMed without additional underwriting!</p>
															<div></div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="fl-col fl-node-sapzn409wfhb fl-col-small" data-node="sapzn409wfhb">
											<div class="fl-col-content fl-node-content"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-2k3pb7tzagci fl-row-default-height fl-row-align-center" data-node="2k3pb7tzagci">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-lq4c3yhwso2v" data-node="lq4c3yhwso2v">
										<div class="fl-col fl-node-eb3onj5zrq19" data-node="eb3onj5zrq19">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-ut0idn6397xr" data-node="ut0idn6397xr">
													<div class="fl-module-content fl-node-content">
														<h2 class="fl-heading">
															<span class="fl-heading-text">The PremierAdvantage Difference</span>
														</h2>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-o0ra18gspbhc text-list" data-node="o0ra18gspbhc">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<ul>
																<li><strong>No Calendar Year Deductibles to Satisfy!</strong> You receive “first dollar” benefit payments under each of the PremierAdvantage Fixed Indemnity Plans without first having to satisfy any calendar year deductible, which is different from ACA essential health benefit plans and many other plans that require the Insured to first satisfy a calendar year deductible for network providers, and a separate calendar year deductible for non-network providers, before applicable medical expenses are eligible for payment.</li>
																<li><strong>You may choose Any Doctor and Any Hospital!  </strong> The PremierAdvantage Fixed Indemnity Plans pay the same fixed dollar amount shown on the schedule of benefits regardless of whether services are provided in or out of network.  But you can stretch your dollars further by choosing an In-Network Provider.</li>
																<li>The PremierAdvantage Fixed Indemnity Plans with the Optional Well-GIST Rider<sup>1</sup> are not ACA essential health benefits plans.<sup>1</sup> However, while these are in full force and effect, You have the right to purchase additional coverage under Our PremierMed Short Term Medical-Surgical Expense Plan with no additional underwriting, if You are not covered under an ACA plan of “minimal essential coverage". <sup>2</sup></li>
																<li><strong>Automatically Locks in Your rates for 24 months at no extra charge! <sup>3</sup></strong></li>
															</ul>
														</div>
													</div>
												</div>
												<div class="fl-module fl-module-pp-infolist fl-node-vfj4od1ameh7" data-node="vfj4od1ameh7">
													<div class="fl-module-content fl-node-content">
														<div class="pp-infolist-wrap">
															<div class="pp-infolist layout-1">
																<ul class="pp-list-items">
																	<li class="pp-list-item pp-list-item-0">
																		<div class="pp-list-item-content">
																			<div class="pp-icon-wrapper animated none">
																				<div class="pp-infolist-icon">
																					<div class="pp-infolist-icon-inner">
																						<img decoding="async" src="https://sbhi.app/wp-content/uploads/2020/02/24-hours-support.svg" alt="24-hours-support" role="presentation" />
																					</div>
																				</div>
																			</div>
																			<div class="pp-heading-wrapper">
																				<div class="pp-infolist-title">
																					<h3 class="pp-infolist-title-text"></h3>
																				</div>
																				<div class="pp-infolist-description">
																					<p><strong>24 hour coverage,</strong> on or off the job. Coverage You can depend on when You need it the most.</p>
																				</div>
																			</div>
																		</div>
																		<div class="pp-list-connector"></div>
																	</li>
																	<li class="pp-list-item pp-list-item-1">
																		<div class="pp-list-item-content">
																			<div class="pp-icon-wrapper animated none">
																				<div class="pp-infolist-icon">
																					<div class="pp-infolist-icon-inner">
																						<img decoding="async" src="https://sbhi.app/wp-content/uploads/2020/02/pair-of-bills.svg" alt="pair-of-bills" role="presentation" />
																					</div>
																				</div>
																			</div>
																			<div class="pp-heading-wrapper">
																				<div class="pp-infolist-title">
																					<h3 class="pp-infolist-title-text"></h3>
																				</div>
																				<div class="pp-infolist-description">
																					<p>Each plan <strong>pays in addition</strong> to any coverage You have in force.</p>
																				</div>
																			</div>
																		</div>
																		<div class="pp-list-connector"></div>
																	</li>
																	<li class="pp-list-item pp-list-item-2">
																		<div class="pp-list-item-content">
																			<div class="pp-icon-wrapper animated none">
																				<div class="pp-infolist-icon">
																					<div class="pp-infolist-icon-inner">
																						<img decoding="async" src="https://sbhi.app/wp-content/uploads/2020/02/doctor.svg" alt="doctor" role="presentation" />
																					</div>
																				</div>
																			</div>
																			<div class="pp-heading-wrapper">
																				<div class="pp-infolist-title">
																					<h3 class="pp-infolist-title-text"></h3>
																				</div>
																				<div class="pp-infolist-description">
																					<p><strong>Any Doctor, Any Hospital!</strong> But You can stretch Your dollars further by choosing an In-Network Provider.</p>
																				</div>
																			</div>
																		</div>
																		<div class="pp-list-connector"></div>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-dfbasrco1e8k fl-row-default-height fl-row-align-center" data-node="dfbasrco1e8k">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-e4f0zcl5yroh" data-node="e4f0zcl5yroh">
										<div class="fl-col fl-node-dlk3x6jpeha4" data-node="dlk3x6jpeha4">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-rich-text fl-node-hjmsz2f7por3" data-node="hjmsz2f7por3">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p><sup>1</sup> PremierAdvantage Fixed Indemnity Plans Optional Wellness and Health Screening Fixed Indemnity Benefits &amp; Guaranteed Insurability under Option Short Term Medical-Surgical Plan Rider (available for an additional premium).</p>
															<p><sup>2</sup> The ACA generally required individuals to maintain “minimum essential coverage" or be subject to the payment of the annual shared responsibility payment with the payment of their taxes to the federal government from 2014 – 2018. Congress eliminated the shared responsibility payment in 2019 and beyond for individuals who do not maintain ACA “minimum essential coverage” during 2019 or any year thereafter. The PremierAdvantage Fixed Indemnity Plan provides benefits for covered medical services but are neither traditional major medical plans nor Workers Compensation plans under state law. The PremierAdvantage Fixed Indemnity Plan is considered “excepted benefit plans” under the ACA and are not “minimum essential coverage” plans under the ACA.</p>
															<p><sup>3</sup> The Premium Rate Guarantee Period does not apply to any rate change due to: change of address; addition of Insureds; change of benefits or options; change of Mode Of Premium Payment; group policy coverage, benefits, limitation or exclusion changes; or any future requirements of any federal or state law.</p>
															<p>PremierAdvantage is not available in all states. Benefit amounts and availability may vary by state.  Please contact a licensed agent for more information. Limitations, waiting periods, and exclusions may apply.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</section>
	</main>
</div>