@page
@model SecureDentalModel
@{
}
<div class="content-sidebar-wrap">
	<main class="content">
		<section class="subpage-header" style="background-image:url(https://sbhi-public.s3.us-east-2.amazonaws.com/images/bg-table-coffee-home-couch-furniture-1600x162.jpg);"><div class="wrap"><article><header class="entry-header"><span class="heading" itemprop="headline">Secure Dental</span></header><div class="breadcrumbs"><div class="wrap"><span class="breadcrumb-link-wrap"><a class="breadcrumb-link" href="https://sbhi.app/"><span class="breadcrumb-link-text-wrap">Home</span></a><meta></span> <span class="bread-sep">></span> <span class="breadcrumb-link-wrap"><a class="breadcrumb-link" href="https://sbhi.app/product/"><span class="breadcrumb-link-text-wrap">Product</span></a><meta></span> <span class="bread-sep">></span> Secure Dental</div></div></article></div></section><section class="full-width">
			<article class="post-17997 page type-page status-publish entry" aria-label="Secure Dental">
				<div class="entry-content">
					<div class="fl-builder-content fl-builder-content-17997 fl-builder-content-primary fl-builder-global-templates-locked" data-post-id="17997">
						<div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-5e4287cb45efc fl-row-default-height fl-row-align-center page-subheader" data-node="5e4287cb45efc">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e4287cb45eed" data-node="5e4287cb45eed">
										<div class="fl-col fl-node-5e4287cb45ef8 fl-col-small subheader-content-box" data-node="5e4287cb45ef8">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e4287cb45efa" data-node="5e4287cb45efa">
													<div class="fl-module-content fl-node-content">
														<h1 class="fl-heading">
															<span class="fl-heading-text">SecureDental - Dental Coverage PPO Plans</span>
														</h1>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e4287cb45efb" data-node="5e4287cb45efb">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>The SecureDental PPO plans can help your family maintain a healthy smile. The plans utilize your selected network and pay the expenses charged for covered services after the PPO discount up to the stated maximum, subject to the required deductible. Plus, preventive dental care from a participating dentist is not subject to a deductible.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="fl-col fl-node-5e4287cb45ef9 fl-col-small" data-node="5e4287cb45ef9">
											<div class="fl-col-content fl-node-content"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5e4287cb45efd fl-row-default-height fl-row-align-center" data-node="5e4287cb45efd">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e4287cb45efe" data-node="5e4287cb45efe">
										<div class="fl-col fl-node-5e4287cb45eff" data-node="5e4287cb45eff">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e4287cb45f00" data-node="5e4287cb45f00">
													<div class="fl-module-content fl-node-content">
														<h2 class="fl-heading">
															<span class="fl-heading-text">Everyone Deserves A Healthy Smile!</span>
														</h2>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e5ecdd945f49 text-list" data-node="5e5ecdd945f49">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p><strong>SecureDental Offers 3 Plans:</strong></p>
															<p>&nbsp;</p>
															<ul>
																<li><strong>Premium Plan</strong> – Subject to deductibles of $50 for an Individual and $150 for a Family<sup>1</sup>, <sup>2</sup>, the SecureDental Premium Plan covers Preventive Care<sup>3</sup>, Basic Care<sup>4</sup>, and Major Care<sup>5</sup>. Orthodontic Care<sup>5</sup> is only available on the SecureDental Premium Plan and is subject to an Additional Orthodontic Deductible of $150<sup>1</sup>, <sup>6</sup>. The SecureDental Premium Plan has a Calendar Year Maximum of $1,500 per Insured; an Orthodontic Calendar Year Maximum of $400 per Insured; and a Lifetime Maximum Orthodontic Benefit of $1,000 per Insured.</li>
																<li><strong>Saver Plus Plan</strong> – Subject to deductibles of $50 for an Individual and $150 for a Family<sup>1</sup>, <sup>2</sup>, the SecureDental Saver Plus Plan covers Preventive Care<sup>3</sup>, Basic Care<sup>4</sup>, and Major Care<sup>5</sup> with Orthodontic Care Services discounted at Participating Dentists<sup>7</sup>. The SecureDental Saver Plus Plan has a Calendar Year Maximum of $1,000 per Insured.</li>
																<li><strong>Saver Plan</strong> – Subject to deductibles of $50 for an Individual and $150 for a Family<sup>1</sup>, <sup>2</sup>, the SecureDental Saver Plan covers Preventive Care<sup>3</sup> and Basic Care<sup>4</sup> with Major Care and Orthodontic Care Services discounted at Participating Dentists<sup>7</sup>. The SecureDental Saver Plan has a Calendar Year Maximum of $500 per Insured.</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-5e5f9339804e3 fl-row-default-height fl-row-align-center" data-node="5e5f9339804e3">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e5f9339804df" data-node="5e5f9339804df">
										<div class="fl-col fl-node-5e5f9339804e1" data-node="5e5f9339804e1">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-rich-text fl-node-5e5f9339804e2" data-node="5e5f9339804e2">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p><sup>1</sup> Family limit of 3 per Person Deductibles</p>
															<p><sup>2</sup> Separate $50 Deductible for Non-Participating Dentist per Insured</p>
															<p><sup>3</sup> Not subject to Calendar Year Deductible when received from a Participating Dentist</p>
															<p><sup>4</sup> Subject to 6 month benefit waiting period</p>
															<p><sup>5</sup> Subject to a 12 month benefit waiting period</p>
															<p><sup>6</sup> Separate $150 Deductible for Non-Participating Orthodontic Dental Care per Insured</p>
															<p><sup>7</sup> These services are not covered under the Policy/Certificate but are subject to a discount of up to 20% if you see a Participating Dentist</p>
															<p>SecureDental is not available in all states. Benefit amounts and availability may vary by state.  Please contact a licensed agent for more information. Limitations, Waiting Periods and Exclusions may apply.</p>
															<p>The SecureDental Plans provide benefits for covered dental services only. The SecureDental Plans are considered “excepted benefit plans” under the ACA and are not “minimum essential coverage” plans under the ACA. The ACA generally required individuals to maintain “minimum essential coverage” or be subject to the payment of the annual shared responsibility payment with the payment of their taxes to the federal government from 2014-2018. Congress eliminated the shared responsibility payment in 2019 and beyond for individuals who do not maintain ACA “minimum essential coverage” during 2019 or any year thereafter.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</section>
	</main>
</div>