@page
@model SecureAdvantageModel
@{
}
<div class="content-sidebar-wrap">
	<main class="content">
		<section class="subpage-header" style="background-image:url(https://sbhi.app/wp-content/uploads/2016/02/bg_subpage2-1600x162.jpg);"><div class="wrap"><article><header class="entry-header"><span class="heading" itemprop="headline">Secure Advantage</span></header><div class="breadcrumbs"><div class="wrap"><span class="breadcrumb-link-wrap"><a class="breadcrumb-link" href="https://sbhi.app/"><span class="breadcrumb-link-text-wrap">Home</span></a><meta></span> <span class="bread-sep">></span> <span class="breadcrumb-link-wrap"><a class="breadcrumb-link" href="https://sbhi.app/product/"><span class="breadcrumb-link-text-wrap">Product</span></a><meta></span> <span class="bread-sep">></span> Secure Advantage</div></div></article></div></section><section class="full-width">
			<article class="post-17993 page type-page status-publish entry" aria-label="Secure Advantage">
				<div class="entry-content">
					<div class="fl-builder-content fl-builder-content-17993 fl-builder-content-primary fl-builder-global-templates-locked" data-post-id="17993">
						<div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-5e4285e890f3d fl-row-default-height fl-row-align-center page-subheader" data-node="5e4285e890f3d">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e4285e890f36" data-node="5e4285e890f36">
										<div class="fl-col fl-node-5e4285e890f39 fl-col-small subheader-content-box" data-node="5e4285e890f39">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e4285e890f3b" data-node="5e4285e890f3b">
													<div class="fl-module-content fl-node-content">
														<h1 class="fl-heading">
															<span class="fl-heading-text">SecureAdvantage - Flexible Deductible Disease, Sickness and Accident PPO Plans</span>
														</h1>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e4285e890f3c" data-node="5e4285e890f3c">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p>The SecureAdvantage Specified Disease/Sickness and Accident PPO Plans ensure you secure the right level of protection for you and your family to prepare for life’s unpredictable moments. These plans use your selected network and provide flexible options that allow you to choose the most appropriate deductible and coinsurance combination that meets your needs and budget for sickness and accident coverage. You can also enhance your coverage by adding doctor office visits, x-ray, laboratory and prescription drug coverage.</p>
															<p>You may also be interested in coverage for wellness and health screenings. The SecureAdvantage Health &amp; Wellness PPO Plans provide first dollar fixed indemnity benefit payments for wellness and health screening services without having to satisfy a calendar year deductible.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="fl-col fl-node-5e4285e890f3a fl-col-small" data-node="5e4285e890f3a">
											<div class="fl-col-content fl-node-content"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5e4285e890f3e fl-row-default-height fl-row-align-center" data-node="5e4285e890f3e">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e4285e890f3f" data-node="5e4285e890f3f">
										<div class="fl-col fl-node-5e4285e890f40" data-node="5e4285e890f40">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-heading fl-node-5e4285e890f41" data-node="5e4285e890f41">
													<div class="fl-module-content fl-node-content">
														<h2 class="fl-heading">
															<span class="fl-heading-text">The SecureAdvantage Difference</span>
														</h2>
													</div>
												</div>
												<div class="fl-module fl-module-rich-text fl-node-5e5ecf3ea0100 text-list" data-node="5e5ecf3ea0100">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<ul>
																<li><strong>Flexible Deductible Choices</strong> - Choose the most appropriate deductible to meet Your needs and Your budget.</li>
																<li>With the SecureAdvantage Specified Disease/Sickness Plan, the SecureAdvantage Accident Plan, and the SecureAdvantage Health &amp; Wellness Plans You select a PPO network that is available for Your state.</li>
																<li>Each Plan pays in addition to any coverage You have in force.</li>
																<li>Your initial rate is guaranteed for 12 months at no extra charge!<sup>1</sup></li>
																<li><strong>24-Hour coverage,</strong> on or off the job.</li>
																<li>Portable coverage You can take with You even if You move or change jobs.</li>
																<li><strong>The SecureAdvantage Health &amp; Wellness PLUS Plans provide first dollar coverage for Outpatient Doctor's Office Visits.</strong> And with the Special Doctor Office Visit “rollover” feature, if You don’t use Your Doctor Office Visit benefits, You don’t lose them!</li>
																<li><strong>Increasing Lifetime Maximum for both Specified Disease/Sickness &amp; Accident coverage.</strong> Get rewarded for Your good health with Our Increasing Lifetime Maximum for Specified Disease/Sickness and Accident coverage.</li>
																<li>The SecureAdvantage Specified Disease/Sickness Plan, SecureAdvantage Accident Plan, and SecureAdvantage Health &amp; Wellness Plans are not essential health benefit plans under the Affordable Care Act (“ACA”). Instead, they will supplement an essential health benefit plan.<sup>2</sup></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-5e5f89dc5d875 fl-row-default-height fl-row-align-center" data-node="5e5f89dc5d875">
							<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">

									<div class="fl-col-group fl-node-5e5f89dc5d870" data-node="5e5f89dc5d870">
										<div class="fl-col fl-node-5e5f89dc5d873" data-node="5e5f89dc5d873">
											<div class="fl-col-content fl-node-content">
												<div class="fl-module fl-module-rich-text fl-node-5e5f89dc5d874" data-node="5e5f89dc5d874">
													<div class="fl-module-content fl-node-content">
														<div class="fl-rich-text">
															<p><sup>1</sup>The Premium Rate Guarantee Period does not apply to any rate change due to: change of address; addition of Insureds; change of benefits or options; change of Mode Of Premium Payment; different Participating Provider network; Participating Provider network availability, negotiated discounts, or its relationship to the Company; group policy coverage, benefits, limitations, exclusions or premium change; or future requirements of any federal or state law.</p>
															<p><sup>2</sup>The ACA generally required individuals to maintain “minimum essential coverage" or be subject to the payment of the annual shared responsibility payment with the payment of their taxes to the federal government from 2014 – 2018. Congress eliminated the shared responsibility payment in 2019 and beyond for individuals who do not maintain ACA “minimum essential coverage” during 2019 or any year thereafter. The SecureAdvantage Specified Disease/Sickness Plan, SecureAdvantage Accident Plan and SecureAdvantage Health &amp; Wellness Plans provide benefits for covered medical services but are neither traditional major medical plans nor Workers compensation plans under state law. The SecureAdvantage Specified Disease/Sickness Plan, SecureAdvantage Accident Plan and SecureAdvantage Health &amp; Wellness Plans are considered “excepted benefit plans” under the ACA and are not “minimum essential coverage” plans under the ACA.</p>
															<p>SecureAdvantage is not available in all states. Please contact a licensed agent for more information. Limitations, Waiting Periods and Exclusions may apply.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</section>
	</main>
</div>